[2019-02-06 09:39] hanaamohamed commented on #164
Your admin need to allow sharing files across profiles, as instabug is trying to fetch the latest screenshot from your gallery or wherever your screenshot is, so if you didn't grant that permission instabug wouldn't detect any taken screenshot so it won't get invoked.

Also is Pixel2 XL device doesn't have sharing files across profiles permission and invoke instabug anyway or it has the permission

[2019-02-06 09:54] Nastia-SM commented on #146
I have the same issue. Even without making a screenshot. When first popup appears, it can't be dismissed. The code of integration looks like this:
[code]
Device: Samsung S6

[2019-02-06 10:01] mzelzoghbi commented on #146
@Nastia-SM Thanks for reporting this. we need to know some information to be able to tackle this bug
1. Instabug-SDK version
2. Device Android version
3. Does this happen on all devices or on this specific device?
4. If we removed SHAKE from invocation and replaced it with `FLOATING_BUTTON` did the issue still occurs?

[2019-02-06 10:17] Nastia-SM commented on #146
@mzelzoghbi
1) Instabug SDK version 8.0.13
2) Android version 6.0.1
3) We noticed this issue only on this device
4) Unfortunately, yes.

[2019-02-06 10:50] mzelzoghbi commented on #146
@Nastia-SM Can you try to increase shaking threshold using this API and tell us if this will solve the issue or not?
[code]
_Note_: `650` is the default value.

[2019-02-06 11:02] Nastia-SM commented on #146
The problem was gone after pressing on "Suggest an improvement"

[2019-02-08 14:07] ArneKoeckeritz commented on #164
Thx. I will check and test it with my Admin.

[2019-02-10 20:21] paixols opened #165 "InstaBug Onboarding App Launch - Resources not found"
### Steps to Reproduce the Problem

[code]

### Expected Behavior
Show onboarding shaking image on application launch.

### Actual Behavior
Application crashes due to default Instabug integration

### Instabug integration code
[code]

### SDK Version

### Android Version

### Device Model

### Questions
How can I disable the InstaBug onboarding process?

[2019-02-10 20:37] mzelzoghbi commented on #165
Hi @paixols
Thanks for reporting this issue. We tried to reproduce this issue but we couldn't. Could you send a sample app with the issue, please? It will help us to fix the issue quickly.

For you question about disabling onboarding you can use this API
[code]

[2019-02-11 19:21] paixols commented on #165
Hi @mzelzoghbi
I have been receiving this issue on my analytics. It looks like it's only happening on Google Pixel XL phones. I will post more information if this happens on more devices.

I will try to reproduce it locally on other devices so I can share a sample app.

[2019-02-12 08:17] konuhovii opened #166 "Users can't send instabug report."
### Steps to Reproduce the Problem
No specific steps to reproduce the problem. Instabug worked, but now it is not.

### Expected Behavior
Users are able to report bugs through Instabug SDK

### Actual Behavior
Bug reporting not works

### Instabug integration code
Instabug.Builder(this, resources.getString(R.string.instabug_token))
                .setInvocationEvents(InstabugInvocationEvent.SHAKE

[2019-02-12 13:32] hanaamohamed commented on #166
Hello konuhovii,

You can use this snapshot ` implementation 'com.instabug.library:instabug:8.0.19.5-SNAPSHOT'`
and don't forget to add the below snippet to be able to fetch the snapshot
` repositories {
        maven {
            url "https://oss.sonatype.org/content/repositories/snapshots"
        }
    }`

[2019-02-12 15:17] ismaeldosil commented on #137
@rdiaa this fix is in any stable version?

[2019-02-12 17:46] mzelzoghbi commented on #137
Hi @ismaeldosil, This was included in latest release **8.0.19**

[code]

Please feel free to reopen this thread again if you need further help with anything else. Have a good day!

[2019-02-13 08:10] konuhovii commented on #166
Hanaa, thank you for quick response! No errors in logs now, but I still can't send instabug report - the dialog does not appear.

My logs:
02/13 16:59:23: Launching app
I/INSTABUG:
    +---------------------------------------------------------------------------------------+
    |                           [Instabug] Our APIs have changed!                           |
    +--------------------------

[2019-02-13 08:30] mzelzoghbi commented on #150
Hi @eygraber, I’m closing this issue because it has been inactive for a month. Please reopen if you still encounter this issue with the latest version **8.0.19** Thank you! :blush:

[2019-02-13 08:30] #150 closed

[2019-02-13 08:36] mzelzoghbi commented on #155
Hi @mateusgrb, I’m closing this issue because of inactivity. Please reopen if you still encounter this issue with the latest version 8.0.19 Thank you! 😊

[2019-02-13 08:40] mzelzoghbi commented on #161
Hi @SimonPSH, I’m closing this issue because it has been fixed and released. Please reopen if you still encounter this issue with the latest version 8.0.19 Thank you! 😊

[2019-02-13 08:41] #161 closed

[2019-02-13 08:53] Korazy commented on #81
Hey all,

Apologies for the incredibly delayed response! We're currently working on allowing the SDK to take screenshots of hardware accelerated features. While it's not quite ready for release as of yet, we're expecting to release it very soon.

We'll update this issue once it is :)

[2019-02-13 08:53] #81 closed

[2019-02-13 11:17] hanaamohamed commented on #166
Can you please try to use floating button option as invocation option `InstabugInvocationEvent.FLOATING_BUTTON`, and let me know if it still doesn't invoke instabug ?

[2019-02-13 12:11] konuhovii commented on #166
Done. I suppose my app must show me the floating button? It didn't

Logs:
02/13 21:01:59: Launching app
E/com.instabug.library.Instabug: UserSteps with screenshots Mode is disabled please contact support for further details.
I/INSTABUG:
    +---------------------------------------------------------------------------------------+
    |                           [Instabug] Our APIs have changed!

[2019-02-13 14:37] hanaamohamed commented on #166
I updated the snapshot with more logs, refresh your dependencies using this command  `./gradlew build --refresh-dependencies` and please post the entire logs

[2019-02-14 05:11] konuhovii commented on #166
02/14 14:09:38: Launching app
$ adb install-multiple -r -t C:\Users\Igor\StudioProjects\smart.android\app\build\intermediates\resources\instant-run\debug\resources-debug.apk C:\Users\Igor\StudioProjects\smart.android\app\build\intermediates\split-apk\debug\dep\dependencies.apk C:\Users\Igor\StudioProjects\smart.android\app\build\intermediates\split-apk\debug\slices\slice_5.apk C:\Users\Igor\Studio

[2019-02-14 10:05] hanaamohamed commented on #166
You need to clean and rebuild again as your APK isn't generated properly to fix "fileNotFoundException" and resend the logs again, please.

[2019-02-14 11:52] hanaamohamed commented on #166
Hello konuhovii, Could you please try to reach out to us through contactus@instabug.com in order to dig deeper and investigate the issue?

[2019-02-15 03:52] konuhovii commented on #166
Sure. What exactly should I do?

[2019-02-15 06:28] konuhovii commented on #166
The problem is solved.
What to do:
1. close android studio
2. delete all files in ~/.gradle/caches
3. start studio
4. sync gradle
5. clean project
6. rebuild project
8. delete app from device
9. check that all the app directories are deleted
10. run/debug app from studio
I'm not sure what was wrong with build/app, but now I can do instabug reports. Please add fixes from this snapshot to the next i

[2019-02-15 23:11] ZOlbrys commented on #123
@mzelzoghbi Should I open a new ticket to track this? I'm up to version `8.0.19` and the warnings are still being reported.

[2019-02-16 09:44] mzelzoghbi commented on #123
@ZOlbrys can you share with me these warnings, please?

[2019-02-16 17:43] ZOlbrys commented on #123
@mzelzoghbi of course.  Here's some of the output I see with the Instabug 8.0.19:

[code]
You can use the sample app here as well to reproduce this: https://github.com/ZOlbrys/InstabugProguardExample

if I remove the instabug dependency from the project none of these errors are reported.

Please let me know if you'd prefer a new issue, I'll gladly open one!  Thanks for reviewing this!

[2019-02-17 06:49] ZOlbrys opened #167 "Error in console - UserSteps with screenshots Mode is disabled error in logs"
### Steps to Reproduce the Problem
Setup Instabug and run the app

### Expected Behavior
No error reported in console

### Actual Behavior
Error reported in console
[code]

### Instabug integration code
[code]

### SDK Version
8.0.19

### Android Version
API 27 simulator

### Device Model
N/A

### [Optional] Project That Reproduces the Issue
https://github.com/ZOlbrys/InstabugProguardExample

[2019-02-17 08:39] mzelzoghbi commented on #167
Hey @ZOlbrys,

Thanks for reaching out. We recently updated our terms and conditions to improve the privacy of the end users. In doing so, we disabled the visual logging features. We've also updated our SDKs to disable these particular features for the time being, which we always recommend using as it's the latest version.

We're currently working on an updated version of the SDK that will re-enab

[2019-02-17 08:39] #167 closed

[2019-02-18 06:26] mzelzoghbi commented on #152
Hi @alexsullivan114, I’m closing this issue because of inactivity. Please reopen if you still encounter this issue with the latest version 8.0.19 Thank you! 😊

[2019-02-18 06:26] #152 closed

[2019-02-21 15:08] ellasaro opened #168 "Cannot access '<init>': it is public/*package*/ in 'Builder'"
Hi!

I've just added this line to my onCreate:

[code]

I've also tried:

[code]

I get this "Cannot access '<init>': it is public/*package*/ in 'Builder' "

I've added the corresponding lines to the gradle file:'

`implementation 'com.instabug.library:instabug:8+'`

Thanks!

[2019-02-21 15:12] mzelzoghbi commented on #168
Hi @ellasaro, Thanks for reporting this. Seems that you are putting this code in the Activity, which will not work. You should put this code in your Application class. You try this and tell me if you encounter any issues.

[2019-02-21 15:29] ellasaro commented on #168
Yes, that was it. Thank you for your prompt response.

[2019-03-03 15:38] mzelzoghbi commented on #146
I’m glad to hear that everything is working fine now! If the problem occurs again, please feel free to reopen this issue.

[2019-03-03 15:38] #146 closed

[2019-03-03 15:39] mzelzoghbi commented on #166
I’m glad to hear that everything is working fine now! If the problem occurs again, please feel free to reopen this issue.

[2019-03-03 15:39] #166 closed

[2019-03-03 15:40] mzelzoghbi commented on #151
I’m glad to hear that everything is working fine now! If the problem occurs again, please feel free to reopen this issue.

[2019-03-03 15:40] #151 closed

[2019-03-05 11:21] vicobz commented on #128
Hey @mzelzoghbi , any update on this?

[2019-03-06 11:39] nelljohan opened #169 "Feature Request crash: java.lang.NoSuchFieldException"
### Steps to Reproduce the Problem

- Open the Feature Request window using `FeatureRequests.show()`
- Tap either "All Features" or "My Features" at the top

### Expected Behavior

The app to continue functioning as normal

### Actual Behavior

Crash

[code]

This seems related: https://www.reddit.com/r/androiddev/comments/ae4i43/does_android_team_starts_to_abandon_hungarian/

### SDK Version
8.1.

[2019-03-06 11:52] mzelzoghbi commented on #169
Hi @nelljohan, Thanks for reporting this. Can you please share with us you build tools version, support libraries version, Gradle build tools & wrapper versions?

[2019-03-06 11:59] nelljohan commented on #169
Sure, here you go:

[code]

Hope this helps 😄

[2019-03-07 09:02] jdamcd commented on #163
Hey @mzelzoghbi, we just re-tested with the latest version (8.1.1) and this is unresolved. Any update?

[2019-03-07 09:37] mzelzoghbi commented on #163
Hey @jdamcd , Unfortunately this was not included in the latest release, but it is planned to be included in the next release. For now we created a new snapshot **8.1.2.2-SNAPSHOT** that includes this RX fix plus the latest release fixes. It's completely safe to use and has no debug code at all.

[2019-03-07 20:02] paixols opened #170 "ERROR: Failed to resolve: com.instabug.library:instabug-survey:8.1.2.6-SNAPSHOT"
### Steps to Reproduce the Problem
Add Instabug latest version to project gradle
Instabug Version: 8+
### Expected Behavior
Build Project
### Actual Behavior
Failed to resolve Instabug latest Snapshot
### Instabug integration code
[code]
### SDK Version
8+

[2019-03-07 20:03] paixols commented on #170
Currently using Version = "8.1.2" to be able to build the project.

[2019-03-07 20:48] mzelzoghbi commented on #170
Hey @paixols , Thanks for reporting this. We updated our readme.md file with our latest version.
SNAPSHOTS always contains bug fixes made for specific cases. You should always use one of the versions that are on our [releases](https://github.com/Instabug/Instabug-Android/releases) page.

If this SNAPSHOT was made for you so you will need to add these lines to your app **build.gradle** before your

[2019-03-07 20:48] #170 closed

[2019-03-08 11:03] BWMuller commented on #155
Hi @mzelzoghbi, just checked with 8.1.2 and the memory leak is still there. When looking at the delegate file its because there is a WeakReference currentActivity variable as well as a activityInstance that both hold the same activity. The activityInstance should be removed and the currentActivity reference should be used instead. The reference should be cleared once the activity is destroyed.

[2019-03-08 16:33] mzelzoghbi commented on #155
Hi @BWMuller,  This fix is planned to be included in the next release, however, we created a new snapshot **8.1.2.9-SNAPSHOT** from the latest version. It's completely safe to use and has no debug code at all. I'll reopen this and keep it opened till this fix is officially released.

[2019-03-08 19:12] trevjonez commented on #163
@mzelzoghbi still broken in 8.1.2.2-SNAPSHOT
![image](https://user-images.githubusercontent.com/5386503/54049288-5302b980-4199-11e9-9761-f7157b48b6cc.png)

simply add `RxJavaPlugins.lockdown()` before attempting to init instabug and it will explode when the call is made.

Instabug should not need to be aware of rx in the client at all.

and a workaround that doesn't feel as bad as using snapshots:

[2019-03-09 11:45] mzelzoghbi commented on #163
Hi @trevjonez, We tried this and it worked without any issues. Can you please share with us a sample app?

[2019-03-10 08:24] BWMuller commented on #155
Hi @mzelzoghbi. Thank you for the update. I had a look at the snapshot. The weakreference just needs to be cleared when the activity is destroyed in the handleActivityDestroyedEvent method

[2019-03-10 09:41] mzelzoghbi commented on #155
Hi @BWMuller, can you check this snapshot please **8.1.2.11-SNAPSHOT** ?

[2019-03-10 17:00] BWMuller commented on #155
Hi @mzelzoghbi, seems to be releasing the activity fine now according to LeakCanary. Thank you for the effort

[2019-03-10 17:02] mzelzoghbi commented on #155
@BWMuller Glad to hear that things are solved now :) If you face any problem, I will be happy to help you. Have a nice day 😄

[2019-03-11 03:18] pan-haos commented on #8
How did you fix it , I just face the same probleam with bad-base64 , I also use base64 decode a base-64,Ios can decode it ,but Android cannot

[2019-03-11 11:23] jdamcd commented on #163
Oh cool, I didn't know about `RxJavaPlugins.lockdown()`!

We're using a similar workaround at the moment, but haven't tested out the latest snapshots, since we're not comfortable using a snapshot in production.

[2019-03-11 13:01] mzelzoghbi commented on #163
@jdamcd Snapshots are completely safe to use and have no debug code at all and we never override a snapshot once it is created.

[2019-03-11 13:16] jdamcd commented on #163
Even so, a snapshot _could_ be replaced, even accidentally. That's a big risk. We'd rather wait for the fix in a stable release.

[2019-03-15 19:00] Axrorxoja commented on #126
I have same issue in in 8.1.2 version
`java.lang.NoSuchMethodError: No virtual method setHeaders(Ljava/lang/String;)V in class Lcom/instabug/library/model/NetworkLog; or its super classes (declaration of 'com.instabug.library.model.NetworkLog' appears in /data/app/com.mysuperdispatch.android-XXXJAfLGgWcyo1G0xvz6vg==/split_lib_slice_0_apk.apk!classes2.dex)
        at com.instabug.library.okhttplogg

[2019-03-17 06:01] mzelzoghbi commented on #126
Hi @Axrorxoja , Thanks for reporting this. We think that this issue is not related to the one mentioned in the thread from the beginning. Can you double check it? Also, You should be sure that you are using the latest version of `instabug-with-okhttp-interceptor`  which is **8.1.2**.

[2019-03-18 06:10] Axrorxoja opened #171 "NoSuchMethodError: No virtual method setHeaders(Ljava/lang/String;)V in class NetworkLog"
Hi, after update latest version of Instabug, we can't build app because of this issue
[code]

[2019-03-18 08:44] Axrorxoja commented on #126
Hi @mzelzoghbi thank you for feedback

[2019-03-18 08:45] #171 closed

[2019-03-18 09:51] salmamali commented on #148
@adapptor-kurt
This issue was fixed as of version 8.1.2. Please update to the latest instabug-reactnative version.

[2019-03-18 09:52] #148 closed

[2019-03-18 09:55] mzelzoghbi commented on #157
Hi @mussa-ibragimov, I’m closing this issue because it has been inactive for a month. Please reopen if you still encounter this issue with the latest version 8.1.2 Thank you! 😊

[2019-03-18 09:55] #157 closed

[2019-03-18 09:56] mzelzoghbi commented on #159
Hi @nishtahir, I’m closing this issue because it has been inactive for a month. Please reopen if you still encounter this issue with the latest version 8.1.2 Thank you! 😊

[2019-03-18 09:57] #159 closed

[2019-03-18 10:02] salmamali commented on #162
@saadq This issue was fixed as of version 8.1.2. Please update to the latest version of instabug-reactnative.

[2019-03-18 10:02] #162 closed

[2019-03-18 10:10] mzelzoghbi commented on #126
Awesome! Glad everything is working out now 😄

[2019-03-18 17:00] ismaeldosil commented on #137
https://github.com/Instabug/Instabug-Android/issues/137#issuecomment-462861127

Hey @mzelzoghbi, Im using instabug 8.1.= and I still seeing ths issue.
Im using this configuration:

Could you reopen this?

[code]

[2019-03-20 03:46] ajaysharma1990 commented on #128
Attempt to invoke virtual method 'java.util.Locale com.instabug.library.g.b.a(android.content.Context)' on a null object reference

[2019-03-20 10:52] mzelzoghbi commented on #128
@vicobz can you please try our latest version 8.1.2 it should fix this issue.

[2019-03-20 10:54] mzelzoghbi commented on #128
@ajaysharma1990 Can you please provide us with Instabug SDK Version, OS version, full stack trace, and repro steps if there are any?

[2019-03-20 11:13] ajaysharma1990 commented on #128
hi @mzelzoghbi  I am using implementation 'com.instabug.library:instabug:4.2.11.5-SNAPSHOT'  library for instabug and 3-4 issue are getting every day.

[2019-03-20 11:18] mzelzoghbi commented on #128
@ajaysharma1990 Wow, This is a very old version. can you migrate to 8.1.2? it contains many bug fixes and also many new features.

[2019-03-20 11:21] ajaysharma1990 commented on #128
@mzelzoghbi Thanks

[2019-03-20 11:25] ajaysharma1990 commented on #128
@mzelzoghbi  Can you please help me for this issue also. Not allowed to start service Intent { cmp=com.WegileWildcard.transform905009/com.instabug.library.network.worker.uploader.InstabugSessionUploaderService }: app is in background uid UidRecord{10bdbc0 u0a147 TRNB idle procs:1 seq(0,0,0)}.

[2019-03-20 11:29] mzelzoghbi commented on #128
@ajaysharma1990 This is already fixed on our latest version

[2019-03-20 11:40] ajaysharma1990 commented on #128
@mzelzoghbi Thank you so much.

[2019-03-21 07:14] Axrorxoja opened #172 "java.lang.NoSuchMethodError on addOnTabSelectedListener"
[code]
<img width="1357" alt="Screen Shot 2019-03-21 at 12 09 34 PM" src="https://user-images.githubusercontent.com/5182036/54737641-d4fbd500-4bd2-11e9-99aa-50ae91a10cc1.png">

[2019-03-21 10:29] hanaamohamed commented on #172
Hello Axrorxoja, what android version are you using?

[2019-03-21 11:23] Axrorxoja commented on #172
Assalom alaykum @hanaamohamed, please see the photo taken from the crashlitcs
this happens in the Android OS 26+

[2019-03-21 19:13] hanaamohamed commented on #172
WS, Sorry i didn't mean that, I meant android support library version

[2019-03-21 19:51] Axrorxoja commented on #172
@hanaamohamed I used android-28.0.0

[2019-03-22 17:16] trevjonez commented on #163
@mzelzoghbi if you just add that `RxJavaPlugins.lockdown()` to any app that uses instabug before instabug has been initialized you will reproduce the issue.

Also keep in mind there is probably a HUGE number of issues in production code that are effectively being try/catch/ignored by this issue. it is as though the instabug android sdk is doing exactly the sort of thing it should be trying to prev

[2019-03-22 18:39] eygraber opened #173 "Screen recording abruptly ends after 30 seconds"
I can record the screen for up to 30 seconds. After that, recording abruptly ends with no warning to the user, and takes me back to the bug reporting activity.

[2019-03-22 18:54] eygraber opened #174 "Screen recordings not attaching to bug reports"
I've filed a few bug reports, and none of the screen recordings that I made are getting attached. A screenshot does.

This occurs on 8.0.19 and 8.1.2

[2019-03-22 22:23] Korazy commented on #174
Hey @eygraber
Would you be able to reach out to our support team using contactus@instabug.com so that we can further investigate this issue?

[2019-03-25 02:23] thuutin opened #175 "Version 8.1.2 include libconstant.so to only 4 native platforms"
### Steps to Reproduce the Problem
Build a project that depends on version 8.1.2 of the `instabug` and `instabug-with-okhttp-interceptor` artifacts. If you analyze the apk, you will see `libconstant.so` in only 4 native platforms.
<img width="526" alt="Screen Shot 2019-03-25 at 9 21 51 AM" src="https://user-images.githubusercontent.com/5516438/54891328-91111480-4edf-11e9-9bb9-3918ae77981a.png">
Ve

[2019-03-25 04:58] ajaysharma1990 commented on #128
hi @mzelzoghbi  i am getting this error with your latest dependency  8.1.2

Caused By : Unable to open the database file.
    	(unable to open database file (code 14): , while compiling: PRAGMA journal_mode)
    #################################################################
        at android.database.sqlite.SQLiteConnection.nativePrepareStatement(Native Method)
        at android.database.sqli

[2019-03-25 09:42] mzelzoghbi commented on #175
Hi @thuutin, Thanks for reporting this. Looking in this [Official Documentation]( https://developer.android.com/ndk/guides/abis.html) we support 4 out of 5 ABIs & the last one's support was dropped in r17. Can you tell us what are the missing ABIs or your use-case?

[2019-03-25 09:48] mzelzoghbi commented on #128
@ajaysharma1990 Thanks for reporting this. This is not the same crash in the thread, so please can you open a new issue and fill the template with the details to help us investigate more.

[2019-03-26 09:08] biokys opened #176 "IllegalArgumentException: reportSizeConfigurations and RuntimeException: Unable to start activity"
Hi, We are pretty new to Instabug. After first deployment into the production, we are having 2 different exceptions, placed below. Also I am enclosing code, how we interact with SDK. Any ideas where problem could be?

### Actual Behavior

The first one

[code]

The second one

[code]

### Instabug integration code

Initialization (in Application class)
[code]

And later in the app (after sigin-in)

[2019-03-27 09:40] mzelzoghbi commented on #176
Hi @biokys, Thanks for pointing this out, we are looking into it and will get back to you.

[2019-03-28 02:26] dung90it opened #177 "crashed when using Instabug"
### Steps to Reproduce the Problem

### Expected Behavior
show screen Instagbug and submit issues
### Actual Behavior
crashed when open Instabug.

### Instabug integration code
  Instabug.Builder(this, WebServiceApi.INSTABUG_KEY)
                .setReproStepsState(State.DISABLED)
                .build()
        FeatureRequests.setEmailFieldRequired(false, ActionType.ADD_COMMENT_TO_FEATURE)

[2019-03-28 08:25] mzelzoghbi commented on #177
Hi @dung90it, Thanks for reporting this, can you provide us with the stack trace or a sample app with the issue?

[2019-03-28 09:49] mzelzoghbi commented on #176
Hi @biokys, After investigating, this is an issue in the android framework and will be fixed in Android Q, you can get more context from google issue tracker at this [link](https://issuetracker.google.com/issues/119763078)

[2019-03-29 12:16] hienao opened #178 "have no record video option"
### Steps to Reproduce the Problem
After I use the sdk in my app,when I shake to report a bug,I can't see the option to choose picture or record a video ,I have invoke the code as document
BugReporting.setAttachmentTypesEnabled(true, true, true, true);
### Expected Behavior
I can choose picture or record a video
### Actual Behavior

### Instabug integration code
*Make sure to remove your app token

[2019-03-29 12:19] hienao commented on #178
And  some string the translation of zh_CN is error  example :instabug_str_bugreport_dismiss_cancel
you used the Chinese Traditional ，it should be simplified Chinese

[2019-03-29 20:33] eygraber opened #179 "AndroidX"
Please update to use androidx dependencies. This library is the only thing preventing us from turning off jetifier.

[2019-03-29 20:48] mzelzoghbi commented on #178
Hey @hienao
Would you be able to reach out to our support team using contactus@instabug.com so that we can further investigate this issue?

[2019-03-29 22:14] eygraber opened #180 "Show touches in screen recording"
Is there any way to show screen touches while recording the screen (without the user needing to do anything)?

[2019-03-29 22:34] darrillaga commented on #117
Same issue here, not being able to workaround it

[2019-03-29 22:37] darrillaga commented on #117
version 8.2.0

[2019-03-29 23:31] mzelzoghbi commented on #117
Hey @darrillaga
Would you be able to reach out to our support team using contactus@instabug.com so that we can further investigate this issue?

[2019-03-31 18:00] fchicken opened #181 "IllegalStateException: DatabaseManager is not initialized, call init(..) method first."
Hi, we found an exception in our production. Below is the stack trace. Any help would be appreciated, thanks!

[code]

### Instabug integration code
[code]
### SDK Version
8.2.0

### Android Version
4~9

### Device Model
various devices

[2019-04-01 11:58] mzelzoghbi commented on #181
Hi @fchicken, Thanks for reporting this, We created a **SNAPSHOT** that sould fix the issue, Can you please try it and tell us if the snapshot fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-04-01 18:03] renanferrari commented on #169
Running on the same problem here when tapping one of the tabs, but with a different stack trace:

[code]

Instabug SDK version: 8.1.1
Android Version: 9
Devicel model: Motorola One

[code]

I have another app with similar configurations, except for AndroidX, where the issue doesn't happen. I'm guessing it's something related to that?

[2019-04-01 23:43] mzelzoghbi commented on #169
Would you be able to try this **SNAPSHOT** and let me know if the issue is fixed for you?

[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-04-02 08:01] Korazy commented on #180
Hey @eygraber

Thanks for reaching out! While we currently don't support this particular feature, I'd love to know why this would be particularly useful as opposed to the user steps for example. Wouldn't the user steps feature fulfill the same use case?

[2019-04-02 08:05] fchicken commented on #181
Hi @mzelzoghbi, I've tried the snapshot and it fixes the issue, thanks!

[2019-04-02 08:06] #181 closed

[2019-04-02 13:08] mzelzoghbi commented on #172
Hi @Axrorxoja, Would you be able to try this **SNAPSHOT** and let me know if the issue is fixed for you?

[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-04-02 13:47] mzelzoghbi commented on #179
Hi @eygraber, Thanks for reaching out. Can you try excluding the support libraries from Instabug with turning off the jetifier and check if it will work or not?
[code]

[2019-04-02 13:49] #178 closed

[2019-04-02 13:51] #176 closed

[2019-04-02 14:05] eygraber commented on #180
It's nice to be able to watch the video and see what's happening without having to also look at the user steps.

[2019-04-02 15:13] renanferrari commented on #169
@mzelzoghbi That worked for me 👍

[2019-04-02 15:19] #174 closed

[2019-04-02 15:34] mzelzoghbi commented on #154
Hi @mateusgrb, currently we update the `Readme.md` , `CHANGELOG.md` and our releases with every release we do, So I'm closing this issue. Please feel free to reach out if you need anything else.

[2019-04-02 15:34] #154 closed

[2019-04-03 05:11] Axrorxoja commented on #172
okay @mzelzoghbi, thank you

[2019-04-03 12:30] msoliman commented on #173
@eygraber This is the current behavior of the screen recording. There's a limit on the recording length set at 30 seconds.

Is your concern about the fact that there's a length limit, or the experience of ending the screen recording?

[2019-04-03 12:33] Korazy commented on #180
Thank you very much for the feedback, I will definitely be communicating that with the product team to take into consideration for future releases :)

[2019-04-03 12:33] #180 closed

[2019-04-08 21:06] MCeley commented on #149
@svalsan-lyft What device is WindsongAOB? I'm seeing a similar device name reporting from my ADT-1, but I also see the device reporting correctly as the ADT-1.

[2019-04-12 17:17] MaxInMoon opened #186 "[Android] floating button: how to position it from bottom?"
### Steps to Reproduce the Problem

[code]

### Expected Behavior

Be able to position the floating bouton from the bottom, or to calculate a distance from the top in java.

### Actual Behavior

For iOS I do so in Javascript, but it has no effect on Android:

[code]

But I didn't find a clean way to do it in `MainApplication.java`.

### SDK Version

`8.2.2`

[2019-04-15 06:16] chenliuyun opened #184 "Crash:IllegalStateException"
### Steps to Reproduce the Problem
show screen Instagbug and submit issues
### Actual Behavior
some user crashed
### Instabug integration code

new Instabug.Builder(this, BuildConfig.DEBUG ? "xx" : "xx")
.setInvocationEvents(InstabugInvocationEvent.NONE)
.build();
Instabug.setColorTheme(InstabugColorTheme.InstabugColorThemeLight);
Instabug.setWelcomeMessageState(WelcomeMessage.State.DISABLED);
Bug

[2019-04-15 06:22] theywrong commented on #184
Help my whole device is controled

[2019-04-15 07:42] StuStirling opened #185 "Shake Not Working on Certain Devices"
### Steps to Reproduce the Problem

Shake the device.

### Expected Behavior

The bug report dialog should display

### Actual Behavior

Nothing happens

### Instabug integration code

[code]

### SDK Version

`8.2.2`

### Android Version

9.0
Target SDK - 28
Compile SDK - 28

### Device Model

One Plus 6T
Huawei P20

### Other Info

Seems to work on a Samsung S8 Android 9.0

Adding the floating b

[2019-04-15 07:43] StuStirling commented on #185
This is similar to #156 but not limited to Samsung Note 8

[2019-04-17 01:46] chenliuyun commented on #184
Hello,any update?

[2019-04-17 11:12] mzelzoghbi commented on #184
Hi @chenliuyun , Thanks for reporting this, We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if the snapshot fixed the issue for you?

[code]
you will need to add these lines to your app `build.gradle` before your dependencies
[code]

This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-04-17 18:02] JinghaoYJH opened #187 "8.0.26 java.lang.RuntimeException: Unable to start activity ComponentInfo{mycompany/com.instabug.library.ui.Activity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.settings.b.h(boolean)' on a null object reference"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{mycompany/com.instabug.library.ui.Activity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.settings.b.h(boolean)' on a null object reference
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3086)
       at android.app.ActivityThread.handleL

[2019-04-18 01:44] chenliuyun commented on #184
Hi, @mzelzoghbi ,I am sorry  forget to mention that we have tried the version(8.2.0.5-SNAPSHOT) after checked [issue181](https://github.com/Instabug/Instabug-Android/issues/181) .But the problem is still there.

[2019-04-18 09:12] mzelzoghbi commented on #184
@chenliuyun Can you reproduce it on a sample project ?

[2019-04-19 15:24] theywrong commented on #184
I'm going to send my bug report

On Apr 17, 2019 7:12 AM, "Mohamed Zakaria El-Zoghbi" <
notifications@github.com> wrote:

[2019-04-19 15:24] theywrong commented on #184
OK,???

On Apr 17, 2019 7:12 AM, "Mohamed Zakaria El-Zoghbi" <
notifications@github.com> wrote:

[2019-04-21 10:37] mzelzoghbi commented on #184
Hey @theywrong
Would you be able to reach out to our support team using contactus@instabug.com so that we can further investigate this issue?

[2019-04-21 10:39] mzelzoghbi commented on #185
Hi @StuStirling, Thanks for reporting this.
Is the integration code written in the Application, or in Activity class?

[2019-04-21 15:13] theywrong commented on #184
Ok

On Apr 21, 2019 6:37 AM, "Mohamed Zakaria El-Zoghbi" <
notifications@github.com> wrote:

Hey @theywrong <https://github.com/theywrong>
Would you be able to reach out to our support team using
contactus@instabug.com so that we can further investigate this issue?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/Instabug/In

[2019-04-22 09:55] salmamali commented on #147
@SudoPlz
This was fixed on the latest version of instabug-reactnative. Please update and feel free to reopen the issue if there are any problems.

[2019-04-22 09:55] #147 closed

[2019-04-22 10:09] SudoPlz commented on #147
Hey @salmamali what version of instabug-reactnative is that fixed on?

Thank you

[2019-04-22 15:10] #175 closed

[2019-04-22 15:10] #164 closed

[2019-04-22 15:13] mzelzoghbi commented on #165
Hi @paixols, I’m closing this issue because it has been inactive for a month. Please reopen if you still encounter this issue with the latest version 8.2.2 Thank you! 😊

[2019-04-23 12:34] dri94 opened #188 "BaseFragment should be renamed"
Instabug is using BaseFragment as its custom fragment name. However this is a common name used by most companies to remediate the issue of duplicate code. It causes confusion when using the IDE and having multiple "BaseFragment"'s pop up. Instabug should rename their's to InstabugFragment to make it clear and not cause confusion for other's in their projects.

### Steps to Reproduce the Problem

C

[2019-04-23 14:49] StuStirling commented on #185
Hi @mzelzoghbi this is being instantiated in the `Application`.

[2019-04-23 20:00] mzelzoghbi commented on #185
Hi @StuStirling, we tested it on One Plus 6T Android 9 and it worked fine if you can reproduce the issue on a sample app, it will be great to share it with us.

[2019-04-24 02:32] cpetzel opened #189 "BugReporting.setInvocationEvents() function does not work on Android at runtime"
Our app toggles the Instabug bubble on and off based on certain conditions via the `BugReporting.setInvocationEvents()` function.
When we try to toggle it back on, the bubble never appears. See gif below

### Steps to Reproduce the Problem

To debug this, I verified that the  SDK's `InvocationManager` is updated with the latest values by putting debug statements in the `setInvocationEvents` method

[2019-04-24 18:27] lassana commented on #149
Hi there!
Does anyone know what `WindsongAOB` is?

[2019-04-25 05:06] DarushDev commented on #7
I am using version '8.2.2' and cannot find setDialog(Dialog dialog) method. What is the current solution?

[2019-04-25 05:08] DarushDev commented on #7
I am using version '8.2.2' and setDialog(Dialog dialog) method is deprecated and no longer available. What is the current solution?

[2019-04-25 14:13] rajasekaranm opened #190 "java.lang.NullPointerException: Attempt to invoke virtual method 'com.instabug.library.model.State com.instabug.bug.model.a.getState()' on a null object reference BugReportingFragment.java:264"
Hi,

### Instabug integration code

**Gradle;**

`implementation 'com.instabug.library:instabug:8.2.2'`

**Java:**

` new Instabug.Builder(this, BuildConfig.INSTABUG_KEY)
                .setInvocationEvents(InstabugInvocationEvent.SHAKE)
                .build();`

**SDK Version :** 28

**Device version :**  Android P

**Device Model :**  samsung SM-G950F

**Log:**

`java.lang.NullPointerExceptio

[2019-04-26 08:50] adavis opened #191 "Fatal Exception: java.lang.IllegalStateException: DatabaseManager is not initialized"
### Steps to Reproduce the Problem
I don't know where this is happening.

### Expected Behavior
No crash

### Actual Behavior
[code]

### Instabug integration code
[code]

### SDK Version
8.2.2

### Android Version
 4.4.2, 5.1, 7.0

### Device Model
TECHNO, Samsung

[2019-04-26 09:22] francesctt commented on #191
Same crash is seen on our side :-(

[2019-04-26 18:01] protemus commented on #191
We are also seeing this same issue in com.instabug.library:instabug:8.2.2.  Looking over a previous issue report I found an old comment that says it was fixed in this SNAPSHOT:  com.instabug.library:instabug:8.2.0.5-SNAPSHOT.  I switched to that snapshot and it works for me now.

Has this fix not made it to the main distribution of com.instabug.library:instabug:8.2.2?

[2019-04-27 20:13] mzelzoghbi commented on #190
Hey @rajasekaranm

Thanks for reporting this, you can use this snapshot
[code]
And don't forget to add this to your app **build.gradle** before your dependencies
[code]
Please let me know if everything works out.

[2019-04-27 20:52] mzelzoghbi commented on #191
Hi @adavis @protemus , Thanks for reporting this, This fix will be included in the next release, for now we created a new **SNAPSHOT** from the latest distribution
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]

[2019-04-29 14:06] gchouhan-systango opened #192 "Memory leaked"
Hi thanks for providing this great bug reporting library. I integrated in one of project and it leaks memory, Currently I am using this library version

Please check with screenshot and please let me know if any solution for this

![image](https://user-images.githubusercontent.com/48754695/56901542-07dc9700-6ab6-11e9-832a-18616469918c.png)

![image](https://user-images.githubusercontent.com/487546

[2019-04-29 15:40] Muhammadyoussef commented on #192
Hi @gchouhan-systango

Thanks for reaching out. We have a fix planned for release specifically for this issue. This fix should be released within the coming weeks.

Until then, I've created a snapshot for you to use with the fix. The snapshot version is: `8.2.2.14-SNAPSHOT`

Please feel free to reopen the issue if it still occurs :)

[2019-04-29 15:40] #192 closed

[2019-04-30 05:28] gchouhan-systango commented on #192
Thanks @Muhammadyoussef , I will check with this new version, I will let you know if leak still occur

[2019-05-01 15:56] Muhammadyoussef commented on #187
Hello @JinghaoYJH
Is this crash consistent.

[2019-05-02 21:35] mateusgrb commented on #155
Hey @mzelzoghbi, I tried the following versions:
8.2.2.11-SNAPSHOT
8.2.2
8.2.0
8.0.19

All of them still have the memory leak.

The only one I found with the leak fixed is 8.1.2.11-SNAPSHOT.

[2019-05-02 22:31] mzelzoghbi commented on #155
Hello @mateusgrb, this fix will be released the next week, for now, you can try this snapshot from latest version **8.2.2.16-SNAPSHOT**

[2019-05-06 10:46] mzelzoghbi commented on #163
Hi @jdamcd, I’m closing this issue because it has been fixed and released. Please reopen if you still encounter this issue with the latest version 8.3.0 Thank you! 😊

[2019-05-06 10:46] #163 closed

[2019-05-06 10:47] mzelzoghbi commented on #155
Hi @mateusgrb, I’m closing this issue because it has been fixed and released. Please reopen if you still encounter this issue with the latest version **8.3.0** Thank you! 😊

[2019-05-06 10:47] #155 closed

[2019-05-06 10:49] mzelzoghbi commented on #191
Hi @adavis @protemus , I’m closing this issue because it has been fixed and released. Please reopen if you still encounter this issue with the latest version **8.3.0** Thank you! 😊

[2019-05-06 10:49] #191 closed

[2019-05-06 10:49] #184 closed

[2019-05-06 10:50] mzelzoghbi commented on #190
Hi @rajasekaranm, I’m closing this issue because it has been fixed and released. Please reopen if you still encounter this issue with the latest version **8.3.0** Thank you! :blush:

[2019-05-06 10:50] #190 closed

[2019-05-06 21:27] JinghaoYJH commented on #187
I didn't see any crash after upgrading instabug to the newest version

[2019-05-06 22:03] mateusgrb opened #193 "Welcome message is displayed despite it being disabled in code"
### Steps to Reproduce the Problem
1. Disable Instabug welcome messages with `Instabug.showWelcomeMessage(WelcomeMessage.State.DISABLED)`
2. Run that app for the 1st time(or clear data before).

### Expected Behavior
No welcome message is displayed.

### Actual Behavior
Welcome message is displayed(`We are always happy to hear your thoughts...`)

### Instabug integration code
[code]

### SDK Versi

[2019-05-07 07:39] Muhammadyoussef commented on #187
@JinghaoYJH  Great! I'm glad to know your issues has been resolved.
I'll close this issue for now; feel free to reopen it if you faced it again :)

[2019-05-07 07:39] #187 closed

[2019-05-07 08:38] Muhammadyoussef commented on #193
Hi @mateusgrb , we are sorry for this inconvenience.
`Instabug.showWelcomeMessage(..)` is intended only for [showing welcome message manually](https://docs.instabug.com/docs/android-onboarding-experience#section-showing-the-welcome-message-manually) either in live or in beta. To [set welcome message mode](https://docs.instabug.com/docs/android-onboarding-experience#section-setting-the-welcome-mess

[2019-05-07 11:24] jdamcd commented on #163
Thanks for the update. Looking good to us! 🎉

[2019-05-07 14:07] mateusgrb commented on #193
@Muhammadyoussef thanks, that did it for me.

[2019-05-07 14:07] #193 closed

[2019-05-21 14:02] pahakorolev opened #194 "Fatal Exception: java.lang.RuntimeException android.os.TransactionTooLargeException"
### Stack trace
Fatal Exception: java.lang.RuntimeException: android.os.TransactionTooLargeException: data parcel size 1948240 bytes
       at android.app.servertransaction.PendingTransactionActions$StopInfo.run(PendingTransactionActions.java:160)
       at android.os.Handler.handleCallback(Handler.java:891)
       at android.os.Handler.dispatchMessage(Handler.java:102)
       at android.os.Looper

[2019-05-21 14:17] Muhammadyoussef commented on #194
Hi @pahakorolev ,
Would you please include the steps to reproduce (if any) and wether or not it happens with a specific Instabug view or multiple ones? (i.e. Bug reporting)

Also it will be really helpful to enable Instabug debug logs and share with us the set of logs right before this crash occurs.
To enable Instabug debug logs you will have to add the following line right after the integration c

[2019-05-21 14:39] pahakorolev commented on #194
To my regret, this problem is not reproduced on our devices. According to the user's steps, it is reproduced after the device is shaken. As an android developer, I can assume that the problem is in transferring a screenshot of the screen through the PendingTransaction with size 1948240 bytes.

[2019-05-21 22:34] qandeelabbassi commented on #33
@tarek360 tested on Huawei Mate 10 (lite). Screenshot gesture not working with latest sdk as of now.

[2019-05-22 05:46] pouyactm commented on #149
Does anyone know what WindsongAOB is?

[2019-05-22 11:46] Muhammadyoussef commented on #194
Hi @pahakorolev ,
Just to let you know, we pass `Uri`s and we make sure we never exceed the transaction limit. So, chances are that this crash is not caused by Instabug.
Please let me know if you have any further concerns ^^

[2019-05-22 14:39] pahakorolev commented on #194
Hi @Muhammadyoussef ,
Thank you. We will try to find out additional details about this issue.

[2019-05-22 14:39] #194 closed

[2019-05-23 01:36] pamelaschuldiner commented on #149
Same here! What is that?

java.lang.RuntimeException: Unable to start service com.instabug.chat.network.InstabugMessageUploaderService@9a066a6 with Intent { cmp=com.principal.dx.cuprumapp/com.instabug.chat.network.InstabugMessageUploaderService }: java.util.concurrent.RejectedExecutionException: Task android.os.AsyncTask$3@8f08801 rejected from java.util.concurrent.ThreadPoolExecutor@f5c77d2[Runni

[2019-05-23 01:37] pamelaschuldiner commented on #149
Same here! What is that?

java.lang.RuntimeException: Unable to start service com.instabug.chat.network.InstabugMessageUploaderService@9a066a6 with Intent { cmp=com.example/com.instabug.chat.network.InstabugMessageUploaderService }: java.util.concurrent.RejectedExecutionException: Task android.os.AsyncTask$3@8f08801 rejected from java.util.concurrent.ThreadPoolExecutor@f5c77d2[Running, pool size =

[2019-05-23 01:45] jaspinderkaur commented on #131
Hi,
I am getting the same error using  instabug-with-okhttp-interceptor:8.3.1
the org.jacoco.agent dependency is producing errors when executing a lint check :

[code]

[2019-05-23 10:55] mykhailo-gaidai commented on #165
@mzelzoghbi although I'm not the OP, I'm having multiple occurrences of this issue on 8.2.2 and 8.3.0 over the last couple of weeks

[2019-05-24 05:48] Axrorxoja opened #195 "IllegalStateException DatabaseManager is not initialized, call init method first"
![photo_2019-05-24_10-39-27](https://user-images.githubusercontent.com/5182036/58305340-2f065a00-7e11-11e9-99b7-6e6ad49021a7.jpg)

### androidX

### android 8.0.0

### Samsung A5 2017

### Crashed on the fly

### Instabug version 8.3.1 latest

[2019-05-24 09:37] Axrorxoja commented on #195
`2019-05-24 14:36:43.816 15617-15719/com.mysuperdispatch.android E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.mysuperdispatch.android, PID: 15617
    java.lang.IllegalStateException: DatabaseManager is not initialized, call init(..) method first.
        at com.instabug.library.internal.storage.cache.db.DatabaseManager.getInstance(DatabaseManager.java:24)
        at com.in

[2019-05-24 09:38] Axrorxoja commented on #195
2019-05-24 14:36:43.816 15617-15719/com.xxx.yyy E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.xxx.yyy, PID: 15617
    java.lang.IllegalStateException: DatabaseManager is not initialized, call init(..) method first.
        at com.instabug.library.internal.storage.cache.db.DatabaseManager.getInstance(DatabaseManager.java:24)
        at com.instabug.library.logging.b.a(Instab

[2019-05-25 07:16] hugosvent opened #196 "Failed resolution of UserAttributesDbHelper"
### Steps to Reproduce the Problem
Sending report success

### Expected Behavior
Don't crash, and bug sent to dashboard

### Actual Behavior
Crash after sending bug report, bug sent are not recorded in dashbaord

### Instabug integration code
[code]

stacktrace :
[code]

[2019-05-27 08:25] hugosvent commented on #196
fixed it by synchronizing instabug and instabug-with-okhttp-interceptor version.

should have not use 8+ version on instabug-with-okhttp-interceptor

[2019-05-27 08:25] #196 closed

[2019-05-28 11:16] hugosvent commented on #163
I encountered this on 8.4.0 on release variant,
weird that it works on debug mode but not release mode

[2019-05-29 04:59] doerstechenterprise commented on #149
WindSongAOB Is a Bot Device owned by Google playstore Review Team .

[2019-05-29 08:53] mzelzoghbi commented on #195
Hey @Axrorxoja, Thanks for reaching out, This issue has been solved in our latest release **8.4.0**, Please reopen if you still encounter this issue Thank you! 😊

[2019-05-29 08:53] #195 closed

[2019-05-29 10:39] Axrorxoja commented on #195
@mzelzoghbi thank you too much :)

[2019-05-29 11:01] #169 closed

[2019-05-29 11:09] hanaamohamed commented on #149
Hello @pamelaschuldiner, This is a different issue, you can use our latest version 8.4.0 and if you still facing it, feel free to open an issue with it.
@svalsan-lyft I'm closing this issue, feel free to reopen it if you still facing it.

[2019-05-29 11:09] #149 closed

[2019-05-29 11:30] hanaamohamed commented on #185
@StuStirling, I'm closing this issue since it's been inactive for a month, also you can update to our latest version 8.4.0 and feel free to reopen it if you could reproduce it in a sample app

[2019-05-29 11:30] #185 closed

[2019-05-29 12:44] #172 closed

[2019-06-07 00:08] FrancoSabadini opened #197 ""Multiple entries with same key" error when trying to run instrumented tests for the release build"
### Steps to Reproduce the Problem

Try to run instrumented tests for a **release** build of an app that uses Instabug.

These are the Gradle dependencies:

[code]

### Expected Behavior

Tests run as expected.

### Actual Behavior

Build fails with the following error:

[code]

I tried removing the `instabug-with-okhttp-interceptor` dependency (and the respective code) and then the error change t

[2019-06-07 01:17] FrancoSabadini commented on #197
After trying different things I made it work by adding the following to my `proguard-rules.pro` file:

[code]

This is not ideal though as it means none of the Instabug classes will be affected by R8. Maybe there are less restrictive rules we can use?

[2019-06-07 12:36] amrbrkt commented on #197
Hi @FrancoSabadini,
Thanks for reporting that, we'll be looking into it.
Would you please tell me if you are facing any kind of these problems if `R8` isn't enabled?

[2019-06-07 13:53] dimmetrius opened #198 "Error inflating class com.instabug.library.view.IconView"
### Steps to Reproduce the Problem
trying to add instabug to simple flutter application

add to build.gradle
[code]

created a new Java class that extends FlutterApplication and add it to AndroidManifest.xml.

[code]
### Expected Behavior

### Actual Behavior
crash on opening feedback screen

[code]
E/AndroidRuntime( 5263): android.view.InflateException: Binary XML file line #60: Binary XML file l

[2019-06-07 20:25] FrancoSabadini commented on #197
I tried disabling R8, but then a bunch of other problems appeared (not
related to the Instabug SDK) and I didn't have time to fix them all so I
had to enable it back.

On Sat, 8 Jun 2019, 00:37 Amr Barakat, <notifications@github.com> wrote:

[2019-06-11 12:13] mzelzoghbi commented on #198
Hi @dimmetrius , Thanks for reporting this, Did you tried to enable MultiDex ?

[2019-06-11 12:43] dimmetrius commented on #198
Hi @mzelzoghbi , yes

android/app/build.gradle

[code]

[2019-06-11 13:15] mzelzoghbi commented on #198
@dimmetrius  Can you share with us a sample project and the emulator version? this will help us to identify the issue and fix it.

[2019-06-11 17:28] dimmetrius commented on #198
I just created a new flutter application and InstaBug opens without any problems. Do you have any idea what might be wrong with my current application?

[2019-06-11 18:45] mzelzoghbi commented on #198
These kind of issues are always **Multi-dex** issues, so you should make sure that you override `attachBaseContext` method in your **Application** class and add `Multidex.install(this);` in its implementation. you should also make sure that you add the Multi-dex dependency to your **build.gradle** file
[code]

@dimmetrius Please try this and let me know if this solved the issue.

[2019-06-11 19:56] mzelzoghbi commented on #198
@dimmetrius Can you also try updating the SDK version to **8.4.0**

[2019-06-12 03:31] WangDingchun commented on #161
it also crash on version 8.3.1

[2019-06-12 03:31] WangDingchun commented on #161
@mzelzoghbi

[2019-06-13 11:34] dimmetrius commented on #198
I've added:

**build.gradle**
[code]

**CustomFlutterApplication**

[code]

but the app still crashes :(

[2019-06-13 11:40] mzelzoghbi commented on #198
@dimmetrius we are sorry for this inconvenience, Can you please share with us the following info?
- Android build tools version
- Android Studio Version
- Support libraries version
- min / target / compile SDK Versions
- Emulator/device that you are testing on version/model
- Is R8 enabled?
- Is Jetifier enabled?
- The dependencies that you are using in your **build.gradle** file

This will really

[2019-06-13 11:42] dimmetrius commented on #198
Could it be related to fonts?

Caused by java.lang.RuntimeException
Font asset not found font_icons.ttf
...
com.instabug.library.view.IconView.<init> (IconView.java:51)
com.instabug.library.view.IconView.<init> (IconView.java:39)
...
com.instabug.bug.view.a.onCreateViewHolder (AttachmentsAdapter.java:82)

[2019-06-13 11:47] mzelzoghbi commented on #198
It may be, but we still don't know why this happened in your project and can't be reproduced on a sample project. So we are trying to know all the configurations that you have done in your project and figuring out what is happening wrong.

[2019-06-13 14:05] dimmetrius commented on #198
- Android build tools version : **buildToolsVersion '28.0.3'**
- Android Studio Version: **Android Studio 3.3
Build #AI-182.5107.16.33.5199772, built on December 25, 2018**
- min / target / compile SDK Versions:
**compileSdkVersion 28
minSdkVersion 21
targetSdkVersion 28**
- Emulator/device that you are testing on version/model:
<img width="313" alt="avd" src="https://user-images.githubusercontent

[2019-06-14 13:32] mzelzoghbi commented on #198
Hey @dimmetrius

We created a snapshot that should fix the issue, Can you please try it and let us know if everything works out?

[code]
And don't forget to add this to your app **build.gradle** before your dependencies
[code]

[2019-06-16 16:04] hanaamohamed commented on #188
Hello @dri94, You can use `com.instabug.library:instabug:8.4.0.2080-SNAPSHOT` this snapshot includes the renaming, also in order to consume the snapshot you will need to add the below snippet
[code]

[2019-06-17 04:53] KiranCNayak commented on #138
@Korazy I needed the link of v8.0.10 or lower (which supports build version 27). The webpage of Instabug doesn't have the support for v8.0.10, it is a 404 page. If there is any way to get this version working, it would be great. Is there any way I can specify the version of Instabug in podfile?

[2019-06-17 08:36] mzelzoghbi commented on #138
Hey @KiranCNayak, Are you asking for android or iOS SDK?

[2019-06-17 08:43] KiranCNayak commented on #138
It was for android actually, but we are upgrading the compileSDK version to 28, so I don't think it is required. But if you want to answer for android with v27, then please go ahead.

[2019-06-17 08:49] mzelzoghbi commented on #138
@KiranCNayak you can grab v8.0.10 by just adding
[code]
to you gradle build file.

But we will always recommend using our latest version **8.4.0**

[2019-06-17 09:39] KiranCNayak commented on #138
Ok, Thanks. We will be using the latest one now.

[2019-06-17 13:53] dimmetrius commented on #198
@mzelzoghbi Great. It works! 👍
when I can use the fix in production?

[2019-06-18 15:56] tedcurrent opened #199 "Surveys.getAvailableSurvey() returns unavailable surveys on Android."
Now I'm a bit unsure if this is due to `Instabug-React-Native` package or if it's an Instabug Android SDK issue. If it's an SDK issue, I would love a confirmation. This seems to work as expected on iOS.

### Steps to Reproduce the Problem
1. Create a single new survey with frequency set to "only once for each user"
2. Open survey with `Surveys.showSurveyIfAvailable()` if `Surveys.setAutoShowingEna

[2019-07-01 02:07] dqtdev opened #200 "java.lang.IllegalArgumentException: the bind value at index 1 is null"
**Steps to Reproduce the Problem**
I've got this issue from Crashlytics report so there's no way to reproduce the problem

**Expected Behavior**
Show Instabug screen

**Actual Behavior**
App crashed

**Instabug integration code**
`Instabug.Builder(this,Constants.TOKEN_INSTABUG).setInvocationEvents(InstabugInvocationEvent.SHAKE, InstabugInvocationEvent.SCREENSHOT).build()
BugReporting.setShakingThr

[2019-07-01 10:09] amrbrkt commented on #200
Hi @dqtdev
Thanks for reporting this.
Would you please let me know if you are using any other Instabug APIs such as `identifyUser(Sting, String)`

Also, I've noticed in your **Instabug integration code** that you're Initializing Instabug through the builder twice;

[code]
and
[code]
Would you please share with me the use case that requires this implementation, that might help me to identify the ro

[2019-07-02 03:07] dqtdev commented on #200
Hi @amrbrkt

I've checked source code and found that `identifyUser(String, String)` is used. The guy implements the integration code has fixed the twice initialization. Is there any problems when using `identifyUser(String, String)`?

[2019-07-02 06:45] amrbrkt commented on #200
@dqtdev

Absolutely there is no problem using the `API`, just trying to get more insights about your implementation, that might help in tracking the issue.

So, after fixing the initialization, still facing the same issue?

[2019-07-03 13:49] dimmetrius opened #201 "java.lang.ArrayIndexOutOfBoundsException"
### Steps to Reproduce the Problem

I'm trying to resolve issue https://github.com/Instabug/Instabug-Android/issues/198
with new 8.5.0 build

android/app/build.gradle

[code]

add to build.gradle
[code]

created a new Java class that extends FlutterApplication and add it to AndroidManifest.xml.

[code]

### Expected Behavior

### Actual Behavior
some crashes on app starting

Fatal Exception: java.

[2019-07-03 22:52] amrbrkt commented on #201
Thanks, @dimmetrius for reporting this, we will take a look and get back to you ASAP.

[2019-07-04 02:23] raymondctc commented on #200
We have this issue too, SDK version 8.4.0
[code]

[2019-07-04 11:46] #177 closed

[2019-07-04 11:48] #179 closed

[2019-07-08 09:05] dung90it opened #202 "Crash app when set UserAttribute in Application"
### Steps to Reproduce the Problem

### App doesn't crash

### crashes on app start
Caused by: android.database.sqlite.SQLiteConstraintException:
  at android.database.sqlite.SQLiteConnection.nativeExecuteForLastInsertedRowId (Native Method)
  at android.database.sqlite.SQLiteConnection.executeForLastInsertedRowId (SQLiteConnection.java:995)
  at android.database.sqlite.SQLiteSession.executeForLas

[2019-07-08 11:23] mzelzoghbi commented on #188
Hi @dri94, we included this change in our latest release **8.5.0**, please get back to us if you encounter any other issue. Thank You 😃

[2019-07-08 11:23] #188 closed

[2019-07-08 11:27] mzelzoghbi commented on #198
Hey @dimmetrius, This fix was included in our latest release **8.5.0** so I'll close this issue. Please let us know if you have any issues.

[2019-07-08 11:28] #198 closed

[2019-07-08 13:36] ivabra opened #203 "SQLiteDatabaseLockedException: database is locked (code 5) when Instabug is used in several processes."
### Steps to Reproduce the Problem
1) Implement an Android app with background service that uses a separate process
2) Initialize Instabug library in both processes
3) Start logging actively
4) Sooner or later it will crash.

### Expected Behavior
Instabug manages separate databases for every process and doesn't crash.

### Actual Behavior
Instabug crashes with `android.database.sqlite.SQLiteDatab

[2019-07-08 16:23] mzelzoghbi commented on #202
Hey @dung90it, Thanks for reaching out.
We tried the above steps on different devices and it worked fine, Is this happening on this device only **(Galaxy S10+)** or many devices? If it is happening on all devices it will be great to share with us a sample project with the issue.

[2019-07-08 19:22] mzelzoghbi commented on #201
Hey @dimmetrius

We created a snapshot that should fix the issue, Can you please try it and let us know if everything works out?

[code]
And don't forget to add this to your app **build.gradle** before your dependencies
[code]

[2019-07-09 02:06] dung90it commented on #202
@mzelzoghbi some devices we have this issues
Brand: samsung
Model: Galaxy S5
Version: 6.0.1

Brand: samsung
Model: Galaxy S7
Version: 8.0.0

Brand: samsung
Model: Galaxy A5(2017)
Version: 8.0.0

Brand: samsung
Model: Galaxy J7 Crown
Version: 8.0.0

Brand: samsung
Model: Galaxy J3 Eclipse
Version: 8.1.0

Brand: samsung
Model: Galaxy J7 Perx
Version: 8.1.0

[2019-07-09 13:44] mzelzoghbi commented on #203
Hey @ivabra, Thanks for reporting this. We tried to reproduce the issue but we couldn't probably we are missing something. Can you share with us a sample project with the issue?

[2019-07-09 14:01] ivabra commented on #203
Hi @mzelzoghbi,
Thanks for investigation.
In our case, we use a foreground service (that must have its own notification)(not really sure that there is a difference in this case). We are pretty sure that the problem is several processes because we started getting crash reports with this issue right after releasing an app version with the foreground service.
It is 30 times more frequent than the nex

[2019-07-10 09:56] mzelzoghbi commented on #203
Hey @ivabra, We designed the SDK to work only on a single process but we will work on a fix and will get back to you ASAP, but till we fix this, is it really important running the service on another process?

[2019-07-10 12:47] ivabra commented on #203
@mzelzoghbi Yes, it is quite important. We disabled Instabug for our service, so we are not able to read logs of the service in user reports.

[2019-07-11 12:09] SAGV commented on #203
@ivabra could you explain why is it important and what benefits does it bring to the app?

[2019-07-11 12:29] ivabra commented on #203
@SAGV because it frees up the app process from a bunch of RAM and CPU work, so it won't be killed by the system so fast.

[2019-07-15 13:12] dimmetrius commented on #201
It works. 👍 Thank you!

[2019-07-15 13:19] dimmetrius opened #204 "Sends a black screen when trying to attach a screenshot"
### Steps to Reproduce the Problem
When trying to attach a screenshot of flutter application sends a black screen

### Expected Behavior

### Actual Behavior

### Instabug integration code
android/app/build.gradle

[code]

add to build.gradle
[code]

created a new Java class that extends FlutterApplication and add it to AndroidManifest.xml.

[code]

### SDK Version

### Android Version
Android 5.1

[2019-07-15 19:09] mzelzoghbi commented on #204
Hey @dimmetrius, Thanks for reporting this. Can you please try to use this API and tell us if everything worked?
[code]

[2019-07-15 19:15] mzelzoghbi commented on #201
@dimmetrius Glad to hear that things are solved now 😄

[2019-07-16 02:46] TankJK commented on #202
Hi,

I am also facing same issue. Lots of users are having this crash.

Caused by android.database.sqlite.SQLiteConstraintException: FOREIGN KEY constraint failed (code 787)
#################################################################
Error Code : 787 (SQLITE_CONSTRAINT_FOEIGNKEY)
Caused By : Abort due to constraint violation.
	(FOREIGN KEY constraint failed (code 787))
######################

[2019-07-17 07:32] vladislavbakan opened #205 "Crash on material TabItem click in v.8.5.0"
### Steps to Reproduce the Problem
0. Set up instagub v.8.5.0
1. Add `com.google.android.material.tabs.TabLayout` to layout xml
2. Add some `com.google.android.material.tabs.TabItem` to `TabLayout` in layout xml
3. Add `addOnTabSelectedListener` to `TabLayout` in code
4. Open app
5. Click by any tab

### Expected Behavior
Tab is changed by click

### Actual Behavior
App crashes, because of 'com.in

[2019-07-17 08:22] amrbrkt commented on #205
Hi @vladislavbakan
Thanks for reporting this, we already have a fix on the following snapshot: **8.5.0.2170-SNAPSHOT**
Please try it, following these steps and let us know if you still facing the issue.

Add these to your app-level `build.gradle` file to grab snapshots:
[code]

And in `repositories`
[code]

[2019-07-17 10:28] alyezz commented on #186
@MaxInMoon We just release 8.5.0, please update and let us know if you're still facing this issue.

[2019-07-17 10:28] #186 closed

[2019-07-17 10:30] mzelzoghbi commented on #202
Thanks, @dung90it @TankJK  for reporting this, we will take a look and get back to you ASAP.

[2019-07-18 09:11] Greeeeyyyss commented on #131
Hi,

I am getting these error upon upgrading from 3.14.2 to com.squareup.okhttp3:logging-interceptor:4.0.0 or 4.0.1

`/.gradle/caches/modules-2/files-2.1/org.jacoco/org.jacoco.agent/0.8.3/edd294e541c8176d55768ba4b8bcb1bb267d18f4/org.jacoco.agent-0.8.3-runtime.jar: Error: Invalid package reference in library; not included in Android: java.lang.instrument. Referenced from org.jacoco.agent.rt.interna

[2019-07-18 09:50] #205 closed

[2019-07-18 09:52] mzelzoghbi commented on #131
Hey @Greeeeyyyss , Thanks for reaching out to us, seems that you are on a wrong repo. Please use [this repo](https://github.com/square/okhttp/) to report any issues related to **OkHttp3**.

If you have any issues related to **InstabugOkHttpInterceptor** please file a new issue.

[2019-07-18 16:34] dimmetrius commented on #204
Hey @mzelzoghbi. The latest Instabug build doesn't have the black screen anymore. Instead it always attaches the first screenshot, even though user attaching different screenshots.

[2019-07-19 11:30] amrbrkt commented on #204
Hi @dimmetrius, would you elaborate more? explain what exactly is happening? do you have reproducing steps?
Also, would you enable Instabug debug-logs by calling `Instabug.setDebugEnabled(true)` after the initialization code, send us the logs.

[2019-07-22 07:14] amrbrkt commented on #202
@dung90it @TankJK would you please let us know if any if your apps are running on multiple processes?

[2019-07-23 14:13] jdamcd commented on #202
We're also seeing this crash for large numbers of users on upgrading the Instabug SDK from 8.4.0 to 8.5.0. Our app does not use multiple processes.

[2019-07-24 02:24] dung90it commented on #202
@amrbrkt my app uses multiple processes, this crash occurs when app upgrading the Instabug SDK from 8.4.0 to 8.5.0.

[2019-07-24 05:30] amrbrkt commented on #202
@jdamcd @TankJK Please give `8.5.0.2181-SNAPSHOT` and let us know if you still have similar issues.

**To use the snapshot:**
Add these to your app-level `build.gradle` file

[code]
[code]

[2019-07-24 21:20] paixols opened #206 "SQLiteDatabaseWrapper application fatal error"
### Steps to Reproduce the Problem
- Shown on Firebase Crashlytics logs

### Expected Behavior
- The application should not crash when submitting an Instabug Report

### Actual Behavior
- Application crashing when submitting Instabug Report

### Instabug integration code
- Instabug Internal Error

### SDK Version
com.instabug.library:instabug:8.5.0

### Android Version
 8.0.0

### Device Model
mot

[2019-07-25 08:25] markokatic0001 opened #207 "Fatal Exception: java.lang.OutOfMemoryError Failed to allocate a 87085764 byte allocation with 16777216 free bytes and 41MB until OOM"
### **Version of SDK**:

- 'com.instabug.library:instabug:8.4.0'

### **Operating systems**:

- 9,

- 7

### **Device models:**

- OnePlus A6000,

- OnePlus 3T,

- Xiaomi Redmi Note 4,

- Samsung Galaxy S8

### **Steps to reproduce:** /

### **Expected behavior:** /

### **Crashlytics log:**
`
  java.lang.StringFactory.newStringFromBytes + 79 (StringFactory.java:79)
  | java.lang.StringFactory.new

[2019-07-25 08:39] amrbrkt commented on #206
Thanks @paixols for reporting this, we will take care of it and come back to you ASAP.

[2019-07-25 08:42] amrbrkt commented on #207
Hi @markokatic0001, Thanks for sharing this with us, we will work on it and notify you once we are done. Thanks 🙏

[2019-07-28 04:15] eygraber commented on #179
I had to do

[code]

[2019-07-28 12:07] mzelzoghbi commented on #206
Hey @paixols We tried to reproduce the issue but we can't, Is this happening all the time or on a specific device? It will be also great to share with us a sample project if possible.

[2019-07-28 12:13] mzelzoghbi commented on #207
Hi @markokatic0001, This issue has been fixed in recent SDK versions. Please reopen if you still encounter this issue with the latest version **8.5.0**. Thank you! 😊

[2019-07-28 12:13] #207 closed

[2019-07-28 12:19] mzelzoghbi commented on #200
Hi @raymondctc, We tried to reproduce the issue but we couldn't, Is this happening on all devices/configurations or on a specific device?

[2019-07-29 05:59] Axrorxoja opened #208 "OutOfMemoryError in Encryptor"
AndroidX
compileSdkVersion 28
buildToolsVersion "28.0.3"
instabug version 8.4
<img width="921" alt="Screen Shot 2019-07-29 at 10 56 54 AM" src="https://user-images.githubusercontent.com/5182036/62024882-db890180-b1ef-11e9-81f2-3b1e5ec6c2f0.png">

[2019-07-29 06:33] mzelzoghbi commented on #208
Hi @Axrorxoja, Thanks for reporting this, Can you provide us with the device name/model/os-version that throwing this issue? Also is there a reproduce steps for reproducing this issue?

[2019-07-29 09:05] markokatic0001 commented on #207
@mzelzoghbi @amrbrkt Thank you very much!

[2019-07-30 04:56] Axrorxoja commented on #208
Hi @mzelzoghbi thank you too :) for great tooling,
<img width="411" alt="Screen Shot 2019-07-30 at 9 53 59 AM" src="https://user-images.githubusercontent.com/5182036/62101833-3f72ff00-b2b0-11e9-9711-da42dcfe9f02.png">
<img width="228" alt="Screen Shot 2019-07-30 at 9 54 11 AM" src="https://user-images.githubusercontent.com/5182036/62101835-3f72ff00-b2b0-11e9-86b2-41477b093e2e.png">

[2019-07-30 11:46] raymondctc opened #209 "Lots of ANR with com.instabug.library.b.c (b.java)?"
### Steps to Reproduce the Problem
We found that there are a number of ANRs, stacktrace is below
[code]

### Expected Behavior

### Actual Behavior

### Instabug integration code
[code]

### SDK Version
8.5.0

### Android Version
All

### Device Model
N/A

[2019-07-30 20:58] jjnino commented on #201
Worked for me as well. TY.

[2019-07-31 02:35] raymondctc commented on #200
I am not sure yet, but I found some crash logs in Crashlytics related to this.
![Screenshot 2019-07-31 at 10 34 52 AM](https://user-images.githubusercontent.com/13764117/62179363-e1f9b380-b37e-11e9-83fe-f81129631b70.png)

[2019-08-01 06:28] falvick commented on #206
I also experienced that issue on two devices: HUAWEI/WAS-LX1 (API 28) and Xiaomi/Redmi 7 (API 24)

Steps to reproduce are as following:
Instabug is not opened. User puts app in background and resumes it multiple times.

[2019-08-01 07:26] mzelzoghbi commented on #197
Hey @FrancoSabadini , Can you provide us with some versions like gradle wrapper & build tools versions, support libraries version, robolectric / espresso / junit versions and finally android studio version. Thanks

[2019-08-01 11:20] mzelzoghbi commented on #209
Hi @adavis @raymondctc, Thanks for reporting this, We created a **SNAPSHOT** that will fix the issue can you give it a try and tell us if it solved the issue?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]

[2019-08-01 21:53] jjnino opened #210 "Screen Recorder Crash in Android 9"
Hello! Looking some help with this. Thanks in advance.
### Steps to Reproduce the Problem

Screen Recording on Android 9 crashes the app with `java.lang.IllegalAccessError
ScreenRecorder.java line 7 in f.<init>()`

### Expected Behavior

Screen recording should not crash the application.

### Actual Behavior

The whole app crashes.

com.instabug.library.internal.video.a.f.<init> | ScreenRecorder.j

[2019-08-01 22:10] jjnino commented on #210
Seems to be addressed with 8.5.0.8-SNAPSHOT

[2019-08-02 06:24] FrancoSabadini commented on #197
Hi @mzelzoghbi, here are the versions I was using when I saw this issue:

**Gradle wrapper version:** 5.1.1
**Android build tools:** 28.0.3
**AndroidX libs versions:**
[code]
**Espresso:** 3.2.0
**JUnit:** 4.12
**Android Studio version:** I don't remember what version I was using then but right now I'm using 3.4.2

[2019-08-05 05:27] ajaysharma1990 opened #211 "Failed resolution of: Lcom/instabug/library/network/a"
1564982580.244 16138-16672/com.WegileWildcard.transform905009 E/AndroidRuntime: FATAL EXCEPTION: AnalyticsObserver
    Process: com.WegileWildcard.transform905009, PID: 16138
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/instabug/library/network/a;
        at com.instabug.library.Instabug$Builder.build(Instabug.java:3406)
        at com.instabug.library.Instabug$Builder.build(Inst

[2019-08-05 07:43] mzelzoghbi commented on #211
Hi @ajaysharma1990, Thanks for reporting this, Can you try to upgrade to **8.5.0** it is our latest stable version and make sure that you make a clean build before running the app.

[2019-08-05 08:52] mzelzoghbi commented on #210
Hi @jjnino, Thanks for reporting this. We tried to reproduce the issue but we couldn't. We are happy to hear that your issue has been solved, but we didn't address the issue in **8.5.0.8-SNAPSHOT** it may be a caching issue with the dex files or android studio build files. Can you make a clean build on **8.5.0.3-SNAPSHOT** and let us know if the issue still persists?

Thank You!

[2019-08-05 09:02] ajaysharma1990 commented on #211
Sure i will do that

[2019-08-05 09:06] ajaysharma1990 commented on #211
AGPBI: {"kind":"error","text":"error: style attribute \u0027attr/autoSizeMaxTextSize (aka com.WegileWildcard.transform905009:attr/autoSizeMaxTextSize)\u0027 not found.","sources":[{"file":"/Users/wegile/.gradle/caches/transforms-1/files-1.1/instabug-core-8.5.0.aar/f878d5b95c470ba9517f1eb437669761/res/values/values.xml","position":{"startLine":579,"startColumn":4,"startOffset":37627,"endLine":582,"

[2019-08-05 09:53] mzelzoghbi commented on #211
@ajaysharma1990 Can you please try to invalidate **AndroidStudio** cache from **File** -> **Invalidate Cache/restart** ?

[2019-08-05 10:49] ajaysharma1990 commented on #211
@mzelzoghbi  I was tried same File -> Invalidate Cache/restart , getting no luck same error repeat again and again
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/instabug/library/network/a;

i also try to re sync project with grdile also but getting no luck

FATAL EXCEPTION: main
    Process: com.WegileWildcard.transform905009, PID: 13471
    java.lang.NoClassDefFoundError: Failed reso

[2019-08-05 11:09] mzelzoghbi commented on #211
@ajaysharma1990 Can you reproduce the issue on a sample app?

[2019-08-05 11:11] ajaysharma1990 commented on #211
i will try this one and let you know

[2019-08-05 11:49] ajaysharma1990 commented on #211
Hi
I have reproduce the same issue on sample app.

[2019-08-05 11:50] ajaysharma1990 commented on #211
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.a.myapplication, PID: 7268
    java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/app/a;
        at com.instabug.library.Instabug$Builder.build(Instabug.java:1440)
        at com.instabug.library.Instabug$Builder.build(Instabug.java:1517)
        at com.a.myapplication.MyApplication.onCreate(MyApplication.java:24)

[2019-08-05 14:41] jjnino commented on #210
Thanks for looking into it. We are going to investigate more then on our end. Going to close for now.

[2019-08-05 14:41] #210 closed

[2019-08-06 01:51] FrancoSabadini opened #212 "App crashes because of NPE thrown in ChatActivity"
### Steps to Reproduce the Problem

This was caught by Crashlytics with the app on the wild so not sure how to reproduce it.

### Expected Behavior

The app doesn't crash.

### Actual Behavior

The app crashes because of a NPE thrown in `ChatActivity`.

App log:

[code]

### SDK Version

8.4.0

### Android Version

8.1.0

### Device Model

P20 Pro

[2019-08-06 04:46] ajaysharma1990 commented on #211
### Hi All Please help to resolve this issue.
I have several user getting crashes every day so i have to change the old dependency to new one.
Please help me.

[2019-08-07 06:29] jimmy0251 opened #213 "Welcome message screen - "Done" button is not focusable on TV"
### Steps to Reproduce the Problem
- Initialize Instabug SDK and disable welcome message state to `DISABLED`.
- Show Instabug welcome message beta dialog later
[code]
### Expected Behavior
Dialog is TV friendly and "Done" button can be focused
### Actual Behavior
"Done" button can not be focused
### Instabug integration code
[code]
### SDK Version
8.5.0
### Android Version
ALL versions
### Device

[2019-08-07 07:53] passiondroid opened #214 "App Crashing while submitting feedback"
Please find below logs -

Caused by java.lang.ArrayIndexOutOfBoundsException: length=6; index=-831372734
       at com.instabug.library.invocation.InvocationSettings.enabledPromptOption + 111(InvocationSettings.java:111)
       at com.instabug.library.core.InstabugCore.enablePromptOption + 165(InstabugCore.java:165)
       at com.instabug.chat.a.c + 154(ChatPluginWrapper.java:154)
       at com.in

[2019-08-07 08:35] mzelzoghbi commented on #214
Hi @passiondroid , Thanks for reporting this. This issue has been fixed in the recent version please feel free to reopen this issue again if you encountered the same issue on **8.6.0**.

Thank You. 😃

[2019-08-07 08:35] #214 closed

[2019-08-07 08:42] mzelzoghbi commented on #213
Hi @jimmy0251, Thanks for reporting this. We'll be looking into this issue.

[2019-08-07 12:03] marcoRS opened #215 "Considerable Sdk Loading Time"
### Steps to Reproduce the Problem
Install versions 8.4.+, initialize the Sdk in Application class:
### Expected Behavior
The sdk loads within reasonable time no more than 1000 milliseconds
### Actual Behavior
App loading time on devices and emulator is more than 1000 and we get warnings of the form: `I/Choreographer: Skipped 92 frames!`

### Instabug integration code
[code]

### SDK Version
8.4.0

[2019-08-08 01:36] raymondctc commented on #209
@mzelzoghbi Thanks, it works 😄

[2019-08-08 18:36] hanaamohamed commented on #215
Hello @marcoRS,

you can try this snapshot for now, it has some improvement in launching time
`'com.instabug.library:instabug:8.7.0-SNAPSHOT'`

In order to consume this snapshot you need to include the below in gradle:
[code]

[2019-08-12 09:57] ajaysharma1990 commented on #211
Any update

[2019-08-12 14:38] rdrobinson3 commented on #165
We are seeing this as well in 8.5.0. It is actually our top crash now. In our case the both users were on a Nexus 6 running Android 7.1.1.

`Fatal Exception: android.content.res.Resources$NotFoundException: Resource ID #0x7f0800ba
       at android.content.res.ResourcesImpl.getValue + 190(ResourcesImpl.java:190)
       at android.content.res.Resources.getValue + 1290(Resources.java:1290)
       at

[2019-08-12 15:16] mzelzoghbi commented on #211
Hi @ajaysharma1990 Can you please share with us the sample app?

[2019-08-12 15:28] mzelzoghbi commented on #165
@rdrobinson3 @mykhailo-gaidai  we will look into this and get back again to you.

[2019-08-13 10:34] mykhailo-gaidai opened #216 "Instabug.show() stops working after activity restart"
### Steps to Reproduce the Problem
1. Instabug 8.6.0
2. Initialization in Application class
3. Single activity, multiple fragments app
4. Instabug is called with `Instabug.show()`
5. App is restarted with `startActivity(Intent.makeRestartActivityTask(requireActivity().componentName))` in order to apply `WindowManager.LayoutParams.FLAG_SECURE`
6. `Instabug.show()` is called
### Expected Behavior
In

[2019-08-18 12:16] amrbrkt commented on #212
Hi @FrancoSabadini,
Thank you for reporting this, here is a snapshot `8.6.0.5-SNAPSHOT` with the fix. Please give it a try and let me if you face any other issues.

In the meanwhile, we will be working on releasing the fix sooner.

**To use the snapshot:**
Add these to your app-level `build.gradle` file:

[code]
[code]

[2019-08-19 20:41] KORuL opened #217 "many ANR errors"
### Steps to Reproduce the Problem
Too many ANR errors
### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
    `implementation 'com.instabug.library:instabug:8.6.0'`
### Android Version

### Device Model

### [Optional] Project That Reproduces the Issue
![image](https://user-images.githubusercontent.com/19871487/63297704-

[2019-08-19 20:43] mzelzoghbi commented on #217
Hey @KORuL, Thanks for reporting this, can you provide us with the ANR stack traces?

[2019-08-19 20:51] KORuL commented on #217
![image](https://user-images.githubusercontent.com/19871487/63298365-f6750000-c2db-11e9-8a58-39628b349057.png)
![image](https://user-images.githubusercontent.com/19871487/63298388-042a8580-c2dc-11e9-9c11-f8fd2d67822f.png)
![image](https://user-images.githubusercontent.com/19871487/63298409-0ee51a80-c2dc-11e9-9540-3e08ba4958dc.png)
![image](https://user-images.githubusercontent.com/19871487/6329842

[2019-08-19 20:57] mzelzoghbi commented on #217
Hey @KORuL

We created a snapshot that should fix the issue, Can you please try it and let us know if everything works out?

[code]
And don't forget to add this to your app **build.gradle** before your dependencies
[code]

[2019-08-19 20:59] KORuL commented on #217
Yes, I try it tommorow

[2019-08-20 08:48] sallukp opened #218 "App Crashed with NullPointerException"
The crash log
[code]

### Crash happened for the following events
The following methods executed in Activity
[code]
Then reported a bug and app crashed

### Instabug integration code
[code]

### SDK Version
`implementation 'com.instabug.library:instabug:8.7.0-SNAPSHOT'`

### Android Version
OS Level 28
### Device Model
samsung SM-G955F

[2019-08-20 11:14] FrancoSabadini commented on #212
Thanks @amrbrkt :).

This is not something we can reproduce as it happened to a user on the wild. I will update the library once an official release includes this fix. Do you have an ETA for that?

[2019-08-20 16:25] AlexWih opened #219 "Missing onError handler in the subscribe() method call, caused by android.os.DeadObjectException"
### Steps to Reproduce the Problem
Specifics steps are not known as only crashes are seen in Fabric.

### Expected Behavior
No crash.

### Actual Behavior
Crash happens:

[code]

### Instabug integration code
[code]

### SDK Version
[code]

### Android Version
Occurs on Android ver. 5,6,7

### Device Model
Occurs on multiple device models, majoriy is Samsung (59%)

[2019-08-21 14:16] amrbrkt commented on #213
Hi @jimmy0251
We don't support TVs officially yet, however, we tried to fix this issue and ship a snapshot for you.

To use the snapshot, please add these to your app-level build.gradle:

[code]

[code]

[2019-08-22 06:24] jimmy0251 commented on #209
I'm still facing the same issue with sdk 8.6.0, is this supposed to be fixed? If not, when will this be released? I can't use 8.5.0 based snapshot as I will miss other important fixes of 8.6.0 version.

[2019-08-22 10:21] amrbrkt commented on #209
Hi @jimmy0251, I've updated the snapshot with our recent version.

Please uses `8.6.1.6-SNAPSHOT` and let me know if you still facing any problem.

you will need to add these lines to your app build.gradle

[code]

[code]

[2019-08-23 06:07] FrancoSabadini opened #220 "App crashes because of InterruptedIOException thrown by NetworkManager"
### Steps to Reproduce the Problem

Not sure as this happened in the wild and was reported by Crashlytics. According to the logs it happened when `InstabugDialogActivity` or `ChatActivity` were opened

### Expected Behavior

The app doesn't crash.

### Actual Behavior

The app crashes because of an uncaught exception.

### Logs

[code]

### SDK Version

8.4.0

### Android Version

9

### Device Mo

[2019-08-23 08:59] KORuL commented on #217
too much anr and in the new version. people start to get scared of it. How do you want me to pay more than $ 100 per month - if people leave because of your sdk?
If anr does not disappear, I will have to go to your competitors (although I really like you.

[2019-08-23 09:00] KORuL commented on #217
![Screenshot_2019-08-23-11-55-47-847_com google android apps playconsole](https://user-images.githubusercontent.com/19871487/63580447-85fd0600-c59d-11e9-9e0a-481e70c28037.png)
![Screenshot_2019-08-23-11-55-54-020_com google android apps playconsole](https://user-images.githubusercontent.com/19871487/63580448-85fd0600-c59d-11e9-8519-8c512fdb1ea5.png)
![Uploading Screenshot_2019-08-23-11-55-25-292_c

[2019-08-26 03:50] fchicken commented on #217
Hi @mzelzoghbi,

I have many ANR problems too.
Here are part of the stack traces.

#### executing service live.free.tv_tw/com.instabug.library.network.worker.uploader.InstabugSessionUploaderService
[code]

#### executing service live.free.tv_tw/com.instabug.library.analytics.network.InstabugAnalyticsUploaderService
[code]
but no tid=19 found in stack traces

#### executing service live.free.tv_tw/

[2019-08-26 07:19] amrbrkt commented on #218
Thank you @sallukp for reporting this, we are looking into. Will get back to you as soon as possible.

[2019-08-26 07:22] amrbrkt commented on #219
Thanks, @AlexWih for your report, we're working on that crash.

[2019-08-26 07:23] amrbrkt commented on #220
Hey @FrancoSabadini
Thank you for your report. We will take care of that.

[2019-08-26 08:53] mzelzoghbi commented on #217
Hi @KORuL, we are very sorry for this bad experience and we are working hard on getting this fixed, we need some help from you by providing detailed info for the new ANRs in the screenshots.

Thanks

[2019-08-26 08:59] mzelzoghbi commented on #217
Hi @fchicken , Thanks for reporting this. Can you please try the snapshot mentioned here https://github.com/Instabug/Instabug-Android/issues/217#issuecomment-522750958 and tell us if it worked

Thanks

[2019-08-27 08:01] e55o opened #221 "Instabug is hanging the app on the first fresh load"
### Steps to Reproduce the Problem

We are currently using Instabug-reactnative v. 8.4.2
On android and when you freshly install the app for the first time, the instabug thread is hanging on `Allow <APP_NAME> to access you media`, if you do not click on `Allow` or `Deny` within 2 seconds, the main thread of the app is hanging, you need to kill the process and open the app again. (it stays on the l

[2019-08-27 18:33] mzelzoghbi commented on #217
Hello everyone, We just released **8.6.2** that fixes the ANR issues. Please feel free to reopen this issue if you encounter the same issue again. Thanks

[2019-08-27 18:33] #217 closed

[2019-08-27 18:35] mzelzoghbi commented on #209
Hello everyone, We just released **8.6.2** that fixes the ANR issues. Please feel free to reopen this issue if you encounter the same issue again.

Thank You!

[2019-08-27 18:35] #209 closed

[2019-08-29 08:48] jacquesdev opened #224 "Crashing on Android"
I updated to version 8.6.1 of the plugin (from 8.5.1). I uploaded to beta on the Google Play Store, and getting crash reports related to instabug

### SDK Version
8.6.1

### React Native, iOS and Android Versions
[code]
### Device Model
 Android 8.0.0
 Galaxy S7

[code]

[2019-08-29 17:29] AliAbdelfattah commented on #221
Fixed in Android v8.6.2 and in React Native v8.6.2.

[2019-08-29 17:29] #221 closed

[2019-08-29 19:17] Galiza opened #222 "Swipe left does not work"
### Steps to Reproduce the Problem
Just follow documentation.

### Expected Behavior
Swiping left with two finger should open the report popup.

### Actual Behavior
Shake works fine, but swiping left with two fingers **does** not open the popup.

### Instabug integration code
[code]

[2019-08-29 19:43] mzelzoghbi commented on #222
Hey @Galiza , Thanks for reporting this, can you tell us which SDK version you are using?

[2019-08-29 20:07] Galiza commented on #222
Hey @mzelzoghbi, thanks for the fast response!
We use the minSDK 21, and the targetSDK 26.

[2019-08-29 20:38] mzelzoghbi commented on #222
@Galiza sorry i didn't clarify, Instabug SDK Version please?

[2019-08-29 20:47] Galiza commented on #222
@mzelzoghbi Right, I'm using 8.2.1

[2019-08-29 21:01] mzelzoghbi commented on #222
@Galiza please let me check that and get back to you

[2019-08-29 21:11] Galiza commented on #222
@mzelzoghbi Ok! Thank you very much!

[2019-08-29 23:37] FrancoSabadini commented on #212
Hey @amrbrkt, is this fix included in 8.6.2?

[2019-08-30 10:22] AlexWih opened #223 "Instabug leaks Activity after device locked and unlocked quickly"
Issue is observed on Huawei P30 with Android 9.0 onboard.
We have an application with VOD streaming functionality: mobile app operates in portrait mode, but when user opens player screen - orientation is changed to LANDSCAPE.

### Steps to Reproduce the Problem
1. Start the app
2. Open the screen with player -> orientation changed to landscape
3. Lock the device and immediately unlock it -> memory

[2019-08-30 10:26] AlexWih commented on #223
Here is the screenshot from memory leak report for the demo app:
![image](https://user-images.githubusercontent.com/3289717/64014001-bc9cc880-cb29-11e9-9827-37e222a54959.png)

[2019-08-30 10:39] AlexWih commented on #223
BTW, memory leak is also provable without Leak canary lib - the `finalize()` method is not called for Activity, but the Activity shouled be eligible for GCion.

[2019-08-30 11:58] amrbrkt commented on #212
Hey @FrancoSabadini
The fix is not released yet, but it will be in the next release within two weeks.

[2019-08-30 12:01] amrbrkt commented on #223
Hello @AlexWih
I'd like to thank you very much for that report. We will take care of that and let you know once a fix is released.

[2019-09-02 09:05] mzelzoghbi commented on #216
Hi @mykhailo-gaidai , Thanks for reporting this, We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if the snapshot fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-09-02 13:21] AliAbdelfattah commented on #222
Hi @Galiza, this's been fixed in the latest Android version however we're still working on updating Cordova. For the meantime, here's how you can fix it:

In your `MainActivity` class, override the `dispatchTouchEvent` function as follows:
[code]

I'll close the issue for now, but please feel free to reopen it if you need to discuss it further.

[2019-09-02 13:21] #222 closed

[2019-09-02 16:42] Galiza commented on #222
@AliAbdelfattah Hi, thank you so very much for the help!
But as I stated, this might not work for us, since we use Cordova for both Android and iOS, so we don't really use `Activities` .

Why can't we use Android like the iOS for the Cordova version?
I mean like this:
[code]
But with Android, otherwise, we have to have one code in the TypeScript/JavaScript and the other with Java.

[2019-09-03 04:19] hugosvent commented on #224
this happened to me as well.
since I'm upgrading my instabug from 8.4.0 to 8.6.0

[2019-09-03 09:15] jacquesdev commented on #224
Does anyone know how long a fix for this will take? It's holding up my play store release.

[2019-09-03 09:58] amrbrkt commented on #224
Hey @jacquesdev,
Would you please try to use the latest version (8.6.3) and let us know if you still facing any issues.

[2019-09-04 08:30] amrbrkt commented on #215
Hi @marcoRS,

This issue has been fixed and released in `8.6.3`. Please let us know if you still have any other issues.

[2019-09-04 08:30] #215 closed

[2019-09-04 10:42] amrbrkt commented on #218
Hey @sallukp  We tried to reproduce the issue but we can't, Is it consistent overall devices or on a specific device? Also, It will be great to share with us a sample project producing the issue if possible.

[2019-09-04 15:05] amrbrkt commented on #200
Hi @raymondctc
Please update to the recent version 8.6.3 and let'us know if the issue still exists.
Thank You

[2019-09-04 15:05] #200 closed

[2019-09-04 15:06] #201 closed

[2019-09-04 15:08] amrbrkt commented on #202
This fix has been released, please update to the recent version `8.6.3`. Please don't hesitate to get back to us if the problem still exists.

[2019-09-04 15:08] #202 closed

[2019-09-04 15:12] amrbrkt commented on #204
Hello @dimmetrius ,
I'll close this issue for now, please don't hesitate to get back to us if you still facing it in our recent version `8.6.3`

[2019-09-04 15:12] #204 closed

[2019-09-04 15:18] amrbrkt commented on #213
I'll close this issue for now, please don't hesitate to get back to us if you still facing it in the snapshot. Also, this fix will be shipped in our next release in a couple of weeks.

[2019-09-04 15:18] #213 closed

[2019-09-04 20:01] alyezz commented on #189
@cpetzel This issue is fixed in our latest React Native release. Please update and feel free to reopen this if you have any issues

[2019-09-04 20:01] #189 closed

[2019-09-06 15:01] CWftw commented on #224
@amrbrkt I am getting hundreds of the same crash reports on 3.6.3

[2019-09-06 15:09] amrbrkt commented on #224
@CWftw do you mean 8.6.3?

[2019-09-06 15:11] CWftw commented on #224
Yes, sorry

[2019-09-06 15:12] amrbrkt commented on #224
Are trying to use one of instabug APIs in `AsyncTask`(off main thread), it might be executed before the initialization of instabug is done on the main thread. would you verify this?

[2019-09-06 15:20] CWftw commented on #224
We setup Instabug in a Handler post in our application class, although this handler should be on the main thread. We only invoke via a click event and shake. We also call "setInvocationEvents" when the application starts in a Fragment

[2019-09-06 16:09] amrbrkt commented on #224
@CWftw would you please, provide a sample project that simulates your implementation and produces the issue?

[2019-09-09 11:29] rafael-labela commented on #57
Able to replicate it on 4.11.1 Essencial products PH-1 Android 10

[2019-09-09 11:30] desgraci commented on #57
Able to replicate it on 4.11.1 Essencial products PH-1 Android 10

[2019-09-09 18:08] CWftw commented on #224
@amrbrkt I didn't have time to do that. However, I have removed the initialization from the handler to be 100% sure it was initialized before any other calls were made and it seems to have made the above crashes go away. That being said - while I understand that this was not an intended use case - I don't believe that crashing user's apps is a good way to handle this. Instabug introduces new crash

[2019-09-10 13:43] mzelzoghbi commented on #224
Hi @CWftw,
Please accept our apologies for the inconveniences we may have caused. I completely understand how that can be frustrating.
Please rest assured that we’re always working on improving the stability of our SDKs while introducing new helpful features. When Instabug is initialized in a way that’s different to how it should normally be initialized, sometimes unexpected behavior can occur. We

[2019-09-10 15:03] mattetre commented on #224
We are experiencing a similar issue on Android platforms using `Instabug-React-Native` since we have updated to `v8.6.2`. We don't make any native calls to the instabug SDK we only access via Javascript.

We are looking to see if updating to `v8.6.3` would help us but are experiencing: https://github.com/Instabug/Instabug-React-Native/issues/387 during our upgrade

[2019-09-11 10:40] mzelzoghbi commented on #224
@mattetre Can you please share with us the issues you are experiencing on v8.6.2?

[2019-09-11 11:12] mattetre commented on #224
@mzelzoghbi We are seeing this reported on Google Play. It does not happen for everyone, just sometimes

![Screenshot 2019-09-11 at 12 09 54](https://user-images.githubusercontent.com/1724838/64692547-5438da00-d48d-11e9-998f-24457f514163.png)

[2019-09-11 11:15] mzelzoghbi commented on #224
@mattetre These crashes are from `InstabugSDK-version`: **8.6.2**, right?

[2019-09-11 11:18] mattetre commented on #224
Yes, react-native instabug `8.6.2`

[2019-09-11 16:17] quibi-jlk commented on #208
I'm seeing the same stack trace reported, but with two different devices: Moto G4 Play and Moto Z Droid on OS 6 and 7. Unfortunately, I don't have repro steps at the moment, but would be happy to provide any other info you need here.

[2019-09-12 09:01] cihati opened #225 "cannot find symbol `InstabugTrackingDelegate.notifyActivityGotTouchEvent`"
We use Instabug 8.6.3 (with React Native). Have this piece of code:

[code]

 We run into this issue:

[code]

When I look at 8.3 docs, I could see that it's suggested for use:
https://docs.instabug.com/v8.3/docs/android-logging#section-tracking-fragments and https://docs.instabug.com/v8.3/docs/android-logging#section-repro-steps but at some point after 8.3, it is removed from docs. However, when

[2019-09-13 09:48] amrbrkt commented on #220
Hi @FrancoSabadini
we just fixed it, you can find the fix in `8.6.3.101-SNAPSHOT`.
I'll close this issue and feel free to reopen it if you still have problems.

**To use the snapshot:**
Add these to your app-level `build.gradle` file to grab snapshots:

[code]
[code]

[2019-09-13 09:48] #220 closed

[2019-09-13 10:15] cihati commented on #225
This was my bad -- I made the changes to `MainApplication.java`, but I needed to make them to `MainActivity.java`

That being said, the stuff about `dispatchTouchEvent` does not exist in documentation after version 8.3 and it needs to be added.

[2019-09-13 11:10] #225 closed

[2019-09-14 01:10] plowman opened #226 "ANR Triggered by InstabugAnnouncementSubmitterService"
### What I'm seeing
<img width="620" alt="instabug_anr" src="https://user-images.githubusercontent.com/148066/64901428-f43d6180-d64d-11e9-88d1-829f9791c41a.png">

Right now in the "ANR" view of the Google Play Console, it seems like basically all of our users are seeing this problem where the app freezes when it starts and an Instabug service is to blame. **Even stranger**: I only see this issue w

[2019-09-16 20:51] FrancoSabadini commented on #220
@amrbrkt is this fix included in 8.7.0? I'd like to use the stable release rather than a snapshot.

[2019-09-16 20:52] FrancoSabadini commented on #212
@amrbrkt is this fix included in 8.7.0?

[2019-09-17 07:56] amrbrkt commented on #212
Yes @FrancoSabadini, it's included in `8.7.0`

[2019-09-17 08:06] amrbrkt commented on #220
Unfortunately, not yet.

[2019-09-17 10:02] raymondctc opened #227 "no such column: type (code 1 SQLITE_ERROR[1]): , while compiling: SELECT type FROM user_attributes_table WHERE key LIKE ? AND uuid =?"
### Steps to Reproduce the Problem
We upgraded Instabug from `8.5.0.8-SNAPSHOT` to `8.6.2` and found these crash logs on Firebase
[code]

### Expected Behavior

### Actual Behavior

### Instabug integration code
[code]

### SDK Version
8.6.2

### Android Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2019-09-18 14:35] amrbrkt commented on #227
Hey @raymondctc, Please update to our latest version 8.7.0, this issue has been solved.
Please don't hesitate to get back to us if you have any other issues.
Thank You!

[2019-09-18 14:35] #227 closed

[2019-09-18 14:37] amrbrkt commented on #226
@plowman would you please share with us the full stack trace of the crash?

[2019-09-18 15:17] jacquesdev commented on #224
@mattetre - can you confirm if this works on 8.6.4?

@mzelzoghbi - can you confirm where my issue was fixed in 8.6.4, in in which commit. I am wary of updating to 8.6.4 and for this issue to start happening again. I have since realised my issue is in fact in this repo https://github.com/Instabug/Instabug-React-Native, but not sure if that just uses this one under the hood.

[2019-09-18 22:53] regala84 opened #228 "Z"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### Android Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2019-09-18 23:37] #228 closed

[2019-09-19 01:28] plowman commented on #226
@amrbrkt since it's an "Application Not Responding" error and not a crash, I don't get a good stack trace, just a stack trace of the main thread when the "App isn't responding [close app] [wait]" dialog shows up.

Here's the stack trace of the main thread at that time, though it's doing React Native stuff so I'm not sure if this will be helpful:
[code]

[2019-09-19 01:54] plowman commented on #226
Good news: I thought the fact that the Google Play Console was blaming Instabug for this was solid enough proof that it was at least partially related to Instabug. However, I just fully removed Instabug from my app and it's still happening. There's a **_small_** chance Instabug and another package are both making the same mistake, but it's more likely this is React Native bug or a bug in another l

[2019-09-19 01:54] #226 closed

[2019-09-19 06:32] mzelzoghbi commented on #224
@jacquesdev This issue has been fixed on Instabug native android SDK 8.7.0 and will be included on ReactNative release 8.7..0 planned to be within a week.

[2019-09-19 09:21] amrbrkt commented on #218
Hi @sallukp, Please update to our recent stable version `8.7.0` and let User Steps know if you still facing any problem. I'll close this issue for now.

[2019-09-19 09:21] #218 closed

[2019-09-19 11:32] amrbrkt commented on #216
This was fixed in our latest version `8.7.0`.

[2019-09-19 11:32] #216 closed

[2019-09-20 18:59] SudoPlz opened #230 "Attempt to invoke virtual method 'int com.instabug.bug.model.a.i()'"
[code]

### Expected Behavior
No crashes
### Actual Behavior
Crash during app launch

### SDK Version
"instabug-reactnative": "^8.6.2",

### React Native, iOS and Android Versions
"react-native": "0.59.9",
Android 9 API LVL 28

### Device Model
Samsung SM-N975U (maybe happens on other devices too, but the crash report came from this device)

[2019-09-23 07:13] andy3466 commented on #202
Hi, I am still facing same issue after updating to the recent version 8.6.3. Lots of users are having this crash.

Caused by android.database.sqlite.SQLiteConstraintExceptionFOREIGN KEY constraint failed (code 787 SQLITE_CONSTRAINT_FOREIGNKEY[787])

android.database.sqlite.SQLiteConnection.nativeExecuteForLastInsertedRowId (SQLiteConnection.java)
android.database.sqlite.SQLiteDatabase.insertWithOn

[2019-09-23 07:29] mzelzoghbi commented on #202
Hi @andy3466,
We noticed that the fix we shipped in 8.6.3 didn't tackle all the cases that caused this crash, so we shipped another solid fix in **8.7.0**.

Please accept our apologies for the inconveniences we may have caused.

ThankYou!

[2019-09-23 09:33] vgrec opened #229 "OutOfMemoryError: Failed to allocate a 1112858 byte allocation with 483520 free bytes and 472KB until OOM"
### Steps to Reproduce the Problem
Not reproducible but we have a couple of reports in Crashlytics

### SDK Version
8.4.0

### Android Version
7, 5, 6

### Device Model
ZTE, HUAWEI, Amazon, LGE

[code]

[code]

[2019-09-23 21:34] danivovich opened #232 "Galaxy S10+ Screenshot Invoke Method Triggering on Scroll"
### Steps to Reproduce the Problem

Android app built with React Native 0.60.0 and instabug-reactnative 8.6.4, using the screenshot method to invoke Instabug, when scrolling a flat list view, the Instabug capture dialog opens

### Expected Behavior

The instabug capture dialog should only open when a screenshot is triggered

### Actual Behavior

The dialog opens whenever a scroll of a flat list is

[2019-09-25 17:01] Muhammadyoussef commented on #219
Hi @AlexWih,

We wanted to let you know that `v8.7.0` now has the fix for this issue. Please accept our apologies for any inconvenience caused. We sincerely appreciate your feedback because it helps us build a better experience.

If you faced any other issues, please feel welcome to reach back out as we would be more than happy to assist.

Cheers 🥂

[2019-09-26 09:34] sfseyhan opened #231 "Crash on adding contact as attachment"
Crashes every time after following the reproduction steps.

### Steps to Reproduce the Problem
- Tap on instabug report
- Select ask a question
- Select ‘Select file from gallery’
- Choose Contact
- App crashes

### SDK Version
8.7.0

### Android Version
8.1.0

### Device Model
HTC One Plus 5T

### Stacktract

Fatal Exception: java.lang.RuntimeException: Failure delivering result ResultInfo{who=nu

[2019-09-26 10:08] mzelzoghbi commented on #231
Hey @sfseyhan, Thanks for reporting this.
Attaching contact to a report is currently not supported so this option should not show. We tried the steps and we can confirm that this is a bug and we will work on a fix and get back to you.

Thank You!

[2019-09-27 00:51] harryarakkal opened #233 "java.lang.RuntimeException during Instabug.Builder().build()"
### Steps to Reproduce the Problem
Upgrade to Instabug 8.7.0
Try to instantiate Instabug.

### Expected Behavior
Build without throwing an exception.

### Actual Behavior
Throws an exception.

### Instabug integration code
        // Instabug
        new Instabug.Builder( activity.getApplication(), "app token" )
                .setInvocationEvents( InstabugInvocationEvent.SCREENSHOT )

[2019-10-01 04:17] fchicken opened #234 "ANR problem triggered by setUserAttribute"
Hi,

Many ANR occurred when setUserAttribute is called.

The following is the stack trace:
![Screen Shot 2019-10-01 at 11 57 52 AM](https://user-images.githubusercontent.com/10477535/65933600-ba899a80-e444-11e9-9e71-6d5db4b472fd.png)

### SDK Version
8.7.0

### Android Version
Occurs on lots of versions

### Device Model
Occurs on lots of devices

[2019-10-01 13:51] hanaamohamed commented on #234
Hi @fchicken,

Sorry to hear that, here's a snapshot with the fix

`com.instabug.library:instabug:8.7.0.7-SNAPSHOT`

In order to consume this snapshot, you need to fetch it from the below repository
[code]

[2019-10-01 17:18] ryanrampage1 opened #235 "Strict Mode Violation"
### Steps to Reproduce the Problem
Launch the app with strict mode enabled.

Sample strict mode enable code:
App.kt:
[code]

This appears to be related to Issue https://github.com/Instabug/Instabug-Android/issues/95.

### Expected Behavior
No closable is leaked.

### Actual Behavior
 A closable is leaked by the InsataBug SDK.

[code]
### Instabug integration code
Manifest:
[code]
App.kt:
[code]

#

[2019-10-02 09:14] fchicken commented on #234
Hi @hanaamohamed,

I'll try it in the new version of production and tell you the result after it's released.
Thanks for your prompt reply :)

[2019-10-03 06:33] raymondctc opened #236 "OutOfMemory Exception"
We got a bunch of OutOfMemory error with regards to following method calls:

1.

[code]

2.
[code]

3.
[code]

### Steps to Reproduce the Problem
N/A

### Expected Behavior

### Actual Behavior

### Instabug integration code
[code]

### SDK Version
8.7.0

### Android Version
Android 5 - 7 (Not found on 8 or above)

### Device Model

### [Optional] Project That Reproduces the Issue

[2019-10-04 13:12] andrewdazs commented on #233
Same issue here... I'm using version `8.6.2`. Anyone know how to fix it?

[2019-10-04 13:43] RogelioRo commented on #169
I just got this crash for

`    implementation 'com.instabug.library:instabug:8.5.0'`

[code]

[2019-10-04 14:28] mzelzoghbi commented on #169
Hey @RogelioRo , this issue has been solved and released in latest SDK version 8.7.0. please try to upgrade and let us know if you faced the same issue again.

[2019-10-06 10:30] mzelzoghbi commented on #233
Hi @harryarakkal, Thanks for reporting this, From the integration code you shared we can see that you initialized the SDK in an Activity class & this is not recommended. We would recommend to move the integration code to the Application class and get back to us if the issue still occurs.

[2019-10-06 10:32] mzelzoghbi commented on #233
@andrewdazs Can you try updating to the latest SDK version and make sure that the integration code is in the Application class?

[2019-10-07 07:24] RogelioRo commented on #169
It is fixed. Thanks!

[2019-10-07 07:38] mzelzoghbi commented on #165
@rdrobinson3 @mykhailo-gaidai do you ship your app using Android App Bundle? if Yes, so the issue may be due to sharing the app using P2P sharing applications that share the main .apk file and didn't share the split .apk versions

for more info about this issue please check this thread on StackOverflow https://stackoverflow.com/a/53082301/2188269

Please feel free to reopen if the issue still pers

[2019-10-07 07:38] #165 closed

[2019-10-07 07:39] #173 closed

[2019-10-07 07:43] mzelzoghbi commented on #197
@FrancoSabadini This issue has been fixed in the latest SDK version **8.7.0**, please feel free to reopen if the issue still persists.

Thank You

[2019-10-07 07:43] #197 closed

[2019-10-08 20:59] andrewdazs commented on #233
Thanks! I've made the update and everything is working fine.

[2019-10-08 22:18] mzelzoghbi commented on #233
@andrewdazs Glad to hear that things are solved now :) If you face any problem, I will be happy to help you.
Have a nice day 😄

[2019-10-08 22:18] #233 closed

[2019-10-09 10:41] Axrorxoja opened #237 "SQLiteDatabaseWrapper.java – line 31"
<img width="951" alt="Screen Shot 2019-10-09 at 3 37 51 PM" src="https://user-images.githubusercontent.com/5182036/66474506-e5aa6480-eaaa-11e9-9793-d0e2510d13f3.png">

[2019-10-09 11:04] mzelzoghbi commented on #237
@Axrorxoja Thanks for reporting this.
What is InstabugSDKVersion you are using and integration code?

[2019-10-09 14:01] mzelzoghbi commented on #235
Hi @ryanrampage1 , Thanks for reporting this.

From the initial investigation, it may be a false alarm or a bug in the `com.android.okhttp`.
we will dig deep and keep you updated once we reach anything.

Thank You & Have a nice day 😃

[2019-10-09 20:10] Axrorxoja commented on #237
Hi @mzelzoghbi at time instabug version 8.6.3
what is the integration code?

[2019-10-10 04:10] tuannguyen041094 opened #240 "InstaBug.SetStringToKey Instabug.strings.reportBug not working on android"
I have Problem when set up  InstaBug.SetStringToKey with Instabug.strings.reportBug. On IOS it ok but in android it's not right . Please help me resolve this problem.
<img width="732" alt="Screen Shot 2019-10-10 at 11 08 24 AM" src="https://user-images.githubusercontent.com/39692275/66538407-6ec6a780-eb4e-11e9-87cb-eca226d05891.png">

[2019-10-10 07:04] narayanan-t2s opened #238 "Qt Android Application - Instabug integration fails"
We created a sample Android project using Qt QML and trying to integrate Instabug into it. We observed that the Instabug is not being called from the application.

### Steps to Reproduce the Problem
1) Create a sample Qt Android application.
2) Integrate Instabug on onCreate Java code.

### Expected Behavior
1) Instabug dialog to be called on shaking or any invocation method.

### Actual Behavior

[2019-10-10 11:05] Galiza opened #239 "[ERROR] Can't build after adding plugin"
Following Cordova documentation to install the latest version of the plugin, I can't build the project anymore.

Here's the screenshot of the error:
![instabug](https://user-images.githubusercontent.com/9288512/64567369-79630680-d32e-11e9-82af-4feb50eab809.png)

[2019-10-13 16:46] Axrorxoja opened #241 "android.view.View android.view.View.findViewById(int)"
<img width="828" alt="Screen Shot 2019-10-13 at 9 44 40 PM" src="https://user-images.githubusercontent.com/5182036/66718931-d73daf00-ee02-11e9-8a6e-423478c152dd.png">
latest version Instabug 8.7.0

[2019-10-14 11:21] Muhammadyoussef commented on #241
Hi @Axrorxoja,

Would you please use `implementation com.instabug.library:instabug:8.7.0` and let us know if this issue still occurs 🙏

[2019-10-14 15:02] Axrorxoja commented on #241
@Muhammadyoussef it was happen in 8.7.0 version !

[2019-10-14 18:35] AliAbdelfattah commented on #240
@tuannguyen041094 here's a custom build with the fix till the next release.
[code]

[2019-10-14 18:35] #240 closed

[2019-10-15 09:33] Galiza commented on #239
@HeshamMegid  @AliAbdelfattah @alyezz So, any news?

[2019-10-15 14:10] Muhammadyoussef commented on #241
Hi @Axrorxoja ,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.
The stacktrace does not correspond to `8.7.0`. However, the good news here is that we were able to create a snapshot that has the fix for you.

The following snapshot has the fix
`8.7.0.22-SNAPSHOT`

To grab the snapshot, please add the following to your code:

[code]
[co

[2019-10-17 04:36] raymondctc opened #242 "Some crashes occured when Announcement feature is active"
### Steps to Reproduce the Problem
- We found that's a surge of crashes after Announcement was published.

Crash logs
[code]

[code]

[code]

### Expected Behavior

### Actual Behavior

### Instabug integration code
[code]

### SDK Version
8.7.0

### Android Version
All

### Device Model

### [Optional] Project That Reproduces the Issue

[2019-10-18 18:38] douglasselph commented on #140
I am using 8.7.0 and did the steps above (using NONE), yet the dialog is still appearing.

[2019-10-18 18:46] douglasselph opened #243 "Permission dialog appears even with InstabugInvocationEvent.NONE."
This issue is a re-opening of the problem described here:
[https://github.com/Instabug/Instabug-Android/issues/140](url)

### Steps to Reproduce the Problem
Start your APP with:
BugReporting.setInvocationEvents(InstabugInvocationEvent.NONE)

### Expected Behavior
No permission dialog

### Actual Behavior
Shows permission dialog

### Instabug integration code

implementation 'com.instabug.library:i

[2019-10-18 18:50] mzelzoghbi commented on #140
@douglasselph Can you provide which device model / os you are using and if it it reproducible on other devices, os versions or not ?

[2019-10-18 18:51] mzelzoghbi commented on #140
@douglasselph lets move this to https://github.com/Instabug/Instabug-Android/issues/243

Locking this issue.

[2019-10-18 18:54] mzelzoghbi commented on #243
@douglasselph Can you try if it is reproducible on other devices, os versions or not?

[2019-10-18 19:29] douglasselph commented on #243
I tried it on my other phone (moto g6 play) running 9.0 and instabug
behaved as expected.
So that's good.

When I was debugging on the nexus 6p (8.1.0), the debugger showed that
after an instabug function called something like onActivityResumed() call,
the dialog was invoked.
--Doug

On Fri, Oct 18, 2019 at 1:54 PM Mohamed Zakaria El-Zoghbi <
notifications@github.com> wrote:

--
Cell: 312-662-8466

[2019-10-21 09:35] Bartosz-Kozajda opened #244 "v. 8.7.0 release"
Instabug v. 8.7.0 is not fully released
https://github.com/Instabug/Instabug-Android/releases

[2019-10-21 09:53] mzelzoghbi commented on #244
Sorry for this inconvenience, It is now available.

[2019-10-21 09:53] #244 closed

[2019-10-21 10:58] Muhammadyoussef commented on #241
Hi @Axrorxoja,
I'll close this issue for now. Please feel free to reopen it if you still encounter this issue

[2019-10-21 10:58] #241 closed

[2019-10-22 08:10] Pirksy opened #245 "Screen record crash on Android 10"
`
java.lang.RuntimeException: Unable to start service com.instabug.library.internal.video.ScreenRecordingService@94e4d7e with Intent { cmp=....stage/com.instabug.library.internal.video.ScreenRecordingService (has extras) }: java.lang.SecurityException: Media projections require a foreground service of type ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION
        at android.app.ActivityThread.h

[2019-10-22 19:03] KarimFikani opened #246 "InstabugDialogActivity keeps showing up in the log on Pixel 3a"
### Steps to Reproduce the Problem
Customers with Pixel 3a are reporting that the bug reporting popup keep showing up and would make the app unusable.
I looked at the the logs for that bug report and saw in the logs InstabugDialogActivity "Common.ApplicationLifecycleListener(22905): onActivityStarted:class com.instabug.library.invocation.invocationdialog.InstabugDialogActivity" keeps showing up.

[2019-10-22 23:26] mzelzoghbi commented on #246
Hi @KarimFikani , Can you please try to update to 8.7.0 and tell us if the issue still occurs or not?

[2019-10-25 19:46] fluxxion82 opened #247 "Instabug is not responding to `show()` call or Shake event"
### Steps to Reproduce the Problem
Add
`new Instabug.Builder(this, "APP_TOKEN").build();`
in Application's onCreate method.

Next, use 'Shake' invocation or call
`Instabug.show()` (This is being launched from a kotlin coroutine `launch` with default context. Calling launch from the main context doesn't seem to help either though.)

### Expected Behavior
Instabug bug reporting dialog shows up

###

[2019-10-27 08:11] mzelzoghbi commented on #237
@Axrorxoja
The integration code is the code you used to Initialize the SDK.

Please Update to **8.7.2** and let us know if you faced this issue again.

[2019-10-27 08:11] #237 closed

[2019-10-28 19:12] KarimFikani commented on #246
ok will do. Won't know until after I release and no one reports about the issue. thx!

[2019-10-28 19:15] mzelzoghbi commented on #246
@KarimFikani we released 8.7.2 couple of days ago, please give it a try and feel free to reach out to us again if you encountered any issues.

Thank You.

[2019-10-28 19:15] #246 closed

[2019-10-29 05:59] KarimFikani opened #248 "2 issues after upgrading from 8.0.8 to 8.7.2"
First Issue welcome page not showing even though the same code on 8.0.8 works fine but on 8.7.2 doesn't. Welcome page does not show up.

### Instabug integration code
[code]

Second issue is that the prompt options popup plays an exit animation that drops from top to the bottom of the screen. In 8.0.8 that screen used to just fade out and disappear. I find the new animation is not consistent with

[2019-10-29 17:52] mzelzoghbi commented on #199
Hello @tedcurrent , This issue has been fixed in recent version 8.7.2, Please let us know if you encountered any other issues.

Thank You!

[2019-10-29 17:53] #199 closed

[2019-10-29 17:54] #206 closed

[2019-10-29 18:50] KarimFikani commented on #248
Hey @mzelzoghbi, I did clear the cache and even uninstalled the app and couldn't see it. I did split the code in the following way and still not showing:

[code]

The showWelcomeMessage is being executed but nothing is showing. I tried multiple devices and emulators and I get the same behavior, no welcome page shows up.

As for the second issue,

instabug_8.0.8:

![instabug_8 0 8](https://user-ima

[2019-10-29 18:55] mzelzoghbi commented on #248
@KarimFikani Sorry for the 1st issue I forgot to tell you that it will not gonna show with the **NONE** invocation event. You should change your invocation to any of the other invocation methods to be able to show the welcome message. Can you please give it a try and verify if it worked?

[2019-10-29 19:04] KarimFikani commented on #248
@mzelzoghbi ok that worked thx!

[2019-10-29 20:17] mzelzoghbi commented on #248
@KarimFikani Great, For the animation issue, We can confirm it is an issue from our side, however, we created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

[2019-10-29 20:42] KarimFikani commented on #248
yep works :)

[2019-10-29 20:45] mzelzoghbi commented on #243
@douglasselph We tried this multiple times on Nexus 6P with OS version 8.1.0 and everything seems to be ok. Can you try reproducing the issue on a sample application?

[2019-10-31 13:34] mzelzoghbi commented on #248
@KarimFikani Happy to hear that everything is working now. This will be included in our next official release planned to be in two weeks.

Thank You.

[2019-10-31 13:34] #248 closed

[2019-11-01 20:00] SudoPlz commented on #230
Any news on that?

[2019-11-04 03:33] jlmcdonnell commented on #135
I'm seeing this issue again in `8.7.2`

[code]

[2019-11-07 04:28] sweaver2494 commented on #247
I am having the same issue on a Pixel 3A. It was working a few weeks ago, but I just realized that it stopped working sometime in the last few weeks. During this time, my phone upgraded to version 10 (on Oct 1 2019).

I call Instabug.show() upon a toolbar menu button click, but now nothing happens. I also tried BugReporting.show(BugReporting.ReportType.Bug) instead of Instabug.show(), but with the

[2019-11-07 08:01] mzelzoghbi commented on #247
@sweaver2494 Thanks for reaching out.
I can see that you are initializing the SDK in the Main Activity and this causes some issues.

We would recommend initializing the SDK in the Application class and let us know if it is still not working.

For now, I'll be closing this. Please feel free to re-open if you still encounter any issues

[2019-11-07 08:55] #219 closed

[2019-11-07 08:55] #224 closed

[2019-11-07 16:48] fluxxion82 commented on #247
I actually just finished creating a test app that reproduces part of the issues we are seeing. I found a race condition with the building of Instabug and updating the user info, but there is an issue when we first run the app, Instabug won't show. If we exit the app and then reopen the app, instabug seems to work normally. If we force close the app, and reopen the app, instabug won't show. We are

[2019-11-07 20:17] fluxxion82 commented on #247
Ok, here is an example app. Sorry it took so long. Instabug is built in the onCreate method of the application. Like I mention in the above comment, the first time you run the app, hit the settings button on the bottom nav bar, and then you click the 'send diagnostic report' button, and that calls Instabug.show(), but nothing happens. If you background the app, and then bring it to the foreground

[2019-11-08 19:54] mzelzoghbi commented on #247
@fluxxion82 Thank You for your time, we really appreciate your effort to reproduce the issue and help us to figure out what is the issue. We figured out that there is a delay around 1 second between initializing the SDK directly from the application class &  from using `DI` & `Courtine `.

The root cause that the SDK will not be initialized when it is delayed in init() because we listen on activit

[2019-11-09 12:49] sweaver2494 commented on #247
I moved the Instabug.build() block into the oncreate method of the application class, but unfortunately that did not fix it :( Still nothing happends when I call Instabug.show().
I wonder if my issue is different, as it does not even show up after backgrounding the app, as in @fluxxion82 's case.

[2019-11-10 18:31] THEAccess opened #249 "com.instabug.library.PresentationManager.show throws NullPointerException"
I have a issue with Instabug. My crash reporting reports that about 8% of my users are experiencing a crash whose source is in the Instabug library.

### Steps to Reproduce the Problem
Can't reproduce on available test devices

### Instabug integration code
Application.kt:
[code]

Stacktrace:
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.

[2019-11-10 19:37] KORuL opened #250 "crash"
![image](https://user-images.githubusercontent.com/19871487/68549575-9db09180-040a-11ea-9c03-c36832358fa1.png)

[2019-11-10 20:52] mzelzoghbi commented on #250
@KORuL can you provide the details mentioned here https://github.com/Instabug/Instabug-Android/blob/master/.github/issue_template.md

This will help us identify the root cause and fix it.

Thank you

[2019-11-11 06:24] odemolliens commented on #236
Same here

[code]

[2019-11-12 19:02] SudoPlz commented on #230
Nope?

[2019-11-13 14:15] alyezz commented on #230
@SudoPlz Sorry for the late reply, unfortunately we are unable to replicate the issue on our side. Do you mind updating to the latest version 8.7.2 and letting us know if the issue persists?

[2019-11-13 17:16] THEAccess commented on #249
Seriously, my crash reporting is flooded with serveral crashes whose origin is in the Instabug library. About 8% of users are affected. If this doesn't get fixed i have to remove the Instabug library in order to not annoy users.

[2019-11-13 18:00] mzelzoghbi commented on #249
Hi @THEAccess ,
Please accept our apologies for the inconveniences we may have caused. I completely understand how that can be frustrating. Please rest assured that we’re always working on improving the stability of our SDKs while introducing new helpful features.

This issue has been fixed in 9.0.3, Please upgrade and let us know if this issue still happens.

Thank You

[2019-11-13 18:00] #249 closed

[2019-11-13 18:02] mzelzoghbi commented on #247
@sweaver2494  is this issue reproducible on a sample app?

[2019-11-13 19:00] fluxxion82 commented on #247
@mzelzoghbi fyi, It looks like the latest updates fix the delay issue for me.

[2019-11-13 19:07] mzelzoghbi commented on #247
@fluxxion82 This is Interesting 🤔 Technically we didn't change any logic related to this area, all the recent changes were various bug fixes and the major change was migrating to AndroidX. But anyway, I am happy that your issue has been fixed 🎉

@sweaver2494 can you migrate to the latest SDK Version 9.0.3 and check if this issue still happening?

[2019-11-14 00:02] aaronweihe opened #251 "Disk read strict mode violation"
### Steps to Reproduce the Problem
Add strict mode policy `SampleApplication#onCreate` in the sample
[code]
### Expected Behavior
No disk read on main thread.
### Actual Behavior
Strict mode violated with such a stacktrace:
[code]
### Instabug integration code
I used the sample project in this repo.

### SDK Version
9.0.3
### Android Version
I used Android 10 but I believe this'd happen on all dev

[2019-11-14 04:13] sweaver2494 commented on #247
@mzelzoghbi I migrated to 9.0.3, but still no luck. I am using AndroidX by the way.

I have no indication that anything is happening when I call Instabug.show(), other than a log message:
SDK LOG: encryption: ivparameter<parameter> key: <key>

[2019-11-14 08:12] mzelzoghbi commented on #251
Thanks @aaronhe42 for reporting this, we will take a look and get back to you ASAP.

[2019-11-14 08:14] mzelzoghbi commented on #247
@sweaver2494 We will need more info about your account so, Would you be able to reach out to our support team using contactus@instabug.com so that we can further investigate this issue?

ThankYou

[2019-11-14 13:17] #247 closed

[2019-11-14 13:50] mzelzoghbi commented on #235
I think it is a bug in the android network Framework "okhttp", so it is safe to ignore.

Thank You

[2019-11-14 13:50] #235 closed

[2019-11-14 14:00] mzelzoghbi commented on #231
Hey @sfseyhan ,
First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.

The following snapshot has the fix till we release it in our next official release
`9.0.3.1-SNAPSHOT`

To grab the snapshot, please add the following to your code:

[code]
[code]
Please give it a try, and let me know if it solves the issues you have. Thank you 😊

[2019-11-14 14:00] #231 closed

[2019-11-14 14:00] #234 closed

[2019-11-14 14:03] mzelzoghbi commented on #242
Hi @raymondctc ,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue. This was fixed in our latest version `9.0.3`

Please give it a try, and let me know if it solves the issues you have.
Thank you 😊

[2019-11-14 14:03] #242 closed

[2019-11-14 14:06] mzelzoghbi commented on #243
Hi @douglasselph, I’m closing this issue because of inactivity. Please reopen if you still encounter this issue with the latest version `9.0.3`
Thank you! 😊

[2019-11-14 14:06] #243 closed

[2019-11-14 14:21] mzelzoghbi commented on #229
Hi @vgrec ,

First of all, please accept our sincerest apologies for taking some to response, We already fixed this issue in our latest version `9.0.3`

Please give it a try, and let me know if it solves the issues you have. Thank you 😊

[2019-11-14 14:21] #229 closed

[2019-11-15 21:54] skinner2012 opened #252 "Crash with latest library 9.0.3 in Android 4.X"
### Steps to Reproduce the Problem
1. Have Android smartphone which has Android 4.X OS.
2. Have an app using Instabug 9.0.3 and make sure the app will initilaize Instabug during launching.
3. Launch the app

### Expected Behavior
Should not crash. Should be retro-compatible for Android 4.X.

### Actual Behavior
Crash.

And here is the logs

[code]

### Instabug integration code
[code]

### SDK Ver

[2019-11-18 10:22] mzelzoghbi commented on #252
Hey @skinner2012 , Thanks for reporting this, can you share with me the androidX support libraries you are using?

Thank You

[2019-11-18 13:58] moreirawebmaster opened #253 "Xamarin.Android No resource found that matches the given name (at 'layout_toStartOf' with value '@id/ib_bug_repro_step_delete')"
Erro new version in xamarin.android:

No resource found that matches the given name

### Steps to Reproduce the Problem

### Expected Behavior
No resource found that matches
### Actual Behavior
resource found that matches
### Instabug integration code

No resource found that matches the given name (at 'layout_toStartOf' with value '@id/ib_bug_repro_step_delete'). |App.Android | C:\projects\app\app

[2019-11-18 18:24] skinner2012 commented on #252
[code]

[2019-11-19 19:49] mzelzoghbi commented on #253
Hey @moreirawebmaster Thanks for reporting this. Is this issue reproducible? If yes can you please provide a sample application with the issue?

Thank You

[2019-11-20 09:36] SKerencic commented on #252
have the same issue...any updates on this? thank you

[2019-11-20 15:40] imranMnts commented on #249
Hello @mzelzoghbi,

Can we have the fix in 8.0.x to use it into the project which not support androidX please?

[2019-11-20 20:37] mzelzoghbi commented on #249
Yes Sure, HYG

[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]

[2019-11-21 12:29] imranMnts commented on #249
Awesome, thank you 🙂

[2019-11-21 13:09] mzelzoghbi commented on #252
Hey @skinner2012 @SKerencic

We created a snapshot that should fix the issue, Can you please try it and let us know if everything works out?

[code]
And don't forget to add this to your app **build.gradle** before your dependencies
[code]
Thank You

[2019-11-21 16:27] SudoPlz commented on #230
It's supper hard to tell you wether that's fixed or not, this came from one of our users in production via a crash report, so to tell you that, I'll have to publish a new version, and wait for that crash to either happen or not happen at some point in the future.

[2019-11-21 16:55] moreirawebmaster commented on #253
Hi @mzelzoghbi  any application xamarin.forms adding instabug-android in project android of Nuget.
Sorry, app installed instabug is commercialite.

[2019-11-21 18:27] alyezz commented on #253
@moreirawebmaster From Visual Studio, open the Android project options. Under the “Build” header from the sidebar, select “Android Build” option. Check the option “Use incremental Android packaging system (aapt2)“.
<img width="969" alt="Screen Shot 2019-08-19 at 18 16 03" src="https://user-images.githubusercontent.com/10798072/69365596-5d200600-0c9d-11ea-8587-59a3ef149d63.png">

[2019-11-21 18:50] moreirawebmaster commented on #253
@alyezz ohhhhhhhhhhhh very nice man! Working. Got it!!!!!

[2019-11-22 11:40] SKerencic commented on #252
@mzelzoghbi sorry for my late reply... this fix is working for me. tested on android 4.4.4.. great!

[2019-11-23 01:17] fluxxion82 commented on #247
So I think I'm seeing this issue on an LG Thinq still. It's weird because the logging we've added looks like the build call is happening before any of the api calls, but I'm still getting an exception about api being called before build. After that library update I haven't seen or heard of any issues with instabug, but I just saw it while testing on this phone, which is not the type of phone most

[2019-11-26 18:23] KORuL commented on #252
unresolved reference

[2019-11-26 18:24] mzelzoghbi commented on #252
@KORuL Can you elaborate more?

[2019-11-26 18:26] KORuL commented on #252
Sorry? in `implementation 'com.instabug.library:instabug: 9.0.3.5-SNAPSHOT'` you added space

[2019-11-26 18:32] mzelzoghbi commented on #252
@KORuL sorry my bad, I updated it

[2019-11-27 06:35] mahmoudElfeel67 opened #254 "java.lang.VerifyError: Rejecting class com.instabug.library.c because it failed compile-time verification"
### Steps to produce
Initialize the builder in Application

 ` new Instabug.Builder(this, getString(R.string.instabug_app_token))
                .setInvocationEvents(BuildConfig.DEBUG ? InstabugInvocationEvent.FLOATING_BUTTON : InstabugInvocationEvent.SHAKE)
                .build();`

### Its crashing with error

`java.lang.VerifyError: Rejecting class com.instabug.library.c because it failed co

[2019-11-27 09:27] SKerencic commented on #252
@mzelzoghbi when this fix will be released/merged into new version? thanks

[2019-11-27 13:05] mzelzoghbi commented on #252
@SKerencic this will be included in our next release this is planned to be within 2 weeks.

[2019-11-27 14:08] mzelzoghbi commented on #254
Hello @mahmoudElfeel67 , Thanks for reporting this.
Can you try to update the SDK to  **9.0.3 ** and tell us if this solved your issue?

[2019-11-27 21:13] mahmoudElfeel67 commented on #254
Hello @mzelzoghbi  I am already on version 9.0.3 as you can see on the issue
thats where its crashing

its is not crashing in version 8.7.2 though

[2019-11-27 22:39] mzelzoghbi commented on #254
sorry @mahmoudElfeel67 my bad I thought you are on 8.7.2, not 9.0.3. is this issue reproducible on a sample app?

[2019-11-28 12:16] pwojnar opened #255 "Network requests with custom Content-Type response header are not being reported"
### Steps to Reproduce the Problem
I use OkHttp3 library for networking with Instabug Interceptor.
In some network requests I use a custom Accept header and then the backend response containts a custom Content-Type header. Something like "application/abc-v2+json".

### Expected Behavior

I expect all of those requests will be logged in Instabug reports.

### Actual Behavior

All requests with cust

[2019-12-01 11:39] mzelzoghbi commented on #236
Hello @raymondctc   @odemolliens
First of all, please accept our sincerest apologies for taking some time to respond.
This was fixed in our latest version 9.0.3 Please give it a try, and let me know if it solves the issues you have. Thank you 😊

[2019-12-01 11:39] #236 closed

[2019-12-02 22:10] yongjhih commented on #245
It works well after downgraded the android target SDK to 28.

ref. https://stackoverflow.com/a/57186064/2872224

ref. https://developer.android.com/about/versions/pie/android-9.0-migration#tya

[2019-12-03 09:11] mzelzoghbi commented on #245
Hello @Pirksy @yongjhih  Thanks for reporting this.
We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You

[2019-12-03 12:49] Pirksy commented on #245
Hello @mzelzoghbi ! Snapshot version crashes app after recording with
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: xxx.xxx.stage, PID: 5684
    android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()
        at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1768)
        at android.os.Handler.dispatchMessage(Handler.

[2019-12-03 17:34] mzelzoghbi commented on #245
@Pirksy Yes you are totally right, there was an issue on 8.x.x I updated the snapshot can you try it again after running this command `./gradlew build --refresh-dependencies`

Thank You

[2019-12-03 18:53] moreirawebmaster opened #256 "Xamarin.Android Error inflating class com.instabug.library.view.viewgroup.IBPercentageRelativeLayout"
Java.Lang.RuntimeException: 'Unable to start activity ComponentInfo{br.com.app.app/com.instabug.library.invocation.invocationdialog.InstabugDialogActivity}: android.view.InflateException: Binary XML file line #1: Binary XML file line #1: Error inflating class com.instabug.library.view.viewgroup.IBPercentageRelativeLayout'

### Steps to Reproduce the Problem
Printscreen or Shake

### SDK Version
8.

[2019-12-04 09:13] khaledbayt opened #257 "com.instabug.library.PresentationManager.show throws NullPointerException"
I have an issue with Instabug.
Crash tool reports that 55% of users have a crash from Instabug library.

### Steps to Reproduce the Problem
Can't reproduce on test devices.

### Stacktrace
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference
       at com.instabug.library.PresentationManag

[2019-12-04 09:33] HeshamMegid commented on #257
@khaledbayt thanks for the report, we're looking into.

PS. Since this is an issue in our native Android SDK, I just transferred the issue to the relevant repo.

[2019-12-04 09:37] HeshamMegid commented on #257
This issue has been fixed in the latest version which we will be releasing soon. I will let you know once it's available.

[2019-12-04 09:48] khaledbayt commented on #257
Hi @HeshamMegid
Thanks for quick response,
This issue belong to instabug_flutter lib not to instabug_android
So i will add it to Instabug-Flutter repo

[2019-12-04 09:48] #257 closed

[2019-12-04 10:06] Pirksy commented on #245
Yeap, it works :) Thanks!

[2019-12-04 16:41] edenman opened #258 "Crash in InstabugAnnouncementSubmitterService on wake_lock permission"
### Steps to Reproduce the Problem
Launch app on API 23 emulator

### Expected Behavior
App launches

### Actual Behavior
 java.lang.RuntimeException: Unable to start service com.instabug.survey.announcements.network.InstabugAnnouncementSubmitterService@7c60a11 with Intent { cmp=com.envoy.app/com.instabug.survey.announcements.network.InstabugAnnouncementSubmitterService }: java.lang.SecurityExcept

[2019-12-05 11:00] mzelzoghbi commented on #258
Hello @edenman , Thanks for reporting this.
We can see that the issue is due to removing `WAKE_LOCK` permission which is required by our SDK to work.
This permission we added to support `JobIntentService` after Oreo was released and limiting the background services.  These services are used to handle SDK network requests like sessions, surveys, announcements, bug reports, etc

Removing the whole l

[2019-12-06 21:34] #258 closed

[2019-12-10 20:49] edenman opened #259 "NPE in InstabugOkhttpInterceptor"
### Steps to Reproduce the Problem
Add the instabug http interceptor

### Expected Behavior
Log http calls to instabug

### Actual Behavior
Crash

### Instabug integration code
In Application subclass, called at the end of onCreate:
[code]

In Dagger module that sets up networking:
[code]

### SDK Version
9.0.3

### Android Version
23

### Device Model
emulator

### Stacktrace
[code]

[2019-12-11 07:52] mzelzoghbi commented on #259
Hi @edenman, .
Thanks for reporting this We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if the snapshot fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You

[2019-12-11 08:07] Korazy commented on #255
Hi @pwojnar
Thanks for reaching out to us over here and apologies for not getting back to you sooner!

While we don’t support this specific content type, what you can do as a workaround would be to implement your own interceptor and pass it to the Instabug methods as described [here](https://docs.instabug.com/docs/android-logging#section-logging-httpurlconnection-requests).

The content types supp

[2019-12-11 08:19] #253 closed

[2019-12-11 08:30] mzelzoghbi commented on #223
Hello @AlexWih,
This should be fixed on the latest release `9.0.3`, Please let us know if you faced any other issues.

Thank You

[2019-12-11 08:30] #223 closed

[2019-12-11 16:25] edenman commented on #259
Snapshot does indeed fix the NPE issue.  Now I've got a different exception in my code:
[code]

I'm guessing your interceptor is consuming the response body so the stream is empty when my actual response processor gets it?  I could be wrong, but if you look at OkHttp's `HttpLoggingInterceptor` it does some `clone` operations on the buffer, presumably so it doesn't consume the original response buf

[2019-12-11 17:30] mzelzoghbi commented on #259
@edenman This shouldn't happen, we only copy the response and pass it to the next layer. Can you send us the debug logs ? You will need to enable it by using `Instabug.setDebugEnabled(true);`

Thank You

[2019-12-11 17:42] edenman commented on #259
Here ya go:
[code]

[2019-12-11 17:42] edenman commented on #259
(logcat grepped for Instabug with the `setDebugEnabled(true)` call)

[2019-12-12 09:03] mzelzoghbi commented on #259
@edenman I can't see any errors in the logs.
Can you put a breakpoint in our interceptor and see what is happening to the response body?

[2019-12-12 14:52] mzelzoghbi commented on #251
Hi @aaronweihe ,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and h

[2019-12-16 20:13] ThiagoPierotti commented on #252
Joining the discussion here - 9.0.3 still crashes with:

[2019-12-16 23:43] edenman commented on #259
before your interceptor reads the response:
<img width="861" alt="Screen Shot 2019-12-16 at 3 42 02 PM" src="https://user-images.githubusercontent.com/1063557/70952292-a8b69d00-201a-11ea-826d-72f3bbf0a59e.png">
after your interceptor runs, the `ApolloInterceptor` tries to parse the response, but you've consumed the response body so it can't be read:
<img width="875" alt="Screen Shot 2019-12-16 at

[2019-12-17 01:54] lyricaljourney opened #260 "The position of icons on buttons shift when pressed on Android 23"
### Steps to Reproduce the Problem

Launch our application, navigate to a screen where a button has an icon (such as a play triangle.

### Expected Behavior

The icon should be correctly centred in the button.

### Actual Behavior

Initially, the icon is correctly centred, but after pressing, the icon is no longer correcly centred. For some buttons, it jumps back to the centre by itself but for ot

[2019-12-17 01:59] lyricaljourney commented on #260
I should add that if we execute the Instabug integration code given above, we see this issue with Instabug 9.0.3 (and earlier versions that we have used) and if we launch the app and do not execute the Instabug integration code, then we do not see the issue. So we are confident this behaviour is some sort of side effect of Instabug.

[2019-12-18 08:49] mzelzoghbi commented on #260
Hi @lyricaljourney
Thanks for reporting this, Can you provide us with a GIF/Video for the issue? We will also need to know The view class of the view that is affected by Instabug and if it happens on this device only or on other devices.

Thank You

[2019-12-18 10:03] mzelzoghbi commented on #259
@edenman I checked our codebase and debugged it I didn't find anything seems there is a problem with the parse probably it is an issue with **apollograph** client.

The good thing is that our Interceptor is not Proguarded so you can simply check the entire code and copy it to a new interceptor and try playing with it if you still think there is something wrong in it.

And let us know if you have a

[2019-12-23 10:59] AliAbdelfattah commented on #256
Hi @moreirawebmaster, sorry this has taken us a while to get back to you. The issue has been fixed in Xamarin v9.0.0.

[2019-12-23 10:59] #256 closed

[2019-12-24 07:03] bwoodlt commented on #226
@plowman I'm having the same issue... how did you fix this?

[2019-12-26 09:22] mahmoudElfeel67 opened #261 "Fatal Exception java.lang.String com.instabug.library.model.State.toJson()"
### Steps to Reproduce the Problem
I don't know how to produce
### Expected Behavior

### Actual Behavior
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.instabug.library.model.State.toJson()' on a null object reference
       at com.instabug.bug.c$a.run + 21(c.java:21)
       at java.lang.Thread.run + 762(Thread.java:762)`
### Instabug inte

[2019-12-30 09:26] mzelzoghbi commented on #261
Hello @mahmoudElfeel67, Thanks for reporting this.
This should be fixed on the latest release `9.0.4`. Please let us know if you faced any other issues.
Thank You

[2019-12-30 09:26] #261 closed

[2019-12-30 09:28] mzelzoghbi commented on #252
Hi @ThiagoPierotti
This should be fixed on our latest release 9.0.4. Please let us know if you faced any other issues.

Thank You

[2019-12-30 09:28] #252 closed

[2019-12-30 09:29] #251 closed

[2019-12-30 09:29] #255 closed

[2019-12-30 09:43] mzelzoghbi commented on #254
Hi @mahmoudElfeel67
 I’m closing this issue because of inactivity. Please reopen if you still encounter this issue with the latest version `9.0.4`

Thank you! 😊

[2019-12-30 09:43] #254 closed

[2019-12-30 09:45] mzelzoghbi commented on #250
Hi @KORuL
 I’m closing this issue because of inactivity. Please reopen if you still encounter this issue with the latest version `9.0.4`

Thank you! 😊

[2019-12-30 09:45] #250 closed

[2019-12-30 19:55] samrombswm commented on #259
Hello I am still getting the original error on SDK version 9.0.4

[2020-01-02 03:21] pouriabagheri opened #262 "invoke NEW_CHAT"
### Steps to Reproduce the Problem
 UPGRADE 8.0.6  to 9.0.4

### SDK Version
 9.0.4

### [Optional] Project That Reproduces the Issue
We need to invoke new chat from app it was available through `                BugReporting.invoke(InvocationMode.NEW_CHAT)` but it is no longer available in the new version. I couldn't find the new implementation.

The closest was `Replies.show()` but it is only for

[2020-01-02 13:08] Korazy commented on #262
Hey @pouriabagheri, thanks for reaching out to us!

Regarding your first question, we recently changed the way chats work (around 4-5 months ago), rather than start a new chat, users can send in questions that look a bit like a bug report using the ask a question button in the prompt options. You can manually show the question form using `BugReporting.show(BugReporting.ReportType.QUESTION)`

As fo

[2020-01-02 13:13] #262 closed

[2020-01-02 20:03] eygraber commented on #245
This is still broken on 9.0.4

Android 10 has been out for almost a year now if you include the betas, and almost 6 months of having a stable API. How does a service that charges users not fix bugs of this magnitude. It's like I'm paying you to crash my user's devices.

[2020-01-02 22:19] mzelzoghbi commented on #245
Hello Eliezer,

We appreciate your feedback a lot, your words definitely make a lot of sense on our side! That's not definitely our intentions, I mean we wouldn't love that to happen to our users as well. We created a snapshot fix for you to resolve this issue, you can find it here **9.0.4.2-SNAPSHOT**. Please give it a try, also, it'll be fully released to our next version coming up very soon.
We

[2020-01-03 21:48] mgood7123 commented on #50
any progress?

[2020-01-03 21:51] #230 closed

[2020-01-06 02:36] FrancoSabadini opened #263 ""Fragment already added" error when showing InstabugDialogActivity sometimes"
### Steps to Reproduce the Problem

I got this app crash through Crashlytics so not sure how to reproduce it. It has only happened once so far.

Checking the logs of the crash the last screen that was shown before this crash was `InstabugDialogActivity` so I think it has to be some issue with the Fragments shown inside that Activity.

This is the stack trace from Crashlytics:

[code]

### Expected

[2020-01-06 10:10] amrbrkt commented on #263
Hi @FrancoSabadini
I'm not sure if this stack trace is related to Instabug, I can't see any of Instabug views in the stack.
Please let me know if you have further information that can help me debug the issue.

[2020-01-06 22:12] lyricaljourney commented on #260
Attaching a video:
[EW2888.zip](https://github.com/Instabug/Instabug-Android/files/4028006/EW2888.zip)

This is an android.widget.ImageButton.

[2020-01-06 22:16] lyricaljourney commented on #260
I have asked our testing team to investigate whether this happens on a non-Trimble device.

[2020-01-07 01:10] lyricaljourney commented on #260
We have confirmed that we see the same behaviour on a Samsung Galaxy Tab S4 SM-T830.

[2020-01-07 08:40] amrbrkt commented on #260
@lyricaljourney Thanks for the info you provided, we will look into this issue and come back to you ASAP.

[2020-01-07 10:20] amrbrkt commented on #238
Hey @narayanan-t2s ,
Thanks for reaching out to us with that! We believe the issue stems from Instabug not supporting this framework at the moment, but what we'll do is that we'll share this with our product team so that they can consider support for it in future releases. In the meantime, if there's anything else you'd like to know, please don't hesitate to reach out.

[2020-01-08 03:46] yongjhih opened #264 "NullPointerException: Attempt to invoke virtual method 'int android.net.NetworkInfo.getType()'"
[code]

### Integration

[code]

### SDK Version

[code]

### Android Version

Android 9

### Device Model

LGE LG G7 ThinQ (judyln)

[2020-01-08 06:01] FrancoSabadini commented on #263
Hi @amrbrkt, I'm not sure if it's an issue in Instabug either, but checking the logs from before the crash seems like the user was in the Instabug Activity mentioned in the report. I'll try to find more info but if I can't find anything feel free to close this in a couple of days as it has only happened once.

[2020-01-08 06:07] francos opened #265 "NullPointerException: Attempt to invoke virtual method 'long com.instabug.chat.a$f.f()' on a null object reference"
### Steps to Reproduce the Problem

I received this crash in Crashlytics so not sure how to reproduce it.

Stack trace:

[code]

### Expected Behavior

The app doesn't crash.

### Actual Behavior

The app crashes because of the NPE thrown in the Instabug SDK.

### Instabug integration code

[code]

[code]

### SDK Version

8.7.0

### Android Version

9

### Device Model

 P20 lite

[2020-01-08 07:10] eygraber opened #266 "Remove asking for phone number in a bug report"
I've had users complaining that I am asking for a phone number, and there doesn't seem to be a way to remove it from the form.

[2020-01-08 09:07] mzelzoghbi commented on #266
Hello Eliezer,
Thank you so much for reaching out to us! We need to investigate into this further to help you. We recommend reaching out to our Customer Engineers team through this email: contactus@instabug.com. We'll be able to dig deeper into it by then and reach a solution.
Looking forward to hearing from you.

[2020-01-08 09:42] amrbrkt commented on #265
Thanks @FrancoSabadini for reporting this. We will look into it and come back to you ASAP.
Would you please let me know how frequent this crash is?

[2020-01-08 09:43] amrbrkt commented on #264
Thanks @yongjhih  for this report. We will take a look into the cause and come back to you ASAP. Would you please let me know how frequent this crash is?

[2020-01-08 10:59] FrancoSabadini commented on #265
It only happened once so far, it happened 3 days ago.

On Wed, 8 Jan 2020, 22:42 Amr Barakat, <notifications@github.com> wrote:

[2020-01-08 11:06] marcorighini opened #267 "StrictMode Violation when initializing the sdk"
### Steps to Reproduce the Problem
Initialize Instabug with strict mode enabled
### Expected Behavior
No StrictMode Violation
### Actual Behavior
[code]
and many other similars for settings.

We are getting also this
[code]

### SDK Version
9.0.4

[2020-01-08 11:26] marcorighini commented on #259
Same happens to us, and we are not using apollograph.
@mzelzoghbi I think should be reopened

[2020-01-08 11:54] mzelzoghbi commented on #259
@marcorighini I think you are talking about another issue, can you share with us the stacktrace ?

[2020-01-08 12:21] amrbrkt commented on #267
Hi @marcorighini,
Thanks for reporting this. We've created a SNAPSHOT that should fix the issue, would you please try it and tell us if it fixes the issue for you?

Please use:
`implementation 'com.instabug.library:instabug:9.0.4.2411-SNAPSHOT'`
you will need to add these lines to your app `build.gradle` before your dependencies

[code]
This SNAPSHOT is completely safe to use and has no debug code

[2020-01-08 12:21] #267 closed

[2020-01-08 16:34] edenman commented on #259
FWIW I ended up just writing this simple interceptor because I couldn't get the Instabug one to work:

[code]

[2020-01-08 18:24] yongjhih commented on #264
Seems it's not often.

[2020-01-09 08:08] TAGASK commented on #254
@mzelzoghbi I get it too on the version 9.0.4

[2020-01-10 14:09] amrbrkt commented on #263
I'll close this issue for now. Please don't hesitate to reach us if you found any additional info.

[2020-01-10 14:09] #263 closed

[2020-01-13 08:57] #266 closed

[2020-01-13 12:49] stari4ek opened #268 "InstabugActivityLifecycleListener violates android.os.strictmode.DiskReadViolation"
### Steps to Reproduce the Problem

1. Enable StrictMode checks (https://developer.android.com/reference/android/os/StrictMode) for the app
2. Start app with Instabug integrated
3. Activity should be started
4. `DiskReadViolation` is logged/fired about Disk access from the main thread

### Expected Behavior

No disk I/O from the main/UI thread

### Actual Behavior

I/O disk operations from the mai

[2020-01-13 12:50] stari4ek commented on #268
btw, is there any way to fully disable UI tracking?

[2020-01-13 13:07] stari4ek commented on #268
And there're bunch of other:
[code]

[code]
[code]
[code]
[code]

tons of them.
Looks like all start-up initialization happens here

[2020-01-13 13:39] amrbrkt commented on #268
Thanks @stari4ek for your default report, this was very helpful.

I've created a snapshot for you contains a fix for these warnings, please note this snapshot is totally safe to use and does not contain any debugging/ non-production code.

**To use the snapshot:**
Add these to your app-level `build.gradle `file to grab snapshots:

[code]
[code]
Please give it a try and let me know if you still fac

[2020-01-15 12:44] jiriadamec opened #269 "Vector resource on KitKat"
[code]

### Steps to Reproduce the Problem

Open bug report on Android 4.4

### Expected Behavior

Bug report screen opened

### Actual Behavior

Crash

### Instabug integration code

### SDK Version

9.0.4

### Android Version

4.4 (API 19)

### Device Model

Emulator

[2020-01-15 16:48] amrbrkt commented on #269
Thanks @jiriadamec for reporting this, we are sorry that you faced such issue. We will be looking into this and getting back to you ASAP.

[2020-01-15 17:54] amrbrkt commented on #269
Hi @jiriadamec
We've created a snapshot for you contains a fix for these warnings, please note this snapshot is totally safe to use and does not contain any debugging/ non-production code.
To use the snapshot:
Add these to your app-level `build.gradle` file to grab snapshots:
[code]
[code]
Please give it a try and let me know if you still facing the issue.
Thanks

[2020-01-16 04:44] FrancoSabadini commented on #220
Hi @amrbrkt, was this released already?

[2020-01-16 08:23] jiriadamec commented on #269
It's working, thanks for the fast fix. 👍

[2020-01-16 08:54] amrbrkt commented on #269
Glad to hear that 👍

[2020-01-16 08:54] #269 closed

[2020-01-16 09:33] amrbrkt commented on #220
Hi @FrancoSabadini, yes it was included in our latest releases.
you can use our most recent  version`9.0.4`

[2020-01-16 11:23] stari4ek commented on #268
Does not solve the issue at all
[code]
[code]

[2020-01-20 03:14] lyricaljourney commented on #260
We have a reproduction scenario if that helps. Source code for two apps, one of which enables Instabug and demonstrates this issue, one of which does not and does not.

[ImageButtonTest.zip](https://github.com/Instabug/Instabug-Android/files/4084274/ImageButtonTest.zip)

[2020-01-20 12:19] amrbrkt commented on #260
Thanks @lyricaljourney, this is very helpful. I'll get back to you soon.

[2020-01-21 03:27] FrancoSabadini opened #270 "App crash because of NPE thrown when calling onExtraScreenshotCaptured()"
### Steps to Reproduce the Problem

I received this crash in Crashlytics so not sure how to reproduce it.

Stack trace:

[code]

### Expected Behavior

The app doesn't crash.

### Actual Behavior

The app crashes because of the NPE thrown in the Instabug SDK.

### Instabug integration code

[code]

[code]

### SDK Version

8.7.0

### Android Version

10

### Device Model

Galaxy S10

[2020-01-21 08:38] stari4ek commented on #268
Any updates here, since at least one of case is not fixed with 9.0.4.5-SNAPSHOT

[2020-01-23 07:49] stari4ek commented on #268
And another one for each `TRIM_MEMORY_UI_HIDDEN`:
[code]

[2020-01-27 16:38] CrisBarreiro commented on #245
As v9.0.5 was already released, shouldn't this issue be closed?

[2020-01-27 16:42] mzelzoghbi commented on #245
@CrisBarreiro You are right 👍

Thank You 😄

[2020-01-27 16:43] #245 closed

[2020-01-27 19:01] moreirawebmaster opened #271 "AndroidX Xamarin.Android"
Instabug not working AndroidX Xamarin.Android

![image](https://user-images.githubusercontent.com/1142139/73204701-2b547100-411e-11ea-91e3-ca85fb210ed9.png)

[2020-01-27 20:31] moreirawebmaster commented on #271
Java.Lang.ClassNotFoundException: 'Didn't find class "com.instabug.library.Instabug$Builder" on path: DexPathList[[zip file "/data/app/br.com.vitreo.dtvm-1/base.apk"],nativeLibraryDirectories=[/data/app/br.com.vitreo.dtvm-1/lib/arm64, /data/app/br.com.vitreo.dtvm-1/base.apk!/lib/arm64-v8a, /system/lib64, /vendor/lib64]]'

[2020-01-27 21:37] FrancoSabadini opened #272 "NPE when calling Uri.getPath()"
### Steps to Reproduce the Problem

I received this crash in Crashlytics so not sure how to reproduce it.

Stack trace:

[code]

### Expected Behavior

The Instabug SDK catches this exception so the app doesn't crash.

### Actual Behavior

The app crashes because of the NPE thrown in the Instabug SDK.

### Instabug integration code

[code]

[code]

### SDK Version

8.7.0

### Android Version

10

[2020-01-28 07:10] mzelzoghbi commented on #272
@FrancoSabadini Thanks for reporting this. This issue has been solved in recent SDK Versions, Can you please upgrade Instabug SDK Version to 9.0.5 and tell us if the issue still persists.

Thank You

[2020-01-28 07:23] mzelzoghbi commented on #271
Hello @moreirawebmaster , Thanks for reporting this. Is the issue reproducible on a sample app? it will help us to debug the issue faster and fix it.

[2020-01-28 09:41] FrancoSabadini commented on #272
Thanks for the quick answer @mzelzoghbi, I'll update to 9.0.5 and will re-open the issue if it happens again.

[2020-01-28 09:41] #272 closed

[2020-01-28 12:17] moreirawebmaster commented on #271
To simples create one project Xamarin.Forms Include Libs AndroidX in Xamarin.Android and include instabug-for-android, build project and error:

Java.Lang.ClassNotFoundException: 'Didn't find class "com.instabug.library.Instabug$Builder" on path: DexPathList[[zip file "/data/app/br.com.vitreo.dtvm-1/base.apk"],nativeLibraryDirectories=[/data/app/br.com.vitreo.dtvm-1/lib/arm64, /data/app/br.com.vit

[2020-01-28 12:30] CrisBarreiro opened #273 "Screen record crash on Android 10 using Instabug 9.0.5"
### Steps to Reproduce the Problem

1. Open instabug
2. Select screen recording
3. Start recording
4. Application will crash

### Expected Behavior

The application should start recording

### Actual Behavior

The application crashes

### Instabug integration code
[code]

### SDK Version
9.0.5

### Android Version
10

### Device Model
Pixel 3a API 29 Emulator

### Stacktrace

[code]

[2020-01-28 13:07] alyezz commented on #271
@moreirawebmaster Right click on your `project.Android` go into Options -> Android Build and change the Dex compiler to `d8` instead of `dx`

![Screen Shot 2020-01-28 at 3 04 11 PM](https://user-images.githubusercontent.com/10798072/73266623-e8f36880-41df-11ea-8974-09571229743d.png)

[2020-01-28 14:23] moreirawebmaster commented on #271
THANKSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS!
your save my day!!!!!!!!!
hugs....

[2020-01-28 16:07] amrbrkt commented on #273
Hi @CrisBarreiro
Thanks for the report. We are very sorry for any inconvenience.
I just wanted to confirm that the issue is happening only on Emulators? if it was the case; would you be able to try the [device configs mentioned here](https://stackoverflow.com/questions/45028210/android-studio-3-0-emulator-could-not-lock-voice-for-audioinputdeviceioproc/45622043) and let me know if solved your issu

[2020-01-29 12:56] #271 closed

[2020-01-30 08:48] amrbrkt commented on #270
Thanks @FrancoSabadini for your reports, we do appreciate it very much.
We will look at this and let you know when it got fixed. However, we kindly advise you to update to our  latest SDK version `9.0.5`
Happy coding 😊

[2020-01-30 09:10] CrisBarreiro commented on #273
I tried to reproduce this issue on a physical device (Xiaomi Mi 9 with Pixel Experience ROM) and it did not crash. Unfortunately, I could not test it on a different phone. After applying those settings to the emulator, it seems that screen recording is working fine as well.

[2020-01-30 09:26] FrancoSabadini commented on #270
Thanks @amrbrkt, I have updated to 9.0.5 already but we haven't released the new app version yet. These crashes were reported as part of the last app version which didn't include the new Instabug SDK version.

[2020-01-30 09:53] zsoltbakos commented on #273
I had the same error a few days ago, but only on emulator. When I tried it out on multiple physical device, screen recording worked properly.

[2020-01-31 09:54] SKerencic commented on #236
Hi.

I still have this issue on version 9.0.3 for android 5 - 7 (Not found on 8 or above).
Was is maybe fixed on 9.0.5?

tnx

[2020-02-03 14:19] mishaMikhail commented on #245
@mzelzoghbi, unfortunately I am able to reproduce this bug in the Xamarin.Android project. On Google Pixel (API 29).  instabug-for-android version 9.0.5
**Stack trace:**
[code]

[2020-02-03 14:27] mishaMikhail commented on #273
@mzelzoghbi, unfortunately I am able to reproduce this bug in the Xamarin.Android project. On Google Pixel (API 29) and Google Pixel 3a (API 29).
instabug-for-android version 9.0.5
**Stack trace:**
[code]

[2020-02-03 16:38] AliAbdelfattah commented on #273
Hello @mishaMikhail, we've tested `instabug-for-android` version 9.0.5 on devices running API 29 and the issue is not reproducible.

Please double-check the version from your side and uninstall the app from the device before installation. If you are still facing the issue, please upload a sample app where the issue is reproducible.

[2020-02-03 16:39] AliAbdelfattah commented on #245
@mishaMikhail please follow up with us on this issue instead https://github.com/Instabug/Instabug-Android/issues/273#issuecomment-581503249

[2020-02-04 16:56] mzelzoghbi commented on #265
Hi @FrancoSabadini  ,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use

[2020-02-04 21:49] FrancoSabadini commented on #265
Hi @mzelzoghbi, it'd be hard to tell if this fixes it as I couldn't really reproduce the issue locally. Do you know if this will be included in the next release? I prefer to use normal releases rather than snapshots if possible.

[2020-02-05 15:42] remerico opened #274 "VerifyError Crash on version 9.0.5"
### Steps to Reproduce the Problem
Compile the app using release build with Proguard

### Expected Behavior
Instabug should run

### Actual Behavior
Instabug crashes the app on initialization

### Instabug integration code
[code]

### SDK Version
9.0.5

### Android Version
API 29

### Device Model
Android emulator, Samsung Galaxy S9

### Stack Trace
[code]

[2020-02-06 09:58] mzelzoghbi commented on #274
Hi @remerico , Thanks for reporting this. Would you please let me know how frequent this crash is and if it happens in debug version or on released production version?

[2020-02-06 10:25] remerico commented on #274
Hi @mzelzoghbi, thank you for responding. The crash always occurs on released builds, but not on debug. We have Proguard enabled on our release builds.

We have also tried adding the following Proguard rule `-keep class com.instabug.** { *; }` but the crash still occurs.

[2020-02-06 10:50] mzelzoghbi commented on #274
Do u have any special configuration on your project for r8, excluding any dependencies ?or anything like these ?

[2020-02-06 11:01] remerico commented on #274
We do not have R8 enabled right now, here is our gradle configuration:

gradle.properties:
[code]

build.gradle (app)
[code]

[2020-02-06 12:10] mzelzoghbi commented on #274
I guess disabling the R8 is causing the issue, I'll investigate from my side and get back to you ASAP. But can you also try enabling R8 and tell me if it worked?

[2020-02-06 13:51] remerico commented on #274
Hello @mzelzoghbi, we found out the issue in our app, it is New Relic SDK 5.24.0 that is causing the crashes. Updating to New Relic 5.24.2 with Instabug 9.0.5 seemed to have fixed the crash issue.

I looked in New Relic's release notes and saw this specific entry, maybe this was the cause of conflicting issue with Instabug?
[code]

[2020-02-06 14:19] mzelzoghbi commented on #274
@remerico Seems that this was the issue, Happy to hear that everything worked now.
Please feel free to reach out to us again if you encountered any issues.
Thank You.

[2020-02-07 01:02] lyricaljourney commented on #260
Do you have an update for us? We have important customers who are not willing to accept our product while it exhibits this behaviour.

[2020-02-07 11:58] mzelzoghbi commented on #260
Hi @lyricaljourney , please accept our sincerest apologies for taking some time to come up with a fix for your issue.

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug

[2020-02-07 21:39] MichaelDark commented on #259
Hi @mzelzoghbi

We still are facing this issue and I think I might help.

Actually, I think I know from where this NPE could come.
Have a look at this part of code.

[code]

Here we have a crash on line:211. I think it is because `contentType.toString()` under the hood may return `null`, while `"application/protobuf"` is a constant `String`, which we can compare with `.equals(...)`, even to `null`

[2020-02-07 22:49] KORuL opened #275 "foregroundServiceType"
### Steps to Reproduce the Problem

Compile the app using release build

### Expected Behavior

Instabug should run

### Actual Behavior

Compile Error

### Instabug integration code
[code]

### SDK Version

9.0.5

### Android Version

all

### Device Model

all

### [Optional] Project That Reproduces the Issue

[code]

[2020-02-07 22:56] mzelzoghbi commented on #275
Hi @KORul, Thanks for reporting this, can you please change your compileSDKVersion to 29? This sould fix your issue. And please let us know if the issue is solved.

Thank You 😊

[2020-02-07 23:02] mzelzoghbi commented on #259
@MichaelDark can you please try this **SNAPSHOT** it should fix the issue.
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You 😊

[2020-02-08 00:34] MichaelDark commented on #259
@mzelzoghbi but the file I have mentioned [here](https://github.com/Instabug/Instabug-Android/issues/259#issuecomment-583626275) is from `com.instabug.library:instabug-with-okhttp-interceptor:9.0.5'` dependency, how it could be fixed if straight-forward solution should be done in a class from this dependency?

This bug is unpredictable and it is very hard to reproduce it, but it has high regressio

[2020-02-08 09:18] KORuL commented on #275
Yes, it solved

[2020-02-08 09:18] #275 closed

[2020-02-09 08:10] #274 closed

[2020-02-09 08:17] mzelzoghbi commented on #259
@MichaelDark Sorry my bad, I updated the comment 🙏

[2020-02-09 21:33] MichaelDark commented on #259
@mzelzoghbi Still no changes in lines that I've mentioned [here](https://github.com/Instabug/Instabug-Android/issues/259#issuecomment-583626275) (this comment is about `implementation 'com.instabug.library:instabug-with-okhttp-interceptor:9.0.5.2-SNAPSHOT'`)

[2020-02-10 03:35] lyricaljourney commented on #260
Hi @mzelzoghbi, I have tried loading this snapshot but it looks like we need a version built for compileSdkVersion 28 since we are not yet using Android 10. Is that possible, please?

[2020-02-10 06:39] MichaelDark commented on #259
@mzelzoghbi Please, re-open this issue.
Because we still have no solution for this issue and we are still facing it.
Very disappointing that _tool for crash reporting produces crashes_.

Still waiting for [described](https://github.com/Instabug/Instabug-Android/issues/259#issuecomment-583626275) fix.

[2020-02-10 08:49] mzelzoghbi commented on #259
Hi @MichaelDark  ,
Please accept our apologies for the inconveniences we may have caused. I completely understand how that can be frustrating. Please rest assured that we’re always working on improving the stability of our SDKs while introducing new helpful features.

We check the snapshot `9.0.5.2` and we are sure that the fix should be included in it (attached screenshot from decompiled.java fil

[2020-02-10 09:00] MichaelDark commented on #259
@mzelzoghbi Still not fixed. Check screenshots of `9.0.5.5-SNAPSHOT` (_especially lines_)

Your fix:
![image](https://user-images.githubusercontent.com/28561249/74135064-4c27c680-4bf4-11ea-87fb-8d1b3152714c.png)

Needed fix:
![image](https://user-images.githubusercontent.com/28561249/74135155-75e0ed80-4bf4-11ea-9dac-f72ff45cc41b.png)

[2020-02-10 09:01] MichaelDark commented on #259
@mzelzoghbi

Maybe, it will be a good idea to annotate it with `@NonNull`
![image](https://user-images.githubusercontent.com/28561249/74135278-b3457b00-4bf4-11ea-9248-3fdae52c2307.png)

[2020-02-10 09:58] mzelzoghbi commented on #259
For the 1st screenshot you are totally right, can you try `9.0.5.6-SNAPSHOT` and let us know?
For the 2nd screenshot, we already compile okhttp3 official library in our interceptor so we can't change its implementation.

[2020-02-10 10:20] MichaelDark commented on #259
@mzelzoghbi Thank you, I've checked - fix is here. We will check this snapshot and provide you feedback as soon as possible 😉

[2020-02-10 10:35] mzelzoghbi commented on #259
@MichaelDark Happy to hear that everything worked now, I'll leave this open till the fix is included in our release. I'll make sure to include it in our next official release planned to be within 2 weeks.

Please feel free to reach out to us again if you encountered any issues.

Have a nice day.

[2020-02-11 22:42] algrid opened #276 "Misplaced icons in the main menu dialog"
There's no space between icons and text in the main menu dialog. It doesn't look good.

### Steps to Reproduce the Problem
Just call `Instabug.show()`

### Expected Behavior
There's a space between icons and text like here https://docs.instabug.com/docs/android-design

### Actual Behavior
![instabug_misp](https://user-images.githubusercontent.com/6792526/74286024-ac6f5300-4d2f-11ea-9fd3-e1a5d76cb3

[2020-02-11 23:19] algrid opened #277 "Follow system dark/light mode settings."
This is a feature request, not a bug report.

It would be really nice if Instabug could follow current app mode with regards to light/dark theme.

For example a new option can probably be added to the `InstabugColorTheme` enum. Something like `InstabugColorThemeFollowApp` or `InstabugColorThemeFollowSystem`. This option could be a good choice as default.

Also it would be really useful to be able

[2020-02-12 09:57] mzelzoghbi commented on #276
Hello @algrid, Thanks for reporting this.
We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You 😃

[2020-02-12 11:08] Korazy commented on #277
Hey @algrid
Thanks for reaching out! Your feedback definitely makes sense to me. We'll definitely be adding it to our product discussion and if it's added to our backlog in the future, you'll be the first to know.

In the meantime, if you have any other feedback at all, we'd love to hear it :)

[2020-02-12 15:31] mpaillet3821 commented on #254
@mzelzoghbi happening to me as well on version 9.0.5

[2020-02-12 15:34] algrid commented on #276
@mzelzoghbi Thank you, it fixed the problem! 😀

[2020-02-12 15:38] algrid commented on #277
@Korazy Cool, thank you, I'll be looking forward for new updates!

[2020-02-12 15:41] mahmoudElfeel67 commented on #254
@mpaillet3821 are you using relic library ?
Updating to the latest version fixes this issue

[2020-02-12 16:32] mpaillet3821 commented on #254
That fixed the issue. You are a life saver! thanks for the info ;)

[2020-02-12 19:16] matir91 commented on #275
Hi, it's a library, so I think it shouldn't use `compileSDKVersion` 29, you are removing support for users that cannot updated it. Furthermore, if you change it, you cannot update a patch version, at least a minor version and add a breaking change note in the release changelog.

[2020-02-14 07:59] iordachiv opened #278 "Version 9.0.4 crash"
Hello,

Just caught this crash on library version 9.0.4

Fatal Exception: java.lang.IllegalStateException: Cannot perform this operation because there is no current transaction.
       at android.database.sqlite.SQLiteSession.throwIfNoTransaction(SQLiteSession.java:915)
       at android.database.sqlite.SQLiteSession.endTransaction(SQLiteSession.java:398)
       at android.database.sqlite.SQLiteDa

[2020-02-14 09:48] Korazy commented on #275
Hey @matir91

Thank you for reaching out. I definitely understand your concern regarding this and we'll most definitely work on enhancing our communication with breaking changes such as this one. To further elaborate on why it must be set to 29, this is mainly in order to support screen recording, as well as some privacy updates, on Android 10 that would otherwise not work.

Apologies for the conf

[2020-02-17 11:24] MichaelDark commented on #259
@mzelzoghbi Seems like this bug is fixed in `9.0.5.6-SNAPSHOT`.
Looking forward to see this fix in next release.

P.S. I would be great if someone could walk through the whole interceptor and fix all possible cases for NPE, because there are enough of them

[2020-02-18 20:12] AndrewMorsillo opened #279 "logUserEvent may be causing a performance issue"
In profiling a separate issue in my project I noticed that logUserEvent in the Android java code is using a suspiciously high amount of CPU time on the main thread. My users have been complaining of poor performance and I wonder if Instabug may be contributing to that since it seems that logUserEvent is eating up ~12% of CPU time when profiling normal app usage in the emulator.

Our app logs event

[2020-02-19 18:31] mahmoudElfeel67 opened #280 "CRASH : com.instabug.bug.view.reporting.b$a.run"
### Steps to Reproduce the Problem
I cant reproduce
### Expected Behavior
Should not crash
### Actual Behavior
Crashes with error
 com.instabug.bug.view.reporting.b$a.run

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void android.view.View.setVisibility(int)' on a null object reference

in BaseReportingFragment.java:1
com.instabug.bug.view.reporting.b$a.run (b.

[2020-02-20 14:50] dohyeonio opened #281 "Shake gesture does not work on Pixel 2 XL"
### Steps to Reproduce the Problem
1. Open the app
2. Shake the device

### Expected Behavior
- Bug reporting screen pops up

### Actual Behavior
- Bug reporting screen does not pop up
- Tapping the bubble icon works

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
9.0.5

### Android Version
10
Build number: QQ1A.200205.002

### Device Model
Pixel 2 XL

### [Op

[2020-02-21 13:08] mzelzoghbi commented on #281
Hi @dohyeonio,
Thanks for reporting this. We noticed from the sample project that you use the initialization code in your Activity & not in your **Application** class, this sometimes makes unexpected behavior, we recommend moving this builder block to the **Application** Class, You can also try to decrease the **Shaking threshold** using the API
[code]
Please let us know if this didn't solve the i

[2020-02-21 20:43] dohyeonio commented on #281
Hi @mzelzoghbi, setting the threshold to 200, or even 350 helped.

When I set the value to 500, it was almost impossible to make it work no matter how hard you shake, and the default value is `650` in the code, so it was a bit weird, though.

Thank you for your help!

[2020-02-24 11:16] mzelzoghbi commented on #264
Hi @yongjhih,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has

[2020-02-24 11:56] #281 closed

[2020-02-24 11:58] IslamMohamady commented on #278
Hello Vadim Thanks for reporting this.
We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.
Thank You 😃

[2020-02-25 00:03] Laimiux opened #282 "Screenshot capturing doesn't work with hardware bitmaps."
### Steps to Reproduce the Problem
1. Use https://github.com/coil-kt/coil to fetch a hardware bitmap.
2. After shaking, try to capture the screenshot

### Expected Behavior
The screenshot should be captured and it should go back to report form.

### Actual Behavior
Hides the screenshot button and nothing else happens.

### Instabug integration code
[code]
### SDK Version
`9.0.5`

### Android Versi

[2020-02-25 00:03] Laimiux commented on #282
From looking into `Instabug` code, it looks like it needs to use `PixelCopy` class instead of using `Canvas` to draw the view.

https://stackoverflow.com/questions/58314397/java-lang-illegalstateexception-software-rendering-doesnt-support-hardware-bit

[2020-02-26 10:51] Stractor opened #283 "Can't get message from fcm when chat replies"
### Steps to Reproduce the Problem

I want to push notification when we reply to user by chat, so I follow steps by [DOCUMENT](https://docs.instabug.com/docs/android-managing-notifications). I set the firebase api_key and it's api_token, but it doesn't work. I can receive message by firebase console.
    The message send by instabug dashboard is invalid in it:

[code]
I have set token in app, and

[2020-02-26 13:27] mzelzoghbi commented on #282
Hi Laimonas,
Thanks for reporting this. We are looking into this and will get back to you **ASAP**.

Thank You!

[2020-02-26 14:11] ramiimagdi commented on #283
Hey there,

Rami from Instabug is here, thank you for reaching out to us, please send us an email on contactus@instabug.com so we can gather up more information and help you out on this issue.

Looking forward to hearing back from you.

[2020-02-26 14:12] #283 closed

[2020-02-27 19:41] eygraber opened #284 "InstabugAnnouncementSubmitterService crashing on some devices"
I'm getting reports of crashes of InstabugAnnouncementSubmitterService because of a DeadSystemException. I don't think there's anything to do about that exception, but I'm more concerned about the fact that InstabugAnnouncementSubmitterService is running even though I don't use it.

I'm on 9.0.5.

[2020-02-28 20:44] Laimiux commented on #282
Any updates?

[2020-03-01 10:14] mzelzoghbi commented on #284
Hi Eliezer, Thanks for reporting this.

For the exception, Unfortunately, we have nothing to do about it as you said.

For `InstabugAnnouncementSubmitterService` it runs to check if there are any pending announcements sync events that need to be submitted. It makes sense to make the check before starting the service.
We will work on a fix and will get back to you ASAP.

Thank You!

[2020-03-01 10:29] mzelzoghbi commented on #282
Hi Laimiux,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue. We are still working on a fix to make sure that it is stable and doesn't have any regressions.

We will keep you updated once the fix is ready.
Thank You 😊

[2020-03-01 14:11] mahmoudElfeel67 commented on #280
@mzelzoghbi Why is this not being answered ?

[2020-03-01 14:56] mzelzoghbi commented on #280
Hi Mahmoud,

First of all, please accept our sincerest apologies for taking some time to come up with a fix for your issue.

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no

[2020-03-02 10:17] alyezz commented on #279
@AndrewMorsillo we created a custom build for this fix and we will be including it in our next release.

Feel free to reopen this if you are still facing any issues

Here's the build
`npm install --save https://github.com/Instabug/Instabug-React-Native#customBuild/9.0.5.5`

[2020-03-02 10:17] #279 closed

[2020-03-02 11:14] #270 closed

[2020-03-02 12:38] AndrewMorsillo commented on #279
@alyezz That branch doesn't exist

[2020-03-02 12:58] alyezz commented on #279
@AndrewMorsillo There was a typo, sorry about that, i updated the command

[2020-03-03 01:56] libcg commented on #261
@mzelzoghbi when was this issue introduced? I'm able to reproduce it with all releases from 8.7.2 to 9.0.3.

[2020-03-03 12:55] mzelzoghbi commented on #261
@libcg It was introduced in 8.7.2 and it is not happening consistently it only happens when the app is using the threads intensively.

[2020-03-03 20:10] yongjhih commented on #264
It requires SDK v29, but crashed after upgraded SDK v29 from v28 while triggering instabug reporter.

[code]

[code]

[2020-03-04 11:19] do-current opened #285 "IllegalStateException in FeatureRequestsDetailsFragment on version 8.7.2"
### Steps to Reproduce the Problem
I'm getting the crash report in Crashlytics but I can't reproduce this issue
### Expected Behavior
App doesn't crash
### Actual Behavior
App crashes with log:

[code]
### Instabug integration code
[code]

### SDK Version
8.7.2
### Android Version & Device Model
![image](https://user-images.githubusercontent.com/56651169/75873980-7d866180-5e43-11ea-9219-460ed7f92a

[2020-03-04 18:05] mahmoudElfeel67 commented on #280
@mzelzoghbi  okay thanks
will use and let you know if it happens again

[2020-03-05 15:19] MahmoudAmin39 commented on #285
@do-current Thanks for reporting this issue.
Please let me if your application is supporting `AndroidX` or the `Support Library`?

[2020-03-05 17:48] do-current commented on #285
@MahmoudAmin39 , we fully migrated to AndroidX already.

[2020-03-05 19:40] MahmoudAmin39 commented on #285
@do-current I see,
Here is a snapshot containing the fix to the Exception `9.0.5.2480-SNAPSHOT`
## To use the snapshot:
Add these to your app-level `build.gradle` file to grab snapshots:

[code]

[code]

[2020-03-06 10:50] do-current commented on #285
Hi @MahmoudAmin39, thanks for your support.
I tried the snapshot above but I got this error:
[code]
I know the solution is change  the `compileSdkVersion` to 29, but currently our app can't officially support API 29 immediately. Do you have any idea for our case?

[2020-03-06 11:22] MahmoudAmin39 commented on #285
@do-current Thanks for your feedback,
I will see what can I do from my side and feedback you ASAP

[2020-03-06 11:32] do-current commented on #285
@MahmoudAmin39, it's 28

[2020-03-06 12:26] MahmoudAmin39 commented on #285
@do-current Thanks for your feedback,
Here is a snapshot containing the fix to the Exception `8.7.2.2481-SNAPSHOT`, Can you please try it and tell us if it fixed the issue for you?
## To use the snapshot:
Add these to your app-level `build.gradle` file to grab snapshots:

[code]

[code]

[2020-03-09 06:01] do-current commented on #285
@MahmoudAmin39 , many thanks! I will let you know if it happens again.

[2020-03-09 14:59] do-current commented on #285
Hi @MahmoudAmin39 , just want to confirm, is this safe to use this SNAPSHOT in production?

[2020-03-09 15:02] MahmoudAmin39 commented on #285
Hi @do-current , Of course it is safe, as long as, it is working fine in `debug`.

[2020-03-09 15:10] do-current commented on #285
Yeah, and I guess this issue will be also fixed in the next SDK version of Instabug, isn't it?

[2020-03-09 15:18] MahmoudAmin39 commented on #285
Hi @do-current,
Unfortunately, it will not catch the next release as it should be out in the next couple of days, but probably it will catch the one after it.

[2020-03-09 15:25] do-current commented on #285
@MahmoudAmin39 , I see. Can you let me know the fixed version when it releases?

[2020-03-09 15:30] MahmoudAmin39 commented on #285
@do-current, Sure.

[2020-03-09 20:31] Laimiux commented on #282
Hi, could you provide an ETA on when this fix will be available?

[2020-03-09 20:59] mzelzoghbi commented on #282
Hi @Laimiux ,

We created a **SNAPSHOT** that should fix the issue, Can you give it a try & let us know if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You 😊

[2020-03-09 23:30] Laimiux commented on #282
It's working, thanks! Do you know when it will make it into the new release?

[2020-03-10 08:25] mzelzoghbi commented on #282
Happy to hear everything worked fine 🎉 It will be included in the release that is coming in ~ 2-3 weeks as we are releasing a new version in a couple of days and it is so tight to include this fix in it.

But once we release the new release I'll send you another snapshot from the latest version. and will let you know once it is included in the final release.

Please let me know if you need any oth

[2020-03-10 17:59] carstenhag commented on #275
Hey, just stumbled upon this issue too. Breaking changes such as this should not be hidden in a minor release :). My team and I will now have to look at increasing the compile/target SDK version to 29. Of course if Instabug needs it, it's a good heads-up anyway.

[2020-03-12 17:02] nchase commented on #275
In addition to what others have said, it would be great to have some mention of this in the react-native documentation as well.

[2020-03-15 11:35] mzelzoghbi commented on #284
Hi @eygraber
We created a **SNAPSHOT** that should fix the issue, Can you please try it and tell us if it fixed the issue for you?
[code]
you will need to add these lines to your app **build.gradle** before your dependencies
[code]
This **SNAPSHOT** is completely safe to use and has no debug code at all.

Thank You 😃

[2020-03-15 11:36] #273 closed

[2020-03-17 22:12] eygraber commented on #284
Since I can't repro it and only rarely see reports of it in production, I'm not sure if I can actually conclude that it's been fixed in the short to medium term.

[2020-03-18 06:59] mzelzoghbi commented on #284
Let's close it for now, and feel free to open it if it happened again.

[2020-03-18 10:32] ghost opened #310 "Instabug not triggering on screenshot"
### Steps to Reproduce the Problem

Add instabug to react native project.

### Expected Behavior

On Asus Zenfone 4 Max running Android 8.1.0, the instabug trigger for screenshot should work.

### Actual Behavior

On Asus Zenfone 4 Max running Android 8.1.0, the instabug trigger for screenshot does not work. The shake trigger works though.

### Instabug integration code

[code]

### SDK Version

9

[2020-03-20 10:12] raymondctc opened #286 "ANR on setUserAttributes"
### Steps to Reproduce the Problem
Got some reports on Play Store about ANR due to setUserAttributes's DB call on main thread

[code]

### Expected Behavior
No ANR should occur

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
9.0.5

### Android Version
All

### Device Model
N/A

[2020-03-20 18:55] MahmoudAmin39 commented on #286
Hi @raymondctc,
Thank you for reporting this issue.
Please update to the latest version `9.1.0` which have this issue fixed.

[2020-03-25 08:38] #286 closed

[2020-03-25 19:32] #284 closed

[2020-03-25 21:17] mzelzoghbi commented on #259
Hello Everyone, This issue has been fixed on **9.1.0**.
Please feel free to reach out to us again if you encountered any issues.

Thank You

[2020-03-25 21:18] #259 closed

[2020-03-26 04:12] eygraber commented on #161
I'm seeing this on Instabug version 9.0.5.

[code]

[2020-03-26 09:05] mzelzoghbi commented on #161
@eygraber I am not sure if it is Instabug Related or not as I can't see our package name in this stack trace.
This issue is an androidx framework related and there is already some open ticket in [google issue tracker](https://issuetracker.google.com/issues?q=SecurityException:%20Caller%20no%20longer%20running)
However we added more defensive code in our latest release to avoid this crash.
Can you

[2020-03-26 15:49] eygraber commented on #161
It looks to me like [you wrote a blog post about this issue occurring in Instabug ¯\_(ツ)_/¯] (https://medium.com/@eng.zak/workaround-to-solve-securityexception-caused-by-jobintentservice-1f4b0e688a26).

In any case, I updated to 9.1.0 and we'll see if that helps, although this crash has only happened once out of 100s of thousands of sessions so not sure how to validate that it got fixed.

[2020-03-26 19:22] Laimiux commented on #282
Hey, we are seeing `Could not resolve com.instabug.library:instabug:9.0.5.2475-SNAPSHOT` in our builds. Were there any changes to snapshot releases?

[2020-03-30 08:05] carstenhag opened #287 "Success text after submitting survey has left text alignment instead of center alignment"
Hello there, our tester noticed that the success text after completing a survey has a wrong alignment on Android.

<img width="386" alt="Bildschirmfoto 2020-03-30 um 10 01 55" src="https://user-images.githubusercontent.com/3776997/77889115-a09f0800-726d-11ea-8c28-2c577604d02f.png">

### Steps to Reproduce the Problem
1. Wait for Net Promoter Score survey to show up (via logic defined via website o

[2020-03-30 08:11] carstenhag commented on #287
Just trying this out again with 9.1.0, doesn't occur anymore.
It would be helpful if you could include *which* bugs were fixed in the release notes.

[2020-03-31 02:20] dung90it opened #288 "How to show Instabug by two-finger swipe from right to left in dialog with custom layout?"
### Steps to Reproduce the Problem

### Expected Behavior
two-finger swipe from right to left showing Instabug

### Actual Behavior
Instabug isn't showing

### Instabug integration code
Instabug.Builder(this, INSTABUG_KEY)
                        .setInvocationEvents(InstabugInvocationEvent.TWO_FINGER_SWIPE_LEFT)
                        .setReproStepsState(State.ENABLED)
                        .s

[2020-03-31 06:48] carstenhag commented on #287
<img width="372" alt="Bildschirmfoto 2020-03-31 um 08 47 49" src="https://user-images.githubusercontent.com/3776997/77995564-52047300-732c-11ea-92e3-12d1a8e645e7.png">
Alright, I could verify that this was fixed. Can be closed by me, but my point about the release notes still stand :))

[2020-03-31 07:48] mzelzoghbi commented on #287
Hello @carstenhag, Thanks for reaching out.

Technically we didn't face this issue on 9.0.5 and we didn't know why this happened with you on `9.0.5` and solved on `9.1.0`, maybe it was a caching issue or conflicting resources, But we are happy that everything is working fine now.

Regarding the release notes, you are totally right. We will make sure to link GitHub issues to the release notes in ou

[2020-04-02 09:35] mahmoudElfeel67 commented on #280
@mzelzoghbi this has not happened again thank you !

[2020-04-02 09:35] #280 closed

[2020-04-03 13:56] deepak140596 opened #289 "ANR when updating user properties"
### Steps to Reproduce the Problem
Happens when updating user properties.
Stack trace:
[code]
### Expected Behavior
There should not be an ANR.

### Actual Behavior
We receive ANR.

### SDK Version
9.1.0

### Android Version
9.0
8.1
8.0

### Device Model

HUAWEI Y6 2019 (HWMRD-M1) | 4 | 26.7%
Galaxy J7 (j7y17lte) | 2 | 13.3%
Galaxy J4 Core (j4corelte) | 2 | 13.3%
A5 2020 (OP4B79L1) | 1 | 6.7%
Gala

[2020-04-03 15:29] moreirawebmaster opened #290 "Notworking instabug with AndroidX in Xamarin.Android"
Versions: 9.1.0, 9.0.5, 9.0.0, 8.6.3 not workking with AndroidX in Xamarin.Android.

Severity | Code | Description | Project | File | Line | Suppression State
-- | -- | -- | -- | -- | -- | --
Error |   | No resource found that matches the given name (at 'layout_toStartOf' with value '@id/ib_bug_repro_step_delete'). | Vitreo.App.Android | C:\projects\Vitreo.App\Vitreo.App.Android\obj\Homol-Dev\90\l

[2020-04-03 15:34] moreirawebmaster commented on #290
complement my cs.Project in configuration build:

[code]

[2020-04-03 15:58] AliAbdelfattah commented on #290
Hi @moreirawebmaster, this is probably a configuration issue, please change the **Code Shrinker** to **r8**, clean the project and try again; let us know if it fixes the issue.

[2020-04-05 14:38] moreirawebmaster commented on #290
In Debug mode working but in Release the problem continue.....

[2020-04-05 21:11] AliAbdelfattah commented on #290
@moreirawebmaster that's weird. So just to be clear, was it not working before in the debug mode?

Also, could you make sure you clean the project after selecting the Release mode and give it another shot, please?

[2020-04-07 09:59] mrhabibi opened #291 "android.content.res.Resources$NotFoundException on Dynamic Delivery"
Hi,

I have a huge android project that uses instabug library, and we're going to implement dynamic delivery to reduce its size as well, started from separating our features and then libraries we're using, one of our medium sized library is instabug and we're going to separate it as on demand feature, but we faced a problem as follow:

### Steps to Reproduce the Problem
- Make a dynamic feature mo

[2020-04-07 10:21] FloriJann opened #292 "App crashing when trying to close FeatureRequest Popup after setting App to background"
### Steps to Reproduce the Problem
1. Open the Feature Request Popup
2. Set App in Background
3. Open App again
4. Close Feature Request Popup by clicking the "X"
### Expected Behavior
Activity/Fragment comes back in foreground and Popup disappears
### Actual Behavior
App crashes
### Instabug integration code
??

### SDK Version
9.0.3
### Android Version
tested with API 28
### Device Model
Pixel 2

[2020-04-07 16:39] moreirawebmaster commented on #290
Code Shrinker to r8, but error continue....

[2020-04-08 12:10] Muhammadyoussef commented on #292
Hi @FloriJann,

Just to make sure we are on the same page, would you please confirm the following:
- [ ] You are [integrating Instabug](https://docs.instabug.com/docs/android-integration#section-using-instabug) in your Application class
- [ ] You are [showing Feature Requests list](https://docs.instabug.com/docs/android-showing-feature-requests#section-showing-feature-requests-list) with the follo

[2020-04-08 13:29] Muhammadyoussef commented on #291
Hi @mrhabibi,

Please make your Application class extends `SplitCompatApplication` and let us know whether or not this issue is still happening.

[2020-04-08 14:44] Muhammadyoussef commented on #289
Hi @deepak140596,

Thanks for reporting this. This snapshot has the fix: `9.1.0.6-SNAPSHOT`

**To consume the snapshot:**
Add the following to your app-level `build.gradle`:

[code]

Also, please note that the following related APIs are synchronous:
- `Instabug.getAllUserAttributes()`
- `Instabug.getUserAttribute(key)`

So, it's advised to call them from a worker thread since they might become a b

[2020-04-09 01:47] mrhabibi commented on #291
Yeah, I've done something similar by inserting `SplitCompat.install(this)` in `Application.attachBaseContext()`. I always got this issue for my own code too when retrieving dynamic feature module resources using application context, but it solved by changing it to its own activity context.

[2020-04-09 08:23] deepak140596 commented on #289
Thanks @Muhammadyoussef  for the solution.

[2020-04-09 14:25] Muhammadyoussef commented on #289
@deepak140596 my pleasure 🤗

[2020-04-09 14:25] #289 closed

[2020-04-13 11:36] Muhammadyoussef commented on #288
Hi @dung90it,

Please accept our apologies for the inconvenience this may have caused you. I completely understand how this can be frustrating.

Right now we don't support working with dialogs. But we are working on a fix that will be rolled out within the next quarter.

You can use one of the other [invocation events](https://docs.instabug.com/docs/android-invocation#section-invocation-events) as

[2020-04-13 11:36] #288 closed

[2020-04-13 11:39] #276 closed

[2020-04-13 14:11] #278 closed

[2020-04-13 14:24] Muhammadyoussef commented on #264
Hi @yongjhih,

This crash is not caused by Instabug. It seems that you are using media projection without adding `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in your `AndroidManifest.xml`. You also need to make sure you call `startForeground()` before `getMediaProjection()`. Check this [StackOverflow answer](https://stackoverflow.com/a/57186064) for more details.