[2015-12-01 11:39] mSobhy90 opened #1 "Change color of Instabug feedback activity"
![hammerheadmra58nmsobhy12012015133647](https://cloud.githubusercontent.com/assets/1512973/11499729/e3b40af8-9830-11e5-89c6-9bb9461222e2.png)

[2016-02-04 15:34] #1 closed

[2016-02-12 19:14] karambar opened #2 "Application crashes after the onPause method"
On some devices (Samsung galaxy S4 for example), when I close the app from a screen have a map, your SDK crashes with the following stack trace:

`        java.lang.RuntimeException: Unable to stop activity {fr.chauffeurprive.preprod.debug/fr.chauffeurprive.presentation.order.view.OrderActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.instabug.library.

[2016-02-14 14:17] mSobhy90 commented on #2
Hey @karambar, thanks for reporting this.
We're currently looking into it, can you please provide me with more details (if any). Like, is it something consistent, is the maps activity the last activity in your stack or are you using the home button and removing it from recents, etc...

[2016-02-15 09:56] karambar commented on #2
Hi @mSobhy90 , thanks for your answer.

I did some tests and I have found which use of the SDK was generating this bug. I initialise the Instabug SDK from my custom Application class and I immediately disable it using the method Instabug.disable().
Indeed, I want to make this feature only available for some clients so I disable it by default and only enable it according to a list of beta testers.

[2016-02-15 14:00] mSobhy90 commented on #2
Hi @karambar, thanks for the detailed report.

As for the use-case you mentioned, let me check it out and I'll get back to you about it.

As for enabling Instabug to certain users, we had that case in mind when designing the builder.
You can build Instabug in the Application class as normal with 1 difference, the `build()` function has an overload which takes state `build(Feature.State instabugIni

[2016-02-16 09:42] karambar commented on #2
Thanks @mSobhy90 for your detailed answer !

We integrated your modifications and the behaviours is much more better, however we noticed a new issue in a very specific use-case.
You can reproduce this bug following these steps:

- Build Instabug with `build(Feature.State.DISABLED)`
- Enable it on activity button click (log in button in our app)
- Disable it programmatically when the user click on

[2016-02-18 11:09] mSobhy90 commented on #2
Hi @karambar, sorry for my late response, and thanks again for your detailed reports it's deeply appreciated.
I've been able to reproduce the issue, and I've worked out a fix for both cases. It'll be rolling out by end of today.
Thanks a lot @karambar for helping us make Instabug better. :beers:

[2016-02-18 17:06] mSobhy90 commented on #2
Closing this since v2.2 was released containing this fix

[2016-02-18 17:06] #2 closed

[2016-02-19 13:02] karambar commented on #2
Thank you very much @mSobhy90 for your reactivity !
We integrated your new release and everything seems to be OK . :rocket:

[2016-03-04 15:00] jbarmanet opened #3 "Instabug Network errors"
Hi,

I migrated from Instabug 1.7 to instabug 2+

When I report a bug all goes well, and the issue is reported to the Instabug dashboard, but after that, it keeps throwing errors into my console every minute :

`03-04 15:59:17.668 17336-17336/get.dop I/INSTABUG - e: syncMessages
03-04 15:59:17.934 17336-17384/get.dop E/INSTABUG - a: Error getting Network request response: {"status":"You are not al

[2016-03-08 09:39] mSobhy90 commented on #3
Hi @jbarmanet,
Sorry for the late reply, this issue is related to your plan not having in-app messaging feature available. They shouldn't appear anymore after a day of first seeing this.
Don't worry about it, it's not a crashing exception. It's just there to allow you to understand more about what's going on under-the-hood, but soon we'll be releasing a way to disable all Instabug logs.
Does that

[2016-03-08 10:00] jbarmanet commented on #3
Hi, okay I understand, this makes sense. Thank your for this explanation...
Looking forward to remove those error lines as it pollutes a little bit those useful logs ;-)

[2016-03-08 10:00] #3 closed

[2016-04-22 14:56] CAMOBAP795 opened #4 "android.content.res.Resources$NotFoundException (InstabugFeedbackFragment.java:288)"
Today I faced with crash inside instabug library

More info here
http://crashes.to/s/0efa7752433

How can I help to fix it?

[2016-04-22 14:57] CAMOBAP795 opened #5 "NPE com.instabug.library.dialog.a.onShow (InstabugFrameAnimationDialog.java:86)"
Today I faced with crash inside instabug library

More info here
http://crashes.to/s/2aaac5087fc

How can I help to fix it?

[2016-04-24 10:44] mSobhy90 commented on #4
@CAMOBAP795 Can you tell me which version of the SDK are you using? And do you have any reproduction steps for those issues?

[2016-04-24 11:02] CAMOBAP795 commented on #4
@mSobhy90

2.3.1

In my app I use only shake event to activate Instabug feedback form

I have looked at stack trace and looks like instabug library didn't lookup some android.R resource

As you can see form link above http://crashes.to/s/0efa7752433 issues occurs only on old devices (Sony Xperia L 4.2.2, Samsung S3 4.3)

[2016-04-24 11:19] mSobhy90 commented on #5
@CAMOBAP795 This should be fixed in 2.3.2, can you please try it out and tell me if that's the case?

[2016-04-24 11:21] mSobhy90 commented on #4
@CAMOBAP795 Might be best if you can upgrade to latest version of Instabug and see if that solved your issue or not, currently we are at `2.3.3` which fixes some bugs that existed in `2.3.2`. Please try it out and let me know if you've still got the same issues.

[2016-04-24 11:26] CAMOBAP795 commented on #5
for sure, give me 2d to verify

[2016-04-24 11:26] CAMOBAP795 commented on #4
for sure, give me 2d please

[2016-04-27 14:54] r8tin-admin commented on #4
Problem still exists on 2.3.3

[2016-04-27 14:54] r8tin-admin commented on #5
Problem still exists on 2.3.3

[2016-04-27 15:10] mSobhy90 commented on #5
@r8tin-admin Can you send me the stacktrace for your issue?

[2016-04-27 15:11] mSobhy90 commented on #4
@r8tin-admin Can you send me the stacktrace for the issue? And any reproduction steps, if you have any?

[2016-04-27 15:15] CAMOBAP795 commented on #5
The same http://crashes.to/s/2aaac5087fc

[2016-04-27 15:15] CAMOBAP795 commented on #4
http://crashes.to/s/0efa7752433,
Actually no steps this happens occasionally

[2016-04-27 15:20] mSobhy90 commented on #5
Hey @CAMOBAP795, this doesn't seem to be using the latest version yet. Might be a user that didn't upgrade the app yet.
As the line mentioned in the stacktrace is:
`if (mAnimatedFrame != null) {`
Which doesn't make sense to throw a NPE 😂

[2016-04-27 15:21] CAMOBAP795 commented on #5
Let me doublecheck

[2016-04-27 15:23] mSobhy90 commented on #4
OK @CAMOBAP795 I'll work on reproducing this to see why it happens. Any specifics about the environment? Android Version, Device, etc..?

[2016-04-27 15:24] CAMOBAP795 commented on #4
All this you can get from link above http://crashes.to/s/0efa7752433

[2016-04-27 15:25] CAMOBAP795 commented on #5
My bad, looks like issue doesn't appears any longer I confused by #4 issue

[2016-04-27 15:25] #5 closed

[2016-04-27 15:32] mSobhy90 commented on #4
I'm sorry @CAMOBAP795 but seems that this isn't using the last version as well 😄 as it's referencing an invalid line.
`audioAttachmentView.findViewById(R.id.instabug_btn_remove_attachment).setTag(attachment);`
Which doesn't include `inflate` as Crashlytics is mentioning, can you please double check this as well :)

[2016-05-02 14:54] CAMOBAP795 commented on #4
Resolved

[2016-05-02 14:54] #4 closed

[2016-08-16 23:12] halfhp opened #6 "NPE: 'java.util.List com.instabug.library.internal.d.a.c.b()'"
Hi there,

I'm currently getting an NPE crash on first-run.  Based on the notes I saw in bug report #2 I initialize Instabug in Application.onCreate() like this (we only want to enable it for specific users):

[code]

After a user signs into the app, for certain users we enable instabug and set some params for the session:

[code]

On a fresh install / first run it crashes and produces this stack

[2016-08-29 11:12] rahatshahzeb opened #7 "Doesn't capture DialogFragment"
Hello guys,

I am unable to capture DialogFragment. May I know the reason why?

Thanks

[2016-08-29 12:55] #6 closed

[2016-08-29 12:59] vezikon commented on #7
Have you tried `Instabug.SetDialog(Dialog dialog)`?

[2016-09-14 21:56] fluxxion82 opened #8 "java.lang.IllegalArgumentException: bad base-64"
I get this exception occasionally, usually after a crash in our app and then trying to open the app again. I was able to copy and save the stack trace today, so here it is:
[code]

This is the code block where the error originates, from our Application object,  (`io.company.android.CompanyApp.onCreate(CompanyApp.java:109)`):
[code]
When this exception happens, there's just a white screen until you

[2016-09-30 07:46] rahatshahzeb commented on #7
Thanks, missed it.

[2016-09-30 07:46] #7 closed

[2016-10-04 05:10] prithsharma commented on #8
I am seeing this too. Any resolutions?

[2016-10-04 06:45] prithsharma opened #9 "com.instabug.library:instabug:2+ crashes with lower Android versions - 4.4"
Throws the following error on initialisation and the app crashes.

[code]

Any ideas on the cause or resolutions?

[2016-10-05 08:54] vezikon commented on #8
Please, upgrage to Instabug v2.6.2. This is issue if fixed in this version.

[2016-10-05 08:54] #8 closed

[2016-10-10 09:57] vezikon commented on #9
Do you use RxJava in your project?

[2016-11-09 19:17] ripern commented on #3
@jbarmanet Did those error lines ever disappear for you? I still have them in instabug 3+ and can't find any other information about it except this very issue.

Like you say it's very annoying to always see this in the log when starting my app.

[2016-11-24 15:33] #9 closed

[2016-11-28 09:41] hwding opened #12 "Instabug makes font size abnormal"
Hi, there's a bug I think the Instabug SDK has:
My phone's font size was set to *small* from originally *normal* in my system settings.
So inside my app, font size are all a bit smaller.
But when I invoked Instabug inside my app, every letter in the dialog of Instabug was obviouly larger.
And that is not the worst, after I closed the dialog, I click into other Acitivties of the app, the font size

[2016-11-28 11:24] #12 closed

[2016-12-19 18:11] rmtheis opened #14 "Console log state setting not honored"
Once a minute, Instabug is spamming the device log with a stack trace. This happens when I'm using Charles to proxy device traffic.

I am using `.setConsoleLogState(Feature.State.DISABLED)` but I still see these messages.

    12-19 09:58:02.818 9118-9245/com.xxxxxxxxxxxxxxxxxxxxxxxxxx E/INSTABUG -: Network request got error
    12-19 09:58:02.819 9118-9245/com.xxxxxxxxxxxxxxxxxxxxxxxxxx E/INSTABU

[2017-01-04 19:12] rmtheis commented on #14
Possibly related: #3

[2017-01-05 01:20] DevHossamHassan commented on #14
Hey @rmtheis
Thanks for reporting this issue
We're currently fixing it, and we will notify you when we finish.
By the way,
.setConsoleLogState(Feature.State.DISABLED)
is used for Enabling/disabling console log to be added to reports.
not for Enabling/disabling Instabug logging with the stack trace.
you can use
[code]
for that purpose.
Please let me know if there's anything more I can help you with

[2017-01-14 13:36] papfonseca opened #15 "ConcurrentModificationException"
Hi,

I´m getting this exception: ConcurrentModificationException.

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.instabug.library.InstabugFeedbackActivity}: java.util.ConcurrentModificationException
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3253)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.j

[2017-01-31 08:53] andersu opened #16 "Setting certain custom strings not working"
Pretty sure this is not the correct place to report it (please point me in the right direction if it is not), but I am trying to set custom texts and most of them work, but not these two:
`InstabugCustomTextPlaceHolder placeHolder = new InstabugCustomTextPlaceHolder();
placeHoldersMap.put(ADD_EXTRA_SCREENSHOT, "Ta et skjermbilde");
placeHoldersMap.put(ADD_IMAGE_FROM_GALLERY, "Legg til eget bilde")

[2017-02-02 15:48] Gaket opened #17 "RxJava 2"
Hello!

We use RxJava 2 in our project, but you use RxJava 1. We want to buy Instabug to use in our Ios and Android projects, but this issue stops us from making a decision.

What can we do? I think we even can exclude this file from build, but this will lead to addition 6k methods in apk anyway...

[2017-02-09 18:25] gnani185 opened #18 "Getting exception while launching from AcionBar button"
Launch Code:
Instabug.invoke(InstabugInvocationMode.NEW_BUG);

Exception:

02-09 23:49:48.418 974-974/com.devsparkles.lyrics E/INSTABUG - a: capture view hierarchy image got error: width and height must be > 0, time in MS: 1486664388417
                                                                  java.lang.IllegalArgumentException: width and height must be > 0

[2017-02-09 18:50] tarek360 commented on #18
Hi,
Sorry for that exception, is that exception happen with you every time and on different devices?

[2017-02-09 18:55] gnani185 commented on #18
I'm tesing with one device Moto G3. Not sure about other devices. Just now started integrating it.

[2017-02-11 14:22] gejiaheng opened #19 "API doc not updated for 4.0.1"
I'm trying to update Instabug library to the latest version 4.0.1, but found that the [API doc](https://dashboard.instabug.com/public/android-api-reference/com/instabug/library/Instabug.html)  is not updated. I don't know details about some functions I want to use. Would you please update the API doc? Thanks!

[2017-02-11 15:16] DevHossamHassan commented on #19
Thanks gejiaheng for reporting this,
Without a doubt :) and it  would be great if you mentioned which function you don't know details about?

[2017-02-13 02:09] gejiaheng commented on #19
Just details of initialization of Instabug while using `Instabug.Builder`。Say the method 'setAttachmentTypesEnabled()', I don't know what each argument stands for.

[2017-02-13 07:10] DevHossamHassan commented on #19
Hey @gejiaheng,
`setAttachmentTypesEnabled()` is used for  Enabling /disabling  the attachment types for Bug and Chat

[code]
these params stand for:
[code]
example
[code]

<img src="https://cloud.githubusercontent.com/assets/6613841/22873680/398b35fc-f1ca-11e6-9ee5-50e02446c3b0.gif" width="250">

[2017-02-13 09:44] gejiaheng commented on #19
Thanks @DevHossamHassan . I found that you also have [integration doc](http://docs.instabug.com/v4/docs/getting-started) that helps a lot. It would be better if you keep all docs updated.

[2017-02-13 10:19] DevHossamHassan commented on #19
Sounds great, You are welcome @gejiaheng.
Thanks for your feedback we really appreciate that and I already added a note for updating and adding more details in our APIs docs.
Thanks again :) .

[2017-02-14 05:42] gejiaheng opened #20 "Getting IllegalArgumentException when invoking Instabug.invoke(InstabugInvocationMode.NEW_FEEDBACK)"
There is a **Feedback** entry in our settings fragment. Click event handling is to invoke `Instabug.invoke(InstabugInvocationMode.NEW_FEEDBACK)` programmatically. But I get `java.lang.IllegalArgumentException: width and height must be > 0` and nothing shows up except a loading dialog. The following are logs:

[code]

So why is this happening? What's strange is that it works when I invoke the same

[2017-02-14 09:56] #19 closed

[2017-02-17 07:55] saiday commented on #20
Same issue here.

Additional:
even `.setWillSkipScreenshotAnnotation(true)` set, Instabug is trying to take screenshot.

[2017-02-17 14:33] vezikon commented on #20
Hello,

Can you give it a try on v4.0.2?

[2017-02-18 02:10] lernerb opened #21 "Instabug Library Size -> Future?"
Hey ya'll. Is there any plan to make a smaller Instabug library? Been using it for a while - but it's seemed to just grow and grow and it's getting bigger every release. At this point it's about 9k methods due to jcodec.

[code]

[2017-02-18 04:20] gejiaheng commented on #20
@vezikon
v4.0.2 works fine.

[2017-02-18 08:14] saiday commented on #20
@vezikon `4.0.2` works, thanks!

[2017-02-18 08:24] #20 closed

[2017-02-18 20:57] tarek360 commented on #21
Let me ask the team about that, but I want to ask you a question please, do
you face a real problem with the multidex or what?

On Feb 18, 2017 4:10 AM, "Brandon Lerner" <notifications@github.com> wrote:

[2017-02-21 03:01] lernerb commented on #21
Hey Tarek - our team is not running into a dex issue - we're just wondering if there is a lightweight version in the works :)

[2017-02-22 06:19] gejiaheng opened #22 "Disable default screen capturing"
Can I disable default screen capturing when invoking `Instabug.invoke(InstabugInvocationMode.NEW_FEEDBACK)` programmatically? It is a little strange when you just want to get feedbacks about the App, but still with a screenshot of the **Settings** UI.

[2017-02-22 09:21] gejiaheng commented on #22
Problem solved!
I invoked `Instabug.setAttachmentTypesEnabled(false, false, false, false, false);` in `OnSdkInvokedCallback`. Now I invoke it earlier and it works as I expected.

[2017-02-22 09:21] #22 closed

[2017-02-22 09:21] DevHossamHassan commented on #22
Hello @gejiaheng,
You can disable it by setting `false` to setTttachmentTypesEnabled API in the first parameter which is initialScreenshot boolean that controls whether the initial screenshot is enabled or not.

[code]

[2017-02-22 09:23] gejiaheng commented on #22
@DevHossamHassan Thanks anyway!

[2017-02-22 09:26] DevHossamHassan commented on #22
Anytime :)

[2017-02-22 09:56] DevHossamHassan commented on #16
Hello @andersu,
Our main support channel is to mail us anytime at `support@instabug.com`
But it's ok :) we are glad to help you anytime and anywhere :)

If you still have a problem with `InstabugCustomTextPlaceHolder ` Please try to use the following snippet
and let me know if it didn't work with you
[code]

[2017-02-22 13:52] gejiaheng opened #23 "Infinite loading when sending a feedback"
The loading bar pops up and doesn't disappear when I try to send a feedback. But it is OK if I am sending a bug.

<img src="https://cloud.githubusercontent.com/assets/3777021/23214151/9aca2c08-f948-11e6-858e-6b60e8c00dc6.png" width="50%" />

Instabug initialization:
[code]

And I invoke the NEW_FEEDBACK UI programmatically like this:
[code]

I'm using Instabug Android SDK v4.0.2, and my phone is N

[2017-02-22 14:50] DevHossamHassan commented on #23
Hey @gejiaheng,
Thank you for reporting this, I will look into it and let you know as soon as we have a fix.

[2017-02-23 02:11] gejiaheng opened #24 "Android system chat notification disappears after the second one arrives"
When there is a new Instabug chat message, a In-App notification would pop up above the App UI. Then a Android system notification would be shown in the phone's notification bar if user doesn't click the In-App notification. It works fine until the second notification arrives. There is still a In-App notification. But the first system notification disappears and nothing left in the notification ba

[2017-02-24 16:28] joharei commented on #17
We are also unable to use Instabug in our project due to this.

[2017-02-24 17:12] DevHossamHassan commented on #17
Hello Gaket and Joharei,
We are currently investigating into this and hopefully shipping a fix for this issue with the upcoming release.

[2017-02-27 07:55] andersu commented on #16
Thanks for the reply @DevHossamHassan
That's the exact code I am using (+ some more placeHoldersMap.put lines).
I tried running just your snippet now. It doesn't set the texts for "Take a Screenshot" and "Select Image from the Gallery". Try running it yourself and see. Does it work for you?

[2017-02-27 10:48] DevHossamHassan commented on #16
Yes it does @andersu,
I tried it before sending you my snippet
@see
<img src="https://cloud.githubusercontent.com/assets/6613841/23356458/88058926-fce2-11e6-994c-c92081103c8e.png" width="250">

Are you using the latest version of Instabug SDK which is `4.0.2`?

[2017-02-27 11:20] andersu commented on #16
That works. Sorry for not trying that before posting the issue and thanks for your help 👍

[2017-02-27 11:20] #16 closed

[2017-02-27 14:55] csaba-csete-87 opened #25 "Nullpointer Exception"
Hi guys!
The following exception showed up in one of our crash reports:

[code]

[2017-02-27 15:03] MoustafaMesbah commented on #25
Hey @csaba-csete-87
we will release a fix for this crash ASAP, can you tell me us which version of SDK you are using?

[2017-02-27 15:33] csaba-csete-87 commented on #25
Hi @MoustafaMesbah
we are using the version 4.0.1

[2017-02-28 09:51] joharei commented on #17
Thanks for the response @DevHossamHassan. Is there an ETA on that release?

[2017-03-02 06:19] gejiaheng commented on #23
@DevHossamHassan Any updates?

[2017-03-02 11:46] DevHossamHassan commented on #14
Hey @ramidoss
We shipped a fix for this issue in v4.0.2 please check it out.
Thank you so much for your patience.

[2017-03-02 11:53] DevHossamHassan commented on #23
Hey @gejiaheng
We have just fixed this issue and it will be shipped very soon with the upcoming release!
Thank you so much for your patience.

[2017-03-02 12:22] DevHossamHassan commented on #17
Hey @joharei
We are still investigating into it, we are thinking about creating a custom build based on RxJava2 until we are done. If this makes sense for you please let me know.

[2017-03-02 12:44] joharei commented on #17
@DevHossamHassan Absolutely. We are using Instabug in our beta program only, so we're willing to help you try something a little experimental if that's what you mean.

[2017-03-02 14:55] gejiaheng commented on #23
@DevHossamHassan Sounds great!

[2017-03-02 14:56] DevHossamHassan commented on #17
@joharei Sounds great, So we will work on it and will inform you when we finish (maybe earlier next week).
Thank you @joharei

[2017-03-02 17:45] rmtheis commented on #14
Thanks for the fix! It looks to me like it's working.

Closing this issue...

[2017-03-02 17:45] #14 closed

[2017-03-03 07:17] Gaket commented on #17
Great, we would like to help you too)

[2017-03-03 09:49] lukasz-gosiewski commented on #18
@tarek360 Got the same problem on all devices. I'm using instabug for a while now and this is the first time it occured. Are there any quick fixes to apply or I need to wait for you to repair it ?

[2017-03-03 09:51] lukasz-gosiewski commented on #18
Moreover it occurs all the time, no matter which method of invocation i choose.

[2017-03-03 09:59] lukasz-gosiewski commented on #18
Fallback to 3.4.0 version do the trick.

[2017-03-03 10:03] tarek360 commented on #18
Hi @gnani185 and @lukasz-gosiewski
We have fixed this issue, please update to v4.0.2
Thank you.

[2017-03-03 10:03] #18 closed

[2017-03-03 22:33] lernerb commented on #21
Going to close this since it's not critical right now, and was just a question for the devs 👍

[2017-03-03 22:33] #21 closed

[2017-03-13 07:50] willybrodus opened #26 "capture view hierarchy image got error: width and height must be > 0"
03-13 14:48:57.771 14703-14703/com.medicall.patient E/INSTABUG - a: capture view hierarchy image got error: width and height must be > 0, time in MS: 1489391337788
                                                                    java.lang.IllegalArgumentException: width and height must be > 0
                                                                        at android.graphics.Bitmap.crea

[2017-03-13 09:18] tarek360 commented on #26
Hi @willybrodus , Please tell me what's the version which you use?

[2017-03-14 01:09] willybrodus commented on #26
Hi, I use instabug version 4.0.1 but now I using instabug version 4.0.2 and
my problem is solved. Thank you for attention and thank you for develop
Instabug :)

Regards from Indonesia,

Willy

2017-03-13 16:18 GMT+07:00 Ahmed Tarek <notifications@github.com>:

[2017-03-14 10:15] tarek360 commented on #26
Thank you @willybrodus :)

[2017-03-14 10:15] #26 closed

[2017-03-15 21:20] rmtheis opened #27 "More messages in device log"
Multiple times per second, Instabug is spamming the device log with a stack trace. This happens when I'm using Charles to proxy device traffic.

Possibly related: #14

Using Instabug version 4.0.2

    E/INSTABUG -: Request got error: https://api.instabug.com/api/sdk/v3/crashes
    com.instabug.library.network.d: No network connection - responseCode: 503

    at com.instabug.library.network.c.d(Ne

[2017-03-18 12:03] dirkam commented on #24
+1

[2017-03-27 19:59] Gaket commented on #17
Hello! Are there any progress yet? Do you need testers?)

[2017-03-27 20:24] DevHossamHassan commented on #17
Hello Gaket,
Yes, We are currently working on creating a custom build based on RxJava 2 for you and will get back to you soon.

[2017-04-06 15:14] DevHossamHassan commented on #17
Hey @Gaket and @joharei,
We have just released a snapshot based on RxJava2 (v4.0.0-SNAPSHOT).

Please make sure to add this line to your app-level build.gradle file
[code]
Cheers

[2017-04-07 11:21] DevHossamHassan commented on #27
Hello @rmtheis,
I believe this issue has been fixed.
Is it still exists?
if it is, please don't hesitate to inform us.

[2017-04-07 11:21] #27 closed

[2017-04-07 11:23] DevHossamHassan commented on #25
Hello @csaba-csete-87,
I believe this issue has been fixed.
Is it still exists?
if it is, please don't hesitate to inform us.

[2017-04-07 11:23] #25 closed

[2017-04-07 11:25] DevHossamHassan commented on #23
Hello @csaba-csete-87,
I believe this issue has been fixed a long time ago.
Is it still exists?
if it is, please don't hesitate to inform us.

[2017-04-07 11:25] #23 closed

[2017-04-07 11:29] DevHossamHassan commented on #17
Hi @Gaket and @joharei
I just following up with you, have you faced any issues while testing the snapshot version?

[2017-04-07 11:53] vezikon commented on #15
Hello @papfonseca, This issue is fixed in v4.0.6
Please, consider upgrading to this version.

[2017-04-07 11:53] #15 closed

[2017-04-07 12:08] Gaket commented on #17
Hi @DevHossamHassan

It is an end of a sprint now and we haven't got time to look at your build, sorry. I will work with it in coming Monday or Tuesday.

By the way, our Ios team already uses your product and they are quite happy with it.

[2017-04-07 12:16] joharei commented on #17
Hi @DevHossamHassan

We decided to go back to using RxJava 1 in our project in order to get our release going. Will have a look at the snapshot when I have time.

Thanks!

[2017-04-08 07:49] tarek360 commented on #24
@gejiaheng @dirkam Thank you for reporting that, we will check it and get back to you soon.

[2017-04-17 09:08] Gaket commented on #17
Finally, I took some time from PO to configure testing flavor with connected Instabug and now it works like a charm. Thank you!

[2017-04-17 09:08] #17 closed

[2017-04-19 11:01] Karthikg206 opened #29 "Instabug getting crashed after initialize in android"
I am using instabug 4.0.7.app getting crash after initialize.

crash log:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.Dialog.setCanceledOnTouchOutside(boolean)' on a null object reference
       at com.instabug.library.g.f(InstabugDelegate.java:327)
       at com.instabug.library.g$5.run(InstabugDelegate.java:307)
       at android.os.Handle

[2017-04-19 11:42] DevHossamHassan commented on #29
Hello @Karthikg206,
Thank you for reporting this issue, we are currently working on fixing it.
It would be great if you could help us reproduce your issue by sending us an android sample app contains the issue with minimum code lines possible.

[2017-04-19 12:07] DevHossamHassan commented on #29
Hey @Karthikg206,
I have looked into it and I'm shipping a fix for this right now.
So you can avoid that crash by using `.setIntroMessageEnabled(false)`
until we release that fix and it will take a couple of hours.
Thank you again.

[2017-04-19 12:20] Karthikg206 commented on #29
ok suppose i want intro message means what to do

[2017-04-19 12:22] DevHossamHassan commented on #29
Intro message works only with `SHAKE` and `TWO_FINGER_SWIPE_LEFT` invocation events.

[2017-04-19 12:23] Karthikg206 commented on #29
ok thank you

[2017-04-19 12:29] DevHossamHassan commented on #29
I'm glad to help you @Karthikg206,
please don't hesitate to reach us anytime.
regards.

[2017-04-19 12:29] #29 closed

[2017-04-25 15:53] Karthikg206 opened #30 "Feedback text removal"
How to remove "powered by Instabug" text in feedback dialog.

[2017-04-25 17:17] DevHossamHassan commented on #30
Hello @Karthikg206,
Thank you for reaching out, removing the "powered by Instabug" is not allowed except for enterprise plans if you want to know more please contact us at contactus@instabug.com

[2017-04-25 17:17] #30 closed

[2017-05-03 07:30] gejiaheng commented on #24
@tarek360
I test it with the latest SDK 4.0.7, the behavior has changed. There will always one system notification in the status bar. Is this an intended behavior? And it this bug fixed?

[2017-05-03 08:21] gejiaheng opened #31 "How to change toolbar's background color?"
I want to change toolbar's background color to match the App's primary color. Tried `Instabug.setPrimaryColor()` but didn't work. Is it possible?

Instabug Android SDK v4.0.7

[2017-05-03 09:25] DevHossamHassan commented on #31
Hello @gejiaheng,
Unfortunately, for now, It's not.
For customizing the SDK UI We have two themes Light theme and dark theme
you can use them by adding this line to the Instabug Builder `                .setTheme(InstabugColorTheme.InstabugColorThemeLight)`
and these are the values used in setting the theme`InstabugColorThemeLight`, `InstabugColorThemeDark`  and you can customize also the icons co

[2017-05-03 09:29] DevHossamHassan commented on #31
@gejiaheng By the way, we'll add it to our roadmap and we will let you know when it exactly will be released. 👍
Regards :)

[2017-05-03 09:56] gejiaheng commented on #31
@DevHossamHassan
Thanks!

[2017-05-03 09:57] #31 closed

[2017-05-08 07:30] gejiaheng opened #32 "Instabug crashes after choosing an attachment from gallery"
Console log:

[code]
Phone: Xiaomi 5C
Model number: MI 5C
Android version: 6.0MRA58K
MIUI version: MIUI 8.1|Stable 8.1.14.0(MCJCNDI)
Instabug SDK version: 4.0.7

[2017-05-08 18:49] DevHossamHassan commented on #32
Hello @gejiaheng,
Thank you for reporting this issue and all provided details.
Because you are helping us improve our product, thank you so much 👍
By the way, This issue has been fixed and it will be released in a couple of hours.
Cheers :)

[2017-05-09 10:33] joharei opened #33 "Screenshot gesture invocation event does not work on some devices"
The screenshot gesture invocation event doesn't seem to work on Samsung Galaxy S8, with Android 7.0.

Instabug is set up like this:
[code]
This works on all other devices I've tested with.

[2017-05-09 11:40] tarek360 commented on #24
Hi @gejiaheng
The behavior is by design so if you have another suggestion you are welcome :)
thanks.

[2017-05-09 11:58] tarek360 commented on #33
Hi @joharei Thank you for reporting this, we will check it and feedback you, thanks.

[2017-05-10 01:45] DevHossamHassan commented on #32
Hey @gejiaheng,
This issue should be fixed in the latest release which is version `4.0.10`
Please try it out when you have time and let us know if there is anything else we can help you with.
Regards

[2017-05-10 03:08] gejiaheng commented on #24
@tarek360
I'm OK with this design!

[2017-05-10 03:08] #24 closed

[2017-05-10 11:47] tarek360 commented on #33
Hi @joharei Could you provide me with the default path of the screenshots directory on your Samsung Galaxy S8, please?

[2017-05-11 08:23] joharei commented on #33
Hi,
It's in internal storage under DCIM/Screenshots.

After more testing, I have found that it also doesn't work on Google Pixel (screenshots in Pictures/Screenshots), or on Samsung Galaxy A5 (2016, screenshots in DCIM/Screenshots).

On Samsung Galaxy S4 (screenshots in Pictures/Screenshots), this is working on my debug build, but not in my release build (using ProGuard).

[2017-05-11 12:47] tarek360 commented on #33
@joharei , what's​ the SDK version which you use?

[2017-05-11 13:08] gejiaheng commented on #32
@DevHossamHassan
Thanks for your response. It is resolved.

[2017-05-11 13:08] #32 closed

[2017-05-11 14:50] joharei commented on #33
I use the 4.0.10 version of Instabug

If you meant Android SDK version, my `targetSdkVersion` is 25, and my `minSdkVersion` is 16.

[2017-05-15 11:24] joharei commented on #33
Is there any news on this? We changed from using the shake invocation because the sensitivity was hard to get reliable without being irritating. Many users are now unable to send us feedback.

Thanks in advance :)

[2017-05-21 11:33] reemalashry1 commented on #33
Hello @joharei This is Reem from Instabug, I've sent you an email to follow up on this issue, please check it :)

[2017-05-21 16:20] joharei commented on #33
Hi @reemalashry1! I can't find find any email from you. Can you send it again please?

[2017-05-31 04:10] 2x2xplz opened #34 "purpose of setWillSkipScreenshotAnnotation ?"
I was assuming that setting this to `false` (i.e., Instabug will NOT skip the annotation), that the first thing the user will see upon invocation is the screenshot and the drawing tools. However, setting this both to `true` or `false`, the first thing the user sees upon `NEW_FEEDBACK` invocation is the email/comment page with the screenshot attached. In fact, I don't see any behavior change based

[2017-05-31 04:18] 2x2xplz opened #35 "Refactoring the screenshot annotation view"
Any chance you would make available the more basic, v.2 annotation tools? I find that everything added in v.4 -- zoom tool, blur tool, and the ability to zoom and move drawings -- lessens the user experience. The new "features" add unnecessary complexity and confusion, and some users give up on submitting a bug report. Perhaps some app developers find them useful, I am not saying to eliminate the

[2017-05-31 06:14] tarek360 commented on #34
Hi,
The default value of this API is `false`, so the first call of it with passing `false` doesn't make any change, but passing `true` will skip the screenshot annotation screen if you clicked on "Report a Problem" but clicking on "Suggest an Improvement" already skip the screenshot annotation screen all the time regardless this API.

If this description clear, please close the issue or you are we

[2017-05-31 16:11] joxad opened #36 "Surveys"
Hello InstaTeam,

I am using your project for a few months and I saw you added Surveys. I wanted to test it on Android, but the doc is available only on iOS.

http://docs.instabug.com/docs/surveys

Is it a specific feature? Or can you share some infos in here ?

Thanks a lot :) !

[2017-05-31 18:41] tarek360 commented on #36
Hi @joxad
Surveys is available on our android SDK starting from version 4.0.1 , so you can go to your account on the Intsabug dashboard, select the android app and create a new survey, then you will receive it on your android app, surely​ I recommend to use the latest version 4.0.10
Thanks.

[2017-06-01 02:37] DevHossamHassan commented on #35
Hello @2x2xplz,
Thank you so much for your suggestion, Actually, we added those features to enhance the user experience as an example:
Blur sensitive data
[code]
<img src="https://cloud.githubusercontent.com/assets/6613841/26662388/d788fa56-4683-11e7-9440-049127f7e481.png" width="160">

Magnify and Zoom
[code]
<img src="https://cloud.githubusercontent.com/assets/6613841/26662413/fd2e905e-4683-11e7

[2017-06-01 12:28] joxad commented on #36
Hi thanks a lot ! I am currently using the snapshot version in order to use Instabug alongside with RxJava 2 (https://github.com/Instabug/android-sample/issues/17)
When we create a survey, how can I show it into the application ?

I would like to hide the classic instabug button (in order to keep it only for intern purposes) and I will call the survey myself in order to show it for all users.

[2017-06-01 14:06] tarek360 commented on #36
@joxad
Surveys is showing automatically by default, but you can disable the automatic showing
`.setSurveysAutoShowing(false)` then call `Instabug.showValidSurvey()` whenever you want to show it, by the way, you can prevent your users from invoking Instabug by `.setInvocationEvent(InstabugInvocationEvent.NONE)` and this will hide the Instabug floating button.

[2017-06-04 00:28] #36 closed

[2017-06-04 00:28] #34 closed

[2017-06-04 00:30] tarek360 commented on #33
Thank you @joharei for reporting this, as you know the issue is fixed and will be released in the next version.

[2017-06-04 00:30] #33 closed

[2017-06-06 10:27] alexplummer opened #37 "Instabug causing app to crash on location.reload()"
App is continuously crashing on location.reload(), here is the log:

java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2720)
  at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2781)
  at android.app.ActivityThread.-wrap12(ActivityThread.java:0)
  at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1508)
  at an

[2017-06-08 23:09] gzhu opened #38 "NullPointerException when trying to report a bug twice in a row"
I was trying it on 4.1.1

`java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.ArrayList com.instabug.library.bugreporting.model.Bug.e()' on a null object reference
                                                                                  at com.instabug.library.bugreporting.a.d.c(FeedbackPresenter.java:233)

[2017-06-09 08:36] tarek360 commented on #38
@gzhu Thank you for reporting this crash, we are working on it and it will be fixed in the release.

[2017-06-15 08:53] AshotKarapetyan1 opened #39 "NullPointerException"
java.lang.RuntimeException: Unable to start activity ComponentInfo{.DebugLogsActivity}: java.lang.NullPointerException
	at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2118)
	at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2145)
	at android.app.ActivityThread.access$600(ActivityThread.java:130)
	at android.app.ActivityThread$H.handleMessage(ActivityTh

[2017-06-15 08:57] AshotKarapetyan1 opened #40 "StringIndexOutOfBoundsException"
java.lang.RuntimeException: Unable to stop activity .MenuActivity}: java.lang.StringIndexOutOfBoundsException: length=116302; regionStart=0; regionLength=-1
	at android.app.ActivityThread.handleSleeping(ActivityThread.java:3372)
	at android.app.ActivityThread.access$2900(ActivityThread.java:139)
	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1389)
	at android.os.Handler.dispatc

[2017-06-15 08:57] tarek360 commented on #39
Hi @AshotKarapetyan1
Thank you for reporting this, please let me know the Instabug SDK version.

[2017-06-15 08:58] tarek360 commented on #40
Hi @AshotKarapetyan1
Thank you for reporting this, please let me know the Instabug SDK version.

[2017-06-15 09:12] AshotKarapetyan1 commented on #39
The exception has occurred in version 2.5.0

[2017-06-15 09:14] AshotKarapetyan1 commented on #40
The exception has occurred in version 2.6.2

[2017-06-15 09:22] tarek360 commented on #40
@AshotKarapetyan1 This is an old version, the latest version is 4.1.1, we have fixed a lot of issues and released a lot of new features too, please update to Insatbug version 4.1.1 and let me know if you have another issue.
Thank you.

[2017-06-15 09:26] tarek360 commented on #40
Hi @AshotKarapetyan1 as I told you [here](https://github.com/Instabug/android-sample/issues/40#issuecomment-308677841) please update to Insatbug version 4.1.1 and let me know if you have another issue.
Thank you.

[2017-06-15 09:27] tarek360 commented on #39
Hi @AshotKarapetyan1 as I told you [here](https://github.com/Instabug/android-sample/issues/40#issuecomment-308677841) please update to Insatbug version 4.1.1 and let me know if you have another issue.
Thank you.

[2017-06-16 07:02] gejiaheng opened #41 "First message of a conversation not sent when it's an image"
Reproduce steps:
1. Click FAB to create a new conversation
2. Select Image from Gallery
3. Send the selected image
4. Nothing happens

This bug only happens when the first message of a conversation is an image. Everything becomes normal when I send a text message as the first one.

Phone: Nexus 6P
Android version: 7.1.2
Instabug SDK: 4.1.1

[2017-06-16 07:06] tarek360 commented on #41
@gejiaheng Thank you for reporting this and thank you for the full description, I will check it and feedback you.

[2017-06-16 13:33] tarek360 commented on #41
Hi @gejiaheng

We have fixed it, and you can use this **SNAPSHOT**

[code]

Please add this to your app-level build.gradle file to grab snapshots:
[code]

[2017-06-16 18:28] swaby opened #42 "Error:Execution failed for task ':app:transformClassesAndResourcesWithProguardForAboveApi14Debug'. > Job failed, see logs for details"
I was just trying to build the example app and got this gradle error:

[code]
My Setup Details:
- MacBook Pro (Retina, 15-inch, Mid 2015)
- 2.2 GHz Intel Core i7
- 16 GB 1600 MHz DDR3
- Intel Iris Pro 1536 MB
- Android Studio 2.3.2
- Build #AI-162.3934792 (Apr 21, 2017)
- JRE 1.8.0_112-release-b06 x086_64
- JVM OpenJDK 64-Bit Server VM by JetBrains S.R.O

[2017-06-17 06:59] gejiaheng commented on #41
@tarek360 Thanks, I've tested it, it's all fine now.

[2017-06-17 06:59] #41 closed

[2017-06-17 08:07] #39 closed

[2017-06-17 08:08] #40 closed

[2017-06-18 11:31] abhriyaroy commented on #42
I guess adding these to the proguard-rules.pro file will solve the issue
`-dontwarn org.apache.http.**
-dontwarn android.net.http.AndroidHttpClient
-dontwarn com.google.android.gms.**
-dontwarn com.android.volley.toolbox.**
-dontwarn com.instabug.**`

[2017-06-19 08:31] gejiaheng opened #43 "Unify changelogs / releases"
I found at least 4 pages about changelog/releases of Instabug Android SDK, and they are:
- https://github.com/Instabug/android-sample/blob/master/CHANGELOG.md
- https://github.com/Instabug/android-sample/wiki/Changelog
- https://github.com/Instabug/android-sample/wiki/Using-snapshots (Snapshots)
- https://dashboard.instabug.com/applications/zhihu-android/live/sdk/changelog

Maybe it's better to un

[2017-06-19 10:19] vezikon commented on #43
Hi @gejiaheng, Thank you for the feedback. We will definitely unify those.

[2017-06-20 11:56] tarek360 commented on #38
@gzhu fixed, please update to v4.2.0

[2017-06-20 11:56] #38 closed

[2017-06-20 20:39] tarek360 commented on #37
Thank you for reporting this crash, it is fixed, please update to the latest version 4.2.0

[2017-06-20 20:39] #37 closed

[2017-06-21 05:30] gejiaheng opened #44 "NoSuchFieldException in InstabugFeedbackActivity"
We have a crash in our gated launch:

crash log:

[code]

Instabug Android SDK version: 4.1.1.5-SNAPSHOT
Android version: 6.0
Phone: OPPO R9tm

[2017-06-21 08:15] tarek360 commented on #44
Hi @gejiaheng
Is this crash happens only on this phone? is this happening periodically?

[2017-06-21 08:27] gejiaheng commented on #44
@tarek360
We have 7000 updates in our gated launch yesterday and only one crash happened. But we have millions of daily active users, so it's still a notable crash.

[2017-06-21 13:30] tarek360 commented on #44
@gejiaheng The issue is fixed and this is a custom build
[code]
Thank you.

[2017-06-21 13:34] gejiaheng commented on #44
@tarek360
Thanks so much for your quick work.

[2017-06-21 13:34] #44 closed

[2017-06-22 03:36] gejiaheng opened #45 "ArrayIndexOutOfBoundsException in AnalyticsObserver"
We have three crashes in our gated launch yesterday, all three happened on Huawei Phone Android 7.0.

[code]

Instabug Android SDK: 4.2.0.1-SNAPSHOT

[2017-06-22 07:33] tarek360 commented on #45
Hi @gejiaheng
Thank you for this report, I will check it.

[2017-06-22 09:34] tarek360 commented on #45
@gejiaheng I think it was a rare case but it is fixed now and this is a custom build.
[code]
Thank you.

[2017-06-22 09:35] gejiaheng commented on #45
@tarek360
Thank you so much!

[2017-06-23 03:05] gejiaheng opened #46 "CursorWindowAllocationException in InstabugUserEventLogger"
We had 2 crashes in our gated launch yesterday.

[code]

I've found a related question in StackOverflow:
https://stackoverflow.com/questions/21219039/android-database-cursorwindowallocationexception-when-moving-a-cursor

Instabug Android SDK: 4.2.0.2-SNAPSHOT

[2017-06-23 05:17] gejiaheng opened #47 "RuntimeException in InstabugMessageUploaderService"
We had 3 crashes of this type in our gated launch yesterday.

[code]

Instabug Android SDK: 4.2.0.2-SNAPSHOT

[2017-06-23 06:51] tarek360 commented on #46
Hi @gejiaheng ,
Thank you for this report, I will check it.

[2017-06-23 06:56] tarek360 commented on #47
Hi @gejiaheng ,
I will check it too.

[2017-06-23 09:48] tarek360 commented on #47
@gejiaheng
I can't reproduce it, if you have clear steps to reproduce it, please tell me.

[2017-06-23 09:59] gejiaheng commented on #47
@tarek360
I don't know exact user steps neither. We'll see if this crash keep coming up or just be in a low amount.

[2017-06-25 00:08] tarek360 commented on #47
Hi @gejiaheng is the crash has a high occurrences?

[2017-06-25 00:12] tarek360 commented on #46
Hi @gejiaheng we are working on this, and I will inform you when we release it, also please inform me if it is occurring in high rate.
Thank you.

[2017-06-25 12:56] tarek360 commented on #46
Hi @gejiaheng

I have read the StackOverflow question and already all cursors created are being closed
may be you use `Instabug.logUserEvent();` within a loop or similar something, anyway we have done some optimization in our code, you can use the SNAPSHOT and if the issue has appeared again please tell us.

[code]

Thank you.

[2017-06-26 02:44] gejiaheng commented on #47
@tarek360
No, we only had one more crash. I think it's OK if we don't fix this temporarily.

[2017-06-26 02:44] #47 closed

[2017-06-26 02:44] gejiaheng commented on #46
@tarek360
Thanks for your work.

[2017-06-26 02:44] #46 closed

[2017-06-26 06:46] gejiaheng opened #48 "Failed to change locale for db '/data/data/com.zhihu.android/databases/instabug.db' to 'zh_CN'"
We had 5 crashes of this exception in our gated launch over the weekend.

[code]
![image](https://user-images.githubusercontent.com/3777021/27527387-11a5a46a-5a7e-11e7-852d-ccb0dc1d939c.png)

Instabug Android SDK: 4.2.0.2-SNAPSHOT

[2017-06-26 08:06] tarek360 commented on #48
Hi @gejiaheng  I will check it and feedback you, thanks.

[2017-06-26 08:53] tarek360 commented on #48
@gejiaheng Have you a database in your app? are you trying to setLocale to it?

[2017-06-26 08:55] tarek360 commented on #48
@gejiaheng Have you a database in your app? have you set a new Locale to it somewhere?

[2017-06-26 09:30] gejiaheng commented on #48
@tarek360
We are using SQLite and Realm at the same time. As for SQLite, we do not set a new Locale to it anywhere.

[2017-06-28 07:43] eygraber commented on #17
Has any progress been made here?

[2017-06-28 09:30] tarek360 commented on #17
Hi @eygraber if you asking about the custom build based on RxJava2
Please check this [comment](https://github.com/Instabug/android-sample/issues/17#issuecomment-292206228).

[2017-06-29 07:36] armen301 opened #49 "Crash on InstabugSessionUploaderService"
at android.app.ActivityThread.handleServiceArgs(ActivityThread.java:3347)
	at android.app.ActivityThread.-wrap21(ActivityThread.java)
	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1583)
	at android.os.Handler.dispatchMessage(Handler.java:102)
	at android.os.Looper.loop(Looper.java:154)
	at android.app.ActivityThread.main(ActivityThread.java:6154)
	at java.lang.reflect.Method.i

[2017-06-29 09:09] tarek360 commented on #49
Hi @armen301,

The latest version is 4.2.2, please update to it, it is more stable and has a lot of the new features, and let me know if the issue still exists.

Thank you.

[2017-07-10 03:35] gejiaheng commented on #45
Still happening. About 40 crashes per day.

[2017-07-22 17:08] vezikon commented on #42
@swaby Hello, I'm just following up with you. Do you still have an issue with building our sample project?

[2017-07-22 17:10] vezikon commented on #45
@gejiaheng Can you provide us with the version number of Instabug that you are currently using?

[2017-07-22 17:43] vezikon commented on #48
@gejiaheng we have made a custom build for you that we believe that it has a fix for this issue.
Please, try out this snapshot:

[code]

[2017-07-22 18:08] vezikon commented on #49
Hello @armen301 Do you still have this issue with instabug?

[2017-07-22 19:05] vezikon commented on #43
Hello @gejiaheng we unified these pages. Please, re-check them again

[2017-07-24 06:32] gejiaheng commented on #43
@vezikon Awesome job!

[2017-07-24 06:32] #43 closed

[2017-07-24 06:35] gejiaheng commented on #45
@vezikon We are currently using 4.2.0.5-SNAPSHOT.

[2017-07-24 06:37] gejiaheng commented on #48
@vezikon Thanks, I'll try it.

[2017-07-24 06:37] #48 closed

[2017-07-25 08:08] marcel-eggum opened #50 "Black/ empty screenshot and out of memory exception when using SurfaceView."
Good morning. I want to report an issue with the instabug Android SDK . We see that certain users cannot provide us with a screenshot / feedback. The screenshot that the SDK attempts to capture, is simply black and empty, and the SDK itself crashes after a few seconds with the following statement:

[code]
We are currently running instabug:4.2.6

That screen has some complex visual elements, and I

[2017-07-25 16:36] #49 closed

[2017-07-25 16:36] #42 closed

[2017-07-25 17:47] tarek360 commented on #50
Hi @marcel-eggum ,
Thank you for reporting this issue، I know that you have contacted with our happiness team, let's keep this issue open till we get a fix, thanks.

[2017-07-26 05:44] pengyuan1990 opened #51 "proguard-rules NullPointerException"
Installation code ：
  new Instabug.Builder(this, "6107ea801eefd3945********")
                .setInvocationEvent(InstabugInvocationEvent.NONE)
                .build();

sdk version：4.2.6

 W/System.err: java.lang.reflect.InvocationTargetException
 W/System.err:     at java.lang.reflect.Method.invoke(Native Method)
 W/System.err:     at com.instabug.library.h.b.a(SourceFile:82)
 W/System.err:

[2017-07-26 19:59] SudoPlz opened #52 "rx.exceptions.OnErrorNotImplementedException"
That's an error that I received via my crash reporter

[code]

Note that I'm using `instabug-reactnative` for Android.
any ideas what might have caused it?

[2017-07-27 06:35] tarek360 commented on #52
Hi @SudoPlz
We're are working on the first crash, and we will back to you soon.
Thank you.

[2017-07-27 10:47] SudoPlz commented on #52
Thank you!

[2017-07-28 07:01] tarek360 commented on #51
Hi @pengyuan1990
Thank you for reporting this issue, it's fixed in a snapshot and it will be released in the next release.
[code]

add this to your app-level build.gradle file to grab snapshots:
[code]

[2017-07-28 11:31] tarek360 commented on #52
I think it's very rare case, so if you received another crash please notify me, thank you @SudoPlz

[2017-07-28 11:31] #52 closed

[2017-07-28 16:13] SudoPlz commented on #52
ok I will, thank you tarek

[2017-07-31 02:46] ysyyork opened #53 "SDK installed successfully but can't find the SDK in Android Studio"
Hi,

I followed this sample to add this in my app's build.gradle file:
[code]
And clicked sync. Everything works well but I can't import Instabug class. It's showing red. And I was looking for this lib in the external libraries but I couldn't find it. However, it's sitting in the ~/.gradle folder. I don't know what's going on here. Anyone can help?

[2017-07-31 02:56] ysyyork commented on #53
Sorry, proven to be an android studio issue. Deleted the .idea folder and reopen then it works. Closing this issue

[2017-07-31 02:56] #53 closed

[2017-07-31 03:17] ysyyork opened #54 "java.lang.NoClassDefFoundError: com.instabug.library.analytics.AnalyticsObserver$1"
I followed this:
[code]
[code]

 and everything compiled but when I actually called the setInvocationEvent function, it raised this error and I don't know what's going on. I can find AnalyticsObserver class in the sdk.

[2017-07-31 06:15] tarek360 commented on #54
Hi @ysyyork ,
Thank you for reporting this issue, does it happen with all of the Android API levels?

[2017-07-31 06:26] tarek360 commented on #53
You are welcome at any time :)

[2017-07-31 17:27] ysyyork commented on #54
Hi @tarek360 THanks for your reply. What do you mean by all of the Android API levels?  I tested just using AnalyticsObserver class. it's raising the same error.

[2017-07-31 17:30] ysyyork commented on #54
Sorry, only the AnalyticsObserver.getInstance method will raise this error. If I just declare like
`AnalyticsObserver observer;`
It won't raise this. So I think this is a runtime issue?

[2017-07-31 18:17] tarek360 commented on #54
@ysyyork I mean have you tested it on several Android versions? what is Android version which you tested on?

[2017-07-31 18:48] ysyyork commented on #54
No, I only tested on my device which runs android 6.0.1

[2017-07-31 19:03] tarek360 commented on #54
Do you have a lot of dependencies in your project? if yes, please check this https://stackoverflow.com/a/27709640

[2017-07-31 20:34] ysyyork commented on #54
Thanks for your reply. I have multidexEnabled before but I didn't extend the MultidexApplication class. however, even by doing so, the same exception is thrown.

[2017-08-01 06:16] tarek360 commented on #54
@ysyyork Could you send a sample app with the issue, please? It will help us to fix the issue quickly.

[2017-08-01 17:24] samrombswm opened #55 "ANR beause of InstabugCrashesUploaderService"
E/ActivityManager: ANR in com.app.android.internal
                                                  PID: 20706
                                                  Reason: executing service com.app.android.internal/com.instabug.crash.network.InstabugCrashesUploaderService
                                                  Load: 9.25 / 7.69 / 7.74

This is on sdk version 4.2.6

[2017-08-01 18:07] samrombswm commented on #55
It appears 4.2.4 is the last version which does not cause this problem

[2017-08-02 10:38] DevHossamHassan commented on #55
Hello @samrombswm
Thank you for reporting this issue, I'm wondering whether you are enabling the pro-guard or not.
and whether you encountering this on the debug or on the release mode.
Regards.

[2017-08-02 16:38] samrombswm commented on #55
Hi @DevHossamHassan this happens on debug and we do not have pro-guard enabled.

[2017-08-03 07:10] gejiaheng opened #56 "Crash caused by SQLiteDatebase"
[code]

OR
[code]

App crashes immediately while launching. This bug happens 100% on some phones including Vivo X9 (Android 6.0.1)

Instabug Android SDK: 4.2.6.2-SNAPSHOT

The bug doesn't exist when I revert to the last version we use which is 4.2.0.5-SNAPSHOT.

[2017-08-03 08:37] tarek360 commented on #56
Hi @gejiaheng,
I will check it and get back to you, thanks.

[2017-08-03 08:38] gejiaheng opened #57 "OnErrorNotImplementedException"
[code]

Instabug SDK: 4.2.6.2-SNAPSHOT

[2017-08-03 09:26] tarek360 commented on #56
@gejiaheng In the stack trace I see other errors related to the resources and the disk in your app, anyway I'm investigating the issue, until I finish please try this `4.2.6.8-SNAPSHOT`, it may help.
Thank you.

[2017-08-03 10:11] gejiaheng commented on #56
@tarek360 `4.2.6.8-SNAPSHOT` works fine.

[2017-08-03 18:09] DevHossamHassan commented on #55
Hey @samrombswm,
Could you please send me the full stack-trace for this exception?
and Is this happens consistently?

[2017-08-06 09:01] #56 closed

[2017-08-06 09:01] vezikon commented on #57
Hi @gejiaheng, do you still get this crash with SDK version 4.2.6.8-SNAPSHOT?

[2017-08-06 09:03] vezikon commented on #51
Hello @pengyuan1990
This fix is now on SDK version 4.2.7

[2017-08-06 09:03] #51 closed

[2017-08-07 04:19] 2x2xplz commented on #35
These are nice, useful options. But some applications have many very inexperienced users, and these extra buttons confuse them. Not every app has sensitive data to be blurred, or needs magnification. I'm seeking the EASIEST way for users to send a screenshot -- and every additional button or feature is a distraction. Think about a point-and-shoot camera vs a manual SLR, sure the SLR has more featu

[2017-08-08 00:20] DevHossamHassan commented on #35
Thank you so much for your suggestion @2x2xplz I got what you mean. I really appreciate it. 🙏
I forwarded your suggestion to our `Product` team
They might need to get in touch with you if you don't mind this.

[2017-08-15 09:06] gejiaheng opened #58 "In-App notifications for already read messages appear again."
We have some users complaining receiving the same Instabug In-App notification everyday.

Instabug console link:
https://dashboard.instabug.com/applications/zhihu-android/live/bugs/137030

Instabug SDK version: 4.2.0.5-SNAPSHOT
We've tried to update to a later version, but came across a few different crashes, so we rolled back to the above version.

Would you please find out why this happens? Hope

[2017-08-15 12:34] randaelbaz commented on #58
Hey Gejiaheng,

I am Randa from Customer Happiness team jumping in for your support.

We're currently aware of this problem and our Android dev team is working on reproducing this issue and figuring out a fix. Thank you so much for pointing this out.

I will definitely update you once it's done.

[2017-08-16 00:54] 2x2xplz opened #59 "Decrease the SDK's methods counts"
Recent versions of Instabug have added larger dependencies and more of them. Upgrading to v.4 pushed my project's method count over the 65k DEX limit. Of course base Android and the support libraries share the blame but we can't do anything about those. However, if someone isn't using RXJava, Instabug v.4's dependencies add over 15,000 methods -- RXJava, JCodec, and over 5000 in instabug-core. V.2

[2017-08-16 15:35] msoliman commented on #59
Thanks @2x2xplz for the suggestion. I agree that we've got a way to go in terms of minimizing the methods count. We've been working on have different parts of the SDK being pluggable instead of having the SDK as a whole, and we're releasing this soon. In the next few months, we'll be working on cutting down the number of dependencies that the SDK depends on; including RxJava and JCodec.

I'll leav

[2017-08-17 07:29] joeabouassi opened #60 "AnnotationView Crash"
Instabug 4.2.8 reported this crash in the SDK itself:

[code]

Please update me if theres a new release soon with a fix.

Best Regards.

[2017-08-17 07:34] tarek360 commented on #60
Hi @joeabouassi ,
Thank you for reporting this, I will check it but I have a question, does it happen consistently with you?

[2017-08-17 07:38] joeabouassi commented on #60
Hi @tarek360 ,

It happened 19 hours ago for the first time as reported by Instabug in one of my apps, but Im not sure if it happens often because as I was testing Instabug crash reporting sometimes the crashes don't get uploaded.

[2017-08-17 07:45] tarek360 commented on #60
Regarding the crash reporting on the dashboard please contact us on [our website](https://instabug.com/) and we will check it for you now, Thank you @joeabouassi

[2017-08-17 07:49] joeabouassi commented on #60
Sure will do!
Please let me know if u manage to pin point and fix it.

Thank you @tarek360

[2017-08-19 15:19] reemalashry1 commented on #58
Hey @gejiaheng

This issue is fixed now in version: 4.2.9

[2017-08-22 11:57] linkinamine opened #61 "Start bug report from a click event"
Is there a way to start a bug report screen with a simple click event :
for now the possible ways are :
    NONE,
    SHAKE,
    FLOATING_BUTTON,
    SCREENSHOT_GESTURE,
    TWO_FINGER_SWIPE_LEFT;

[2017-08-22 14:08] randaelbaz commented on #61
Hey @linkinamine

You can easily do that by calling the manual invocation API call `Instabug.invoke();` in your onClick event.  Did you try using this API?
For more info check this link: https://docs.instabug.com/docs/android-invocation#section-manual-invocation

[2017-08-23 21:10] NadineMansour commented on #35
@2x2xplz I renamed the issue to help everyone catch its topic easily.
We’ll disable the automatic shape detection and the users will have the freedom to pick if they want to stick to the free hand drawn shapes or the ones detected by Instabug. It should be ready and released in a month.

[2017-08-23 23:24] 2x2xplz commented on #35
I appreciate you working on this... however giving the user an additional option (choose between free hand shapes or pre-detected) is the opposite of what I am requesting. Ideally, the developer should choose what options/features to give the users. Some people want to let the users do lots of stuff, but others (like myself) want fewer features, like with v.2.

[2017-08-24 06:54] NadineMansour commented on #60
@joeabouassi We fixed the issue that you reported. It’ll be released soon. I’ll let you know once it goes live

[2017-08-24 06:55] NadineMansour commented on #54
@ysyyork I am following up on Tarek’s request. I will close the issue, and feel free to reopen it once you have the sample app ready.

[2017-08-24 06:55] #54 closed

[2017-08-24 08:49] joeabouassi commented on #60
Thank you for the update @NadineMansour !

[2017-08-27 07:39] randaelbaz commented on #45
@gejiaheng Hi here is an update regarding this issue, the latest version(4.2.9) of the SDK contains the fix for this issue. I will close this issue, for now, please reopen if the problem still persists.

[2017-08-27 07:40] #45 closed

[2017-08-27 11:07] reemalashry1 commented on #57
Hello @gejiaheng

The fix for this issue is released with version: 4.2.9
Kindly check it [here](https://github.com/Instabug/android-sample/commit/0031190b357cd02b4c8e887b7f200be6c956a4c2)

[2017-08-27 11:09] reemalashry1 commented on #50
Hello @marcel-eggum
The fix for this issue is released in version: 4.2.9
Kindly check it [here](https://github.com/Instabug/android-sample/commit/0031190b357cd02b4c8e887b7f200be6c956a4c2)
I have also renamed the issue to be more relevant to anyone using SurfaceView.

[2017-08-27 11:10] #50 closed

[2017-08-29 02:43] gejiaheng commented on #58
Thanks! I'll update the SDK in our coming release.

[2017-08-29 02:43] #58 closed

[2017-09-01 15:54] NadineMansour commented on #60
@joeabouassi The fix is a632e790983bb11edbdcb129436f6e583f964bd6 was released in the latest version 4.2.10.

[2017-09-05 16:17] randaelbaz commented on #55
Hi @samrombswm
Is there an update regarding the stack-trace and whether it happens consistently or not?  I will close this issue, for now, please reopen if the problem still persists.

[2017-09-05 16:27] #55 closed

[2017-09-06 08:01] YShein opened #62 "OutOfMemoryError"
Hello, i have received this on samsung galaxy s4

Fatal Exception: java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
       at rx.android.schedulers.LooperScheduler$ScheduledAction.run(LooperScheduler.java:114)
       at android.os.Handler.handleCallback(Handler.java:739)
       at android.os.Handler.dispatchMessage(Handler.java:95)
       at android.os.Looper.loo

[2017-09-06 17:46] reemalashry1 commented on #62
Hello @YShein
would you please tell me, on which version of the SDK does this happen?

[2017-09-06 17:51] YShein commented on #62
Hello @reemalashry1
It was 4.2.9

[2017-09-06 17:53] reemalashry1 commented on #62
@YShein thank you, we will be checking this and I'll get back to you 👍

[2017-09-08 15:05] reemalashry1 commented on #62
Hey @YShein
we have made a snapshot that fixes the issue, please use: 4.2.10.4-SNAPSHOT

[2017-09-11 11:49] NadineMansour commented on #60
@joeabouassi I will close this issue for now.
Please, feel free to reopen it again if you have any further concerns.

[2017-09-11 11:49] #60 closed

[2017-09-11 12:19] NadineMansour commented on #35
@2x2xplz The team is working on some new changes in the bug reporting UI and experience. We would really appreciate opening an email thread with you to share our plans and take your feedback including the annotation step.
Can you please email us at support@instabug.com and reference this issue?

[2017-09-19 12:56] YShein commented on #62
I received same issue from Galaxy S4

Fatal Exception: java.lang.RuntimeException: An error occured while executing doInBackground()
       at android.os.AsyncTask$3.done(AsyncTask.java:300)
       at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
       at java.util.concurrent.FutureTask.setException(FutureTask.java:222)
       at java.util.concurrent.FutureTask.run(FutureT

[2017-09-19 13:36] reemalashry1 commented on #62
Hey @YShein have you tried  4.2.10.4-SNAPSHOT ?
For building snapshot releases add this to your app-level build.gradle file:

[code]

Kindly use the snapshot and let me know how it goes.

[2017-09-20 11:50] fleficher commented on #17
Hi @tarek360 we have the same problem too, we're planning to use rxjava2 in our project and this is very annoying.
How is it possible to have it in our custom build too ?

Thank you !

[2017-09-20 11:50] fleficher opened #63 "Instabug.disable cause NullPointerException"
Hi,

Calling Instabug.disable() after Instabug.enable() cause an NullPointerException in the SDK :

[code]

Using 3.9.2-SNAPSHOT version

[2017-09-20 12:47] joharei commented on #17
We're currently using the latest Instabug (4.2.10) and RxJava 2 without problems.

[2017-09-20 13:46] tarek360 commented on #17
Hi @fleficher
Our latest versions are based on RxJava 1, you can use it safely with your project which depends on
RxJava 2, also you can use our snapshot `(v4.0.0-SNAPSHOT)` which has RxJava 2 as a dependency.

* To use the snapshot based on RxJava 2

Please make sure to add the next lines to your app-level build.gradle file

[code]

[code]

**Or**

* Use the last version based on RxJava 1

[code]

[2017-09-20 14:03] reemalashry1 commented on #63
Hey @fleficher we will be checking this and I'll get back to you 👍

[2017-09-21 09:11] reemalashry1 commented on #63
Hey @fleficher this issue is fixed in our newer versions, kindly upgrade to the latest version here: 0031190b357cd02b4c8e887b7f200be6c956a4c2

[2017-09-21 09:23] fleficher commented on #63
@reemalashry1 Thanks for the update, but the problem is that we're using a custom build so we can't update our sdk to the last version without losing all customizations.
What are the step to follow to keep our build updated ?

[2017-09-21 11:23] reemalashry1 commented on #63
Hey @fleficher
No worries, we are working on sending you a snapshot that will have both the customizations you currently have and the fix for the issue.

[2017-09-22 06:02] fleficher commented on #63
@reemalashry1 Greet, waiting for the snapshot version :)

[2017-09-23 11:57] reemalashry1 commented on #63
Hey @fleficher
we have made a snapshot for you, version 3.9.3-SNAPSHOT

To use the snapshot, please add the next lines to your app-level `build.gradle` file

[code]

[code]

[2017-09-25 08:14] fleficher commented on #17
@tarek360 Thanks for this but if we use this dependency we lose all the customizations we've made in our custom build

[2017-09-25 10:24] tarek360 commented on #17
Hi @fleficher what's the RxJava problem with the Instabug version which you use?

[2017-09-25 17:38] fleficher commented on #63
Hi @reemalashry1 thank you, bug fixed !

[2017-09-25 17:38] #63 closed

[2017-09-25 17:46] fleficher commented on #17
Hi @tarek360 I've the same problem as the author of this bug if we try to use RxJava2 (used by another dependency in the project)

[2017-09-25 18:33] tarek360 commented on #17
@fleficher methods count issue or you have a conflict with RxJava 1 ??

[2017-09-27 08:24] fleficher commented on #17
@tarek360 conflicts between RxJava 1 & 2

[2017-09-27 09:16] tarek360 commented on #17
@fleficher that's very easy to fix

You can add the next few lines to your app/build.gradle at:

[code]
[reference](https://github.com/ReactiveX/RxJava/issues/4445)

[2017-09-28 13:35] fleficher commented on #17
@tarek360 Thanks for the fix but is it planned on your side to migrate to rxjava2 ?
It's very annoying to embed 2 different versions of the same library just for one sdk. It adds thousands of methods in the apk.
Some sdks provides optional dependencies to solve those problems. It would be great to have this.

[2017-10-05 15:23] zfort-vitalii opened #64 "NullPointerException while using feedback feature."
Hi there,

sometimes we got NPE during use your SDK. Perhaps you can help us to solve this issue.

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.---/com.instabug.library.InstabugFeedbackActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'com.instabug.library.bugreporting.model.Bug com.instabug.library.bugreporting.model.Bug.a(com.

[2017-10-06 06:50] melbic commented on #50
We actually still have the issue in version `com.instabug.library:instabug:4.3.1.2-SNAPSHOT`.
![screenshot_20171006-084349](https://user-images.githubusercontent.com/186461/31266218-0c0a4336-aa73-11e7-8ec4-01daa4ee7b91.png)

The black view is `SurfaceView`.  Do we have to set any custom property to enable screenshots for that this views? Didn't see anything in the release notes.

[2017-10-08 11:18] reemalashry1 commented on #50
Hey @melbic aer you using `GLSurfaceView` or `SurfaceView`? As we don't support `SurfaceView`

[2017-10-09 05:29] melbic commented on #50
Ok, I understand. The view is from Unity, so we actually don't really have a choice. Thanks for your answer.

[2017-10-09 11:27] reemalashry1 commented on #64
Hey @zfort-vitalii
We are currently investigating this, I'll get back to you 😊

[2017-10-09 11:56] zfort-vitalii commented on #64
Thank you!

[2017-10-10 23:22] reemalashry1 commented on #64
Hey @zfort-vitalii

The cause of the NPE you get with the feedback is fixed in 4.2.11.5-SNAPSHOT

To use the snapshot, please add the following lines to your app-level `build.gradle` file:

[code]

[code]

[2017-10-11 09:43] zfort-vitalii commented on #64
Thanks!
i can't reproduce it, hope uses too

[2017-10-11 11:19] reemalashry1 commented on #64
@zfort-vitalii regarding the first NPE, we still can't reproduce it, do you mind sharing with me steps on how to reproduce it please? 😊

[2017-10-11 12:08] zfort-vitalii commented on #64
We got this issue within Crashlytics. That is why i don't know the steps. I'll let you know, if we have any crush with this again.
Many thanks for fast response!

[2017-10-11 16:00] reemalashry1 commented on #64
@zfort-vitalii Deal! You're welcome :)

[2017-10-13 12:54] fleficher opened #65 "Instabug.getLocale NullPointerException"
Hi,

We have some reports on crashlytics about NPEs in InstabugFeedbackActivity :

[code]

Version : 3.9.3-SNAPSHOT

[2017-10-13 13:02] reemalashry1 commented on #65
Hey @fleficher thank you for reporting this, we will look into it and I'll get back to you  👍

[2017-10-14 21:59] reemalashry1 commented on #65
Hey @fleficher Would you please send me a full stack trace for the crash? Also, are you able to reproduce this crash? If yes, do you mind sharing some steps to help reproducing it please?
Thanks!

[2017-10-16 07:55] fleficher commented on #65
Hi @reemalashry1  here is the full strack trace : [stacktrace.txt](https://github.com/Instabug/android-sample/files/1386567/stacktrace.txt)

I couldn't reproduce this crash yet; It seems to impact all version of Android

[2017-10-17 08:36] reemalashry1 commented on #65
Hey @fleficher we have fixed the issue and made a snapshot for you, kindly use 3.9.4-SNAPSHOT
To use the snapshot, please add the following lines to your app-level `build.gradle` file:

[code]

[code]

[2017-10-17 08:44] reemalashry1 commented on #65
Hey @fleficher we have fixed the issue and made a snapshot for you, kindly use 3.9.4-SNAPSHOT

To use the snapshot, please add the following lines to your app-level `build.gradle` file:

[code]

[2017-10-17 16:28] fleficher commented on #65
@reemalashry1 Great thank you ! I will let you know if it worked

[2017-10-17 16:50] fleficher opened #66 "NullPointerException in InstabugFeedbackActivity"
Hi,

I've encountered the following crash during test :

[code]

**Using version** : 3.9.4-SNAPSHOT

**Steps to reproduce** :
1. Shake the device
2. Before the dialog appears, start another activity
3. The 2nd activity is started & show the Instabug Dialog
4. Dismiss it & go the to previous activity
5. Another dialog is shown
6. Click on an item -> Crash appears

[2017-10-17 21:56] reemalashry1 commented on #66
Thank you for reporting this and for the repro steps.
We will be checking it and I’ll get back to you.

[2017-10-19 15:12] fleficher commented on #62
Hi, same here using version 3.9.4-SNAPSHOT

[2017-10-19 15:17] reemalashry1 commented on #66
Hey @fleficher we have fixed the issue and made a snapshot for you, kindly use `3.9.4.1-SNAPSHOT`
To use the snapshot, please add the following lines to your app-level `build.gradle` file:

[code]

[2017-10-19 15:45] fleficher commented on #66
@reemalashry1 Great it's working ! Thanks a lot

[2017-10-19 15:45] #66 closed

[2017-10-26 06:52] tarek360 commented on #17
Hi @fleficher

We have a plan to remove RxJava from our SDK, since we remove it I will notify you. please if you have any issue with that tell me.

Thank you.

[2017-10-26 17:28] joeabouassi opened #67 "NullpointerException State.Builder.getLocale()"
The app I was working on crashed in the background with the following stacktrace:

 java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getResources()' on a null object reference
                                                                        at com.instabug.library.model.State$Builder.getLocale(State.java:732)

[2017-10-30 09:29] joeabouassi commented on #67
This is happening a lot using library version 4.3.2

[2017-10-30 09:33] reemalashry1 commented on #67
Hey @joeabouassi we got another report of this this issue and we are looking into it.
I'll get back to you about it :)

[2017-10-30 09:59] reemalashry1 commented on #67
@joeabouassi  May I ask you if you're using Android studio 3 or if your app supports different languages?

[2017-10-30 10:02] joeabouassi commented on #67
@reemalashry1 Thank you for your reply.

Im currently using Android Studio 2.3.3 and my app doesn't support different languages currently, only english.

[2017-10-30 19:10] reemalashry1 commented on #67
@joeabouassi
We have fixed the issue and made a snapshot for you that has the fix, kindly use 4.3.2.5-SNAPSHOT

To use the snapshot, please add the following lines to your app-level `build.gradle` file:

[code]

[2017-10-30 19:13] joeabouassi commented on #67
@reemalashry1 Thank you for the update, any idea when this fix will be added with the latest official sdk release ?

[2017-10-30 19:15] reemalashry1 commented on #67
@joeabouassi I don't have an ETA  :( but I'll definitely let you know when the release is out!

[2017-10-30 19:23] joeabouassi commented on #67
@reemalashry1 no problem! Thanks

[2017-11-01 15:59] reemalashry1 commented on #67
@joeabouassi We have released the new version with the fix, please check it here: a8c20db3ba16c51e1c4f8278338dd5fcc9b80cd5

[2017-11-01 17:02] 8masterofpuppets8 opened #68 "java.lang.IllegalStateException: Only fullscreen activities can request orientation"
Got this error when targeting Android O (API 27).

[code]

Any ideas on how to resolve?

[2017-11-02 03:00] ZOlbrys opened #69 "LeakCanary reports memory leaks"
Steps to reproduce:
1. Add LeakCanary to app that is setup with Instabug by adding this code to gradle file:
[code]
2. Start app and display the Instabug report bug window
3. Rotate the device to a new orientation

Result:
LeakCanary reports a leaked MainActivity instance.

Expected:
No leaks occur.

Here's a screenshot of the LeakCanary report:
![screenshot_1509591318](https://user-images.githubu

[2017-11-02 08:34] joeabouassi commented on #67
@reemalashry1 Thanks for the update, that was fast!

[2017-11-02 09:19] reemalashry1 commented on #68
@8masterofpuppets8 Hey Georgi, would you please tell me which version of the SDK did this happen on?
Also, does this crash happen consistently? Are you able to reproduce it? If, yes, what are your steps, please? :)

[2017-11-02 09:20] reemalashry1 commented on #69
Hey @ZOlbrys thank you for reporting this, let us look into it please :)

[2017-11-02 10:44] 8masterofpuppets8 commented on #68
Hi, yes of course :)

I'm on version `4.3.3` and my app config is:

[code]

The code I use for Instabug is:

[code]

The I call the SDK like this `Instabug.invoke();`

This works when I run the app on Android 7 but on Android 8 it fails with the exception above. Let me know if I can help in any other way. I really like the SDK and would like to continue using it :)

[2017-11-02 13:29] fleficher opened #70 "Button send is invisible"
Hello,

Since version 3.9.4-SNAPSHOT, the send button in the top bar is invisible but clickable (hardly).
We're using 3.9.4.1-SNAPSHOT version.

Can you make a patch ? It's a blocking issue for us cause we need to put this version in production soon.

Thank you

[2017-11-03 10:28] 8masterofpuppets8 commented on #68
I can confirm that if I put the `targetSdkVersion 26` it works just fine on Android O. Any idea when this will be resolved for API 27?

[2017-11-06 13:32] fleficher commented on #70
Here is a screenshot of what i've :

![sans titre](https://user-images.githubusercontent.com/6464646/32443382-1dfaebdc-c2ff-11e7-9296-825f0888e2a7.png)

[2017-11-06 14:30] ZiadAyman commented on #70
@fleficher I am currently communicating the issue with the Android team and will get back to you with the updates.

[2017-11-06 15:48] #67 closed

[2017-11-06 17:02] ZiadAyman commented on #70
@fleficher We have fixed the issue and made a snapshot for you that has the fix, kindly use 3.9.4.2-SNAPSHOT.

Thanks for you patience!

[2017-11-06 17:09] helmiderbali opened #71 "Notifications not showing on API 26 : no channel id"
Hello,

With version `3.9.4-SNAPSHOT` , when i activate push notifications for chat and call method `Instabug.showNotification()` , i do not receive notifications ; instead i get a toast with the message "`Developer warning for package ****** failed to post notification on channel null`".

[2017-11-06 18:40] ZiadAyman commented on #71
@helmiderbali Yes I communicated with our Android team and it seems that this issue is occuring with Android 8. We are working on it no worries :)

We'll be fixing this in our coming release. Meanwhile, we'll send you another Snapshot to use.

[2017-11-07 16:47] ZiadAyman commented on #71
@helmiderbali We have fixed the issue and made a snapshot for you that has the fix, kindly use 3.9.4.3-SNAPSHOT.

[2017-11-07 19:04] fleficher commented on #70
Hi @ZiadAyman It works but now the crash which should be fixed in #65 is occurring again. Why ?

[2017-11-08 06:47] hanspeide commented on #68
Any updates here? We're also seeing this issue

[2017-11-08 09:44] KChernenko commented on #68
Hi, we are seeing this issue on Android 8.1 DP too.

[2017-11-08 13:47] #57 closed

[2017-11-08 16:09] ZiadAyman commented on #70
hey @fleficher we have fixed the crash issue for you and we made another snapshot, kindly use version 3.9.4.4-SNAPSHOT

[2017-11-09 10:33] fleficher commented on #70
Great, thank you @ZiadAyman

[2017-11-09 11:06] #70 closed

[2017-11-09 15:37] fleficher opened #72 "Crash: IndexOutOfBoundsException at SurveyActivity.onBackPressed"
Hi,

We've got some IndexOutOfBoundsException with the sdk from crashlytics :
[code]
* Using 3.9.4.2-SNAPSHOT version

[2017-11-09 15:37] fleficher opened #73 "Crash: NullPointerException in State$Builder.getLocale"
Hello,

We've got some NPE with the sdk from crashlytics :

[code]
* Using 3.9.4.2-SNAPSHOT version

[2017-11-09 19:28] ZiadAyman commented on #72
@fleficher I'll definitely communicate this with our Android team. Meanwhile, did you get the chance to try 3.9.4.4 SNAPSHOT?

[2017-11-09 19:30] ZiadAyman commented on #73
Hello @fleficher, did you get the chance to use 3.9.4.4 SNAPSHOT we sent yesterday? Does the crash still occur on 3.9.4.4?

[2017-11-10 08:49] fleficher commented on #72
Hi @ZiadAyman , didn't have the chance to test it on production yet. I will let you know when it's done

[2017-11-10 08:51] fleficher commented on #73
@ZiadAyman We're still using the 3.9.4.2 version on production. We're gonna update it today and i will tell you if it's ok

[2017-11-10 10:38] ZiadAyman commented on #68
We are currently working on a fix for this and I'll make sure to notify you all whenever its done :)

[2017-11-10 11:10] ZiadAyman commented on #73
@fleficher yes please make sure to test with 3.9.4.4 and get back to me with the updates :)

[2017-11-10 11:11] ZiadAyman commented on #72
@fleficher waiting for your updates regarding 3.9.4.4 SNAPSHOT :)

[2017-11-13 14:13] fleficher commented on #65
Hi, the crash is still present in 3.9.4.4-SNAPSHOT

[2017-11-13 18:43] ZiadAyman commented on #65
Hey @fleficher I'll pass this again to our Android team and I'll get back to you with the updates :)

[2017-11-14 15:19] ZiadAyman commented on #65
Hey @fleficher Can you tell me which Android OS are you currently using and this problem is occuring on?

[2017-11-14 19:09] fleficher commented on #65
Hu @ZiadAyman this crash is occuring on devices from 4.1.2 to 8.0.0
Here the full stacktrace using the last version :
[code]

Is there a way that the `InstabugFeedbackActivity` get launched before the sdk is initialized ?
We don't initialize the SDK at app startup but more lately in the app because we dont want it to be enabled for all users.

[2017-11-16 11:55] hanspeide commented on #68
@ZiadAyman So, any updates? It's quite disappointing that a bug that _crashes_ apps is not fixed faster. And this should be an easy fix too, I would guess?

[2017-11-16 14:23] ZiadAyman commented on #65
@fleficher Can you tell me please where do you exactly initialize your SDK in your code? I get it's lately in the app for specific users. Can I have more details, please?

[2017-11-17 15:31] fleficher commented on #65
We initialize the SDK after the user log in, we call the following methods then :

[code]
Nothing really special.

[2017-11-17 15:36] fleficher commented on #65
I've succeed to reproduce this crashby using an adb command : `am start -a android.intent.action.VIEW -d instabug://instabug.com` to force the display of the activity.

If this get called before the SDK is initialized, it crashs (for example when the app is killed)

[2017-11-17 21:24] ZiadAyman commented on #65
So @fleficher Instabug should be initialized in Application class in order to avoid any misbehavior with the SDK. For your use case we recommend that you initialize the SDK on the application class and then follow it by calling `Instabug.disable()` and then you can call `Insatbug.enable()` whenever a user logs in.

[2017-11-18 12:33] ZiadAyman commented on #68
Hey @hanspeide
Instabug SDK is built on one Translucent activity. We lock the orientation during of any app during Instabug invocation, the API where using doesn’t support locking the orientation on translucent activities anymore on `compileSdkVersion 27`. This will require to make a bigger change on the architecture of the SDK  and we’re doing our best to make sure that this fix shipped as soon a

[2017-11-22 10:47] fleficher commented on #65
@ZiadAyman Ok thank you, we will try this way

[2017-11-22 16:38] bikranttripathi commented on #62
Hi @reemalashry1 , I'm also seeing OOM in the latest version (**4.3.3**)

Device Information:
Model: **SM-G955U**
Android Version: **7.0**

[code]

[2017-11-22 18:39] ZiadAyman commented on #62
hey @bikranttripathi

Can you tell me please if you are experiencing this consistently or it's a one time occurrence?

[2017-11-25 12:49] ZiadAyman commented on #65
Hey @fleficher how is it going? All working good at your end?

[2017-12-03 09:21] ZiadAyman commented on #73
@fleficher Hey there! Following up to know if everything is in place. Any updates?

[2017-12-05 16:10] schusss commented on #68
3 weeks later, still the case

[2017-12-06 09:34] ZiadAyman commented on #68
@schusss We know this is taking time from our side. We are doing our best and the issue will be solved once we release our mobile dev early next week.

I will make sure to notify you once everything is in place :)

[2017-12-07 09:22] helmiderbali commented on #71
@ZiadAyman I have to report the issue again, as for now version 3.9.4.7-SNAPSHOT, notification channel are not working again. The fix was . not included in newer versions.

`12-07 10:07:51.494 1644-3294/system_process E/NotificationService: No Channel found for pkg=com.venteprivee.debug, channelId=null, id=0, tag=null, opPkg=com.*******, callingUid=10085, userId=0, incomingUserId=0, notificationUi

[2017-12-09 10:33] ZiadAyman commented on #71
@helmiderbali We tested the notifications again and made another build for you. Please try 3.9.4.8-SNAPSHOT and tell me if you still face the same problem.

[2017-12-11 12:22] ZiadAyman commented on #68
Hey all!

We released our mobile dev. Please update to our latest android version 4.5.0 where the orientation issue is fixed.

[2017-12-11 12:43] 8masterofpuppets8 commented on #68
I can confirm that v4.5.0 works for me with this config:

[code]

[2017-12-12 08:25] #68 closed

[2017-12-12 09:11] ZiadAyman commented on #62
hey @bikranttripathi

I am following up with you. Are you still experiencing the same issue?

[2017-12-18 16:16] vasilenastas opened #75 "Disabling screenshot for "Suggest an Improvement""
Hello,

Wanted to ask if we can for "Suggest an Improvement" option disable the screenshot while we call simply `Instabug.invoke()` ? (Just for this option). I checked the configuration and seems it adds it automatically all the time (`instabug:4.3.3`). Also tried to use `setWillSkipScreenshotAnnotation(true)`, but unfortunately it didn't worked.

`            new Instabug.Builder(this, BuildConfi

[2017-12-20 18:18] par128 commented on #68
We are using firebase-ads.
Our configuration
compileSdkVersion 27
buildToolsVersion "27.0.2"
api 'com.google.firebase:firebase-ads:11.+'

Should we wait for firebase-ads update?
Is there any solution besides downgrading to SDK 26 by now?

[2017-12-21 15:28] ZiadAyman commented on #68
hey @par128 Can you tell me please what Android SDK version are you using?

[2017-12-21 15:43] par128 commented on #68
Thank you for responding, Ziad.
Android SDK 27

[2017-12-21 15:46] par128 commented on #68
We see that the crash has only happened on one device so far.
Nokia 6 with Android 8.0 on board.

[2017-12-21 15:53] ZiadAyman commented on #68
I am sorry if you misunderstood my question, I mean instabug's SDK version @par128 Is it 4.5.0 the latest one or you are using an older SDK version?

[2017-12-21 16:01] par128 commented on #68
I'm so sorry.
For some reason I decided that this is AdMob support thread.
We see a similar crash in AdMob Interstitials.
Again, sorry to disturb you.
We do not use Instabug.

[2017-12-21 16:11] ZiadAyman commented on #68
@par128 Oh okay, no worries :))

[2017-12-22 16:35] bikranttripathi commented on #62
@ZiadAyman Sorry for the delayed reply.

It looks like it was a one-time thing. I haven't seen this crash in a while

[2017-12-22 16:39] bikranttripathi commented on #62
@ZiadAyman I have a question that's not related to this thread.

Is there a way to check latest changelogs for instabug?

[2017-12-24 11:08] ZiadAyman commented on #62
Hey @bikranttripathi yes you can check the latest changelogs from your dashboard as shown in the screenshot :)
<img width="1280" alt="screen shot 2017-12-24 at 1 06 29 pm" src="https://user-images.githubusercontent.com/15649292/34326004-73b48b92-e8ab-11e7-9873-32ff570d6278.png">

[2018-01-03 14:25] bikranttripathi commented on #62
Thanks again :)

[2018-01-03 15:15] ZiadAyman commented on #62
Always a pleasure.

[2018-01-03 15:15] #62 closed

[2018-01-19 18:12] ZiadAyman commented on #65
hey @fleficher Please get back if you face any other problems. I will close the issue for now.

[2018-01-19 18:12] #65 closed

[2018-01-21 16:25] 8masterofpuppets8 opened #76 "SDK dialog appears after screen orientation change."
Sometimes the SDK appears when the device is rotated to portrait/landscape instead of when shaked. It becomes quite annoying having to dismiss it all the time on tablet for example.

Here's how I setup the SDK:

[code]

Does the SHAKE event include orientation changes too?

[2018-01-21 17:04] ZiadAyman commented on #76
Hey @8masterofpuppets8
The shake event doesn't include orientation changes no.
Can you try increasing the invocation threshold so invoking the SDK gets a bit harder, please?

Tell me please once you try this if it solved the issue or not :)

[2018-01-22 07:35] fleficher commented on #73
Hi @ZiadAyman sorry for the delay, the version 3.9.4.4 has fixed the bug.
Thank you

[2018-01-22 07:35] #73 closed

[2018-01-22 07:35] #72 closed

[2018-01-22 11:52] 8masterofpuppets8 commented on #76
OK I set it to

`Instabug.setShakingThreshold(600);`

Looks like the orientation change does not trigger the SDK dialog anymore. I can still trigger it by shaking the device so I guess that worked. Thanks!

[2018-01-22 12:04] ZiadAyman commented on #76
Perfect.
Thanks for choosing Instabug :)

[2018-01-22 12:04] #76 closed

[2018-01-23 18:07] madamvixen commented on #68
On v4.9.0, I am currently getting the same error and app crash while running my app on API 26 AVD.  targetSdkVersion is 27 for the application I am working on.

NOTE: Reverting to 4.5.0 or changing the targetSdkVersion to 26 seems to be resolving the issue.

I would assume the latest 4.9.0 would have the changes made in 4.5.0. but I think not (?)

[2018-02-01 08:41] #71 closed

[2018-02-08 02:22] gejiaheng opened #77 "Crash caused by VisualUserSteps"
We update our Android Instabug  SDK to 4.9.0 in the latest release. Had thousands of crashes today caused by the visual user steps feature. Actually we didn't enable this feature.

Trace:
[code]
![image](https://user-images.githubusercontent.com/3777021/35952215-f24a00f4-0cb9-11e8-8712-4089d5352259.png)

[2018-02-08 08:43] ZiadAyman commented on #77
This is fixed in 4.9.1, please upgrade your SDK version and keep us posted if you still face the same problem.

[2018-02-08 08:43] #77 closed

[2018-02-08 17:50] SophiaGlazova opened #78 "NullPointerException when sending feedback"
A crash occurred when trying to send feedback on Google Pixel 8.1.0, Instabug SDK 4.9.1

[code]

[2018-02-21 14:48] cerisier opened #79 "instabug internal dependencies should not be transitive"
Right now, all dependencies from the instabug libary have a `compile` scope where they should have an `implementation` scope.

This is a problem as for instance, we use RxJava2.x but since Instabug declares a `compile` scope dependency to RxJava1.x (and everything else), Android Studio auto imports classes from RxJava1.x.

Are you able to help 👼 ?

![bitmoji](https://render.bitstrips.com/v2/cpanel

[2018-02-23 17:31] ZiadAyman commented on #79
@cerisier Kindly use 4.10.2.4-SNAPSHOT and let me know how is it going :)

[2018-02-23 17:31] #79 closed

[2018-03-19 06:52] dung90it opened #80 "Exception java.lang.NullPointerException: Attempt to invoke virtual method 'boolean"
Exception java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.instabug.bug.model.Bug.j()' on a null object reference
com.instabug.bug.view.e.h (e.java:303)
com.instabug.bug.view.c.onDoneButtonClicked (c.java:380)
com.instabug.library.core.ui.ToolbarFragment$1.onClick (ToolbarFragment.java:44)
android.view.View.performClick (View.java:6265)
android.view.View$PerformClick.r

[2018-03-19 08:50] Korazy commented on #80
@dung90it Hey there, thanks for reporting this. We'll try to get it fixed as soon as possible.

[2018-03-19 13:38] Korazy commented on #80
@dung90it can you please let me know which SDK version you're using?

[2018-03-20 18:54] nirajan-thapa opened #81 "Android Webview Screenshot black"
**Issue**
Capturing screenshot of a webview displaying ThreeJS animation results in an empty screen.

**Steps to Reproduce**
* Download the test project. https://github.com/nirajan-thapa/InstaBug-Screenshot
* Replace the API Key in `MyApp.java`
* Shake the device to capture a screenshot

![Actual Screenshot](https://user-images.githubusercontent.com/29066315/37676425-49378d7e-2c4e-11e8-9d8b-b67712

[2018-03-21 09:18] Korazy commented on #81
Hey @nirajan-thapa, thanks for reporting this. We will be checking it from our side and getting back to you!

[2018-03-21 14:55] nirajan-thapa commented on #81
Hi @Korazy, thank you for such a prompt response.

There are a few other variations involved with this issue, such as sometimes screenshot image coming up entirely black when there's more stuff involved with regards to ThreeJS animation.

While you are looking into this usecase, I will try to set up another html page that will reflect the other scenarios.
If you need any additional information reg

[2018-03-22 08:15] Korazy commented on #81
After checking your application, it seems that you’re adding a hardware layer which won’t be capturable by Instabug. We can only capture the software layer.

[2018-03-22 14:17] fordhurley commented on #81
Thanks, @Korazy. To clarify, do you mean that Instabug won't be able to capture WebGL at all? If so, we may have a workaround but it doesn't seem fully reliable. We'll prepare another demo application that shows the workaround and the problems we ran into with it. Hopefully you can provide some guidance.

[2018-03-26 12:25] Viked opened #83 "MotionEvent NullPointerException"
Hello, I have received an issue from fabric

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'float android.view.MotionEvent.getRawX()' on a null object reference
       at com.instabug.library.d.a.a(MotionEventRecognizer.java:65)
       at com.instabug.library.d.a.a(MotionEventRecognizer.java:37)
       at com.instabug.library.d.a$b.onFling(MotionEventRecognizer

[2018-03-27 14:54] ZiadAyman commented on #83
Hey @Viked
We are currently checking this for you and we'll get back asap!

Thanks for reporting it.

[2018-03-27 21:05] nirajan-thapa commented on #81
Hi @Korazy
As a follow up to our earlier discussions, we made a slight modification to the html file, and as a result, now you are not able to see any views being captured in the screenshot. The entire screen appears black.
I am attaching a screenshot of this result.
![capture _2018-03-27-16-56-18](https://user-images.githubusercontent.com/29066315/37994647-2f8d3ed6-31e0-11e8-826b-ef24135b4a32.png

[2018-03-28 22:42] robholmes commented on #59
I simply cannot use Instabug because of this, I use Proguard (even in debug) to reduce everything to enable my app to stay under the 64k limit. With Android support libraries, RxJava 2, Play Services, Firebase, Dagger 2, Retrofit, etc. this currently stands at around 48k. Adding Instabug instantly drives my app over the limit.

I just can't warrant switching to using multidex just to include Insta

[2018-03-30 10:20] eygraber opened #84 "InAppMessaging Ignoring Vibrate Settings"
If I send a user a message, their device rings even if it is set to only vibrate.

[2018-04-02 09:15] ZiadAyman commented on #83
Hey @Viked
Please use 4.12.1.6-SNAPSHOT and let me know if the error still occurs. Thanks for your patience!

[2018-04-02 09:15] #83 closed

[2018-04-02 19:42] MarkySmarky opened #85 "Proguard issues (rx.subjects.PublishSubject)"
Using 4.3.2 version and getting this in production:

Fatal Exception: java.lang.NoClassDefFoundError: rx.subjects.PublishSubject
       at com.instabug.library.core.eventbus.a.(HackersProtected:16)
       at com.instabug.library.core.eventbus.coreeventbus.a.(HackersProtected:8)
       at com.instabug.library.core.eventbus.coreeventbus.a.a(HackersProtected:14)
       at com.instabug.library.core.ev

[2018-04-02 22:42] ZiadAyman commented on #85
Hey @MarkySmarky. Checking this for you right away!

[2018-04-03 11:00] ZiadAyman commented on #85
Hey @MarkySmarky. I double checked this for you. Seems like this piece of code no longer exists. Please upgrade to the latest android SDK version and let me know if you still face the same problem.

[2018-04-03 11:00] #85 closed

[2018-04-03 12:59] MohNage7 opened #86 "java.lang.NoClassDefFoundError: com.instabug.library.analytics.AnalyticsObserver"
Hello,
I'm facing the following bug after upgrading from Firebase Crash reporting to Firebase Crashlytics. And  i hope you can help me with it.

Instabug version : 4.12.1
Crashlytics version: 2.9.1

Logcat:
[code]

[2018-04-03 15:21] ZiadAyman commented on #86
hey @MohNage7 Can you tell on what android os version you are facing the crash?

[2018-04-03 15:38] MohNage7 commented on #86
5.1.1

[2018-04-03 15:41] MohNage7 commented on #86
i tried on 8.1.0 and 6.0.1 it works well.

[2018-04-04 11:17] aymanson opened #87 "Instabug support for Android Support Library 26"
I am trying to integrate instabug 4.12.1 into my project. I am using Android studio 3 with Support Library 26. Since attr/font is already used by the Support Library. So compilation with instabug library complain
duplicate value for resource 'attr/font' with config ''
Message{kind=ERROR, text=error: duplicate value for resource 'attr/font' with config ''., sources=[/Users/andy/.gradle/caches/trans

[2018-04-04 11:22] #87 closed, assigned to nobody

[2018-04-10 08:30] eygraber opened #88 "RxJava 1 has reached EOL"
Please update to RxJava 2 and stop polluting my project with your outdated transitive dependencies, or I will tell my PMs that we will need a new solution, because we will drop yours.

[2018-04-12 09:30] ZiadAyman commented on #88
Hey @eygraber
Apologies for the late reply on this!

We are going to migrate to rxjava 2 very soon. We are having this as a priority here. I will let you know here once everything is in place 👍

[2018-04-12 17:54] smaradona opened #89 "In-app chat push notification issues"
Hey there! Not sure if this is the right place to ask, but I'm having issues configuring push notifications for the in-app chat on Android (I successfully configured this on iOS).

This is what I've tried, following this docs: https://docs.instabug.com/docs/android-in-app-chat

- Saved GCM API_KEY on Instabug's dashboard
- Added this line to my code: `Instabug.setPushNotificationRegistrationToken(

[2018-04-15 09:33] Korazy commented on #89
Hey @smaradona,

Sorry for the late response, let me check this and get back to you ASAP.

[2018-04-15 09:36] Korazy commented on #89
@smaradona can you please upgrade to the latest version and give it another go?

[2018-04-16 10:06] MohNage7 commented on #86
thanks for ignoring our issue!
We've rolled back instabug integration.

[2018-04-16 12:42] ZiadAyman commented on #86
Hey @MohNage7

Please accept my sincere apologies for the late reply here. We faced some challenges and it took us sometime to get back. This was not supposed to happen so please accept my apologies on behalf of the team.

I am checking this for you and will get back asap. Can you share with me an email to contact you on so in case we need to jump in a call or something? Or if you can talk to us d

[2018-04-16 13:41] ZiadAyman commented on #86
Hey @MohNage7
Can you make sure that multidex is enabled?  If yes, can you have your app class extends `MultiDexApplication` ?

Let me know if this fixed the problem :)

[2018-04-18 15:10] joharei opened #91 "Instabug fails to initialize, throwing ClassNotFoundException"
Instabug stopped working for us in version 4.5.0. 4.3.3 is working, but versions 4.5.0-4.13.1 are not. This stacktrace is repeated for lots of Instabug classes:

[code]

Instabug is set up like this:
[code]

Please tell me if I can provide more information.

[2018-04-18 17:02] Korazy commented on #84
@eygraber Sorry for the late reply. Does this issue occur across multiple different device models and OS versions or only specific ones? Would you also be able to tell me the SDK version you're using?

[2018-04-18 17:03] Korazy commented on #91
Hey @joharei,

Thanks for all the details, we'll definitely look into this and get back to you as soon as possible!

[2018-04-18 17:09] Korazy commented on #91
@joharei Can you please enable MultiDex, that should solve the issue. If it's already enabled and not working, is your main Application class extending MultiDexApplication?

[2018-04-18 19:46] joharei commented on #91
Hi @Korazy,
Thanks for the quick reply. I have enabled MultiDex, and have tried both extending MultiDexApplication and overriding attachBaseContext() and using MultiDex.install(), even though my minSdkVersion is 21. None of that helps unfortunately.

[2018-04-18 19:47] Korazy commented on #91
@joharei I see, let us look into this again and get back to you.

[2018-04-19 02:37] eygraber commented on #84
It occurs on Pixel (8.1.0), Nexus 6 (7), and Nexus 5 (6.0.1). I haven't tried any others. The SDK version is 4.12.1

[2018-04-20 12:42] joharei commented on #91
These are our permissions:
[code]

[2018-04-21 00:34] Korazy commented on #84
@eygraber can you please try using com.instabug.library:instabug:4.13.1.5-SNAPSHOT and let me know if it fixes the issue for you?

[2018-04-23 16:35] Korazy commented on #91
@joharei apologies for the delay. Can you please update your support libraries to be exactly like the version added in instabug which is 27.0.2, then clean the project and rebuild again?

[2018-04-24 17:50] knobtviker commented on #88
I just examined some SNAPSHOTs and even the latest 5.0.0 is using RxJava1.

I dug up some issue here saying that 4.0.0-SNAPSHOT is using RxJava2.
Is there anything newer than that?

Also, I don't mind testing RxJava2 release. For now, I'm stuck on 4.0.0-SNAPSHOT.
Please keep me in the loop about this change.

[2018-04-26 09:37] Korazy commented on #91
@joharei Have you tried cleaning the project or perhaps using ./gradlew  --refresh-dependencies?
​

[2018-04-26 09:49] joharei commented on #91
Yes, I've tried both, and "Invalidate Caches / Restart".

[2018-04-26 09:53] joharei commented on #91
So what was changed from version 4.3.3 to 4.5.0 that could be related to this?

[2018-04-26 09:55] Korazy commented on #91
@joharei Currently, we're investigating to find out the reason for this issue. Apologies for the hassle!

[2018-04-26 12:12] armen301 opened #92 "com.instabug.library.util.LocaleUtils.getLocaleStringResource NullPointerException"
`java.lang.NullPointerException
	at android.content.Context.getText(Context.java:348)
	at com.instabug.library.util.LocaleUtils.getLocaleStringResource(LocaleUtils.java:58)
	at com.instabug.bug.a.h(BugPluginWrapper.java:219)
	at com.instabug.bug.a.d(BugPluginWrapper.java:74)
	at com.instabug.bug.a.c(BugPluginWrapper.java:64)
	at com.instabug.bug.BugPlugin.getPromptOptions(BugPlugin.java:35)
	at co

[2018-04-27 19:46] Korazy commented on #91
can you please send us your app level build.gradle file and your project level build.gradle file as well?

[2018-04-30 06:41] oleandre commented on #91
Hello @Korazy. I've taken over Johan's place in the project. I've added the build files as a zip-file. Let me know if you need any additional information.

[gradlebuildfiles.zip](https://github.com/Instabug/android-sample/files/1959714/gradlebuildfiles.zip)

[2018-05-02 12:02] Korazy commented on #91
@oleandre Thank you! We'll take a look at them and get back to you.

[2018-05-03 08:24] Viked opened #93 "IllegalStateException: Not allowed to start service Intent"
Hello, I have received this from fabric:

Fatal Exception: rx.exceptions.OnErrorNotImplementedException: Not allowed to start service Intent { cmp=com.dartfleet.mobile/com.instabug.chat.network.InstabugMessageUploaderService }: app is in background uid UidRecord{3e0489b u0a447 CAC  bg:+1m7s92ms idle procs:1 seq(0,0,0)}
       at rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.ca

[2018-05-04 08:52] Viked opened #94 "BugReportingActivity.java line 171"
We have a crash

Steps to reproduce:
Shake device to get ReportBug form
Tap 'x' or device '<' button when form is opened
Observe result

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.dartfleet.mobile/com.instabug.bug.view.BugReportingActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'com.instabug.bug.model.Bug com.instabug.bug.mod

[2018-05-04 22:30] Korazy commented on #91
@oleandre can you please try adding
implementation 'com.android.support:multidex:1.0.3'
to your dependencies and try a clean build?

[2018-05-07 08:04] oleandre commented on #91
Doesn't seem to work. I can supply with my code for setting up Instabug:

`    public static void setUpInstabug(Application application) {
        new Instabug.Builder(application, "a19cde8785b650d6ae788aeb9fad45e5")
                .setInvocationEvent(InstabugInvocationEvent.FLOATING_BUTTON)
                .setCrashReportingState(Feature.State.DISABLED)
                .setSurveysState(Feature.S

[2018-05-07 12:26] Korazy commented on #93
Hey @Viked

Thanks for pointing this out! We'll look into it and let you know what we find.

[2018-05-07 12:43] Korazy commented on #93
@Viked can you please upgrade to 4.13.3 and let us know if it resolved the issue for you?

[2018-05-07 12:52] Korazy commented on #94
Hey @Viked

Thanks for pointing this out, we're looking into a resolution for this.

[2018-05-07 13:43] #80 closed

[2018-05-07 13:45] #84 closed

[2018-05-07 13:58] #89 closed

[2018-05-08 09:03] Korazy commented on #94
@Viked Can you please send the code you use to integrate instabug? Also, does this issue consistently occur across multiple devices or only this one?

[2018-05-13 03:05] JoshR604 opened #95 "StrictMode Reports Resource Leak"
I was experiencing some UI lag in my app when switching activities.

I enabled strict mode to find out what was going on and the stack trace showed the that a resource is never being released and is occurring from a call in the NetworkManager.class.

Once I remove the Instabug builder/initialization this error does not appear in Strict mode as well as there is no longer any UI lag.

E/StrictMode:

[2018-05-13 18:29] Korazy commented on #95
Hey @JoshR604

Thanks for pointing that out. Can you please tell me the SDK version you're currently on?

[2018-05-14 19:15] oleandre commented on #91
Any news on this @Korazy ?

[2018-05-14 19:26] Korazy commented on #91
@oleandre we tried all we could to reproduce the issue but we were unable to, would you be able to send us a sample project with the issue?

[2018-05-15 13:01] Viked commented on #94
@Korazy I am using this initialization:
 new Instabug.Builder(context, BuildConfig.instabug)
.setInvocationEvent(InstabugInvocationEvent.SHAKE)
.setSurveysState(Feature.State.ENABLED)
.setPushNotificationState(Feature.State.DISABLED)
.setCrashReportingState(Feature.State.DISABLED)
.setConsoleLogState(Feature.State.DISABLED)
                .build()

Instabug.setPromptOptionsEnabled(false, true, fa

[2018-05-22 23:05] JoshR604 commented on #95
Hello @Korazy

I am on version 4.13.1

[2018-05-23 11:35] #61 closed

[2018-05-28 11:19] Korazy commented on #94
Hey @Viked

So sorry for the delay. Can you please try upgrading to the latest version now and let me know if it works?

[2018-05-28 11:19] #93 closed

[2018-05-28 12:15] Korazy commented on #91
Hey @oleandre

Would you be able to send us a sample project?

[2018-05-28 13:55] Korazy commented on #95
@JoshR604 this issue should be solved within the next few weeks when the migration to Rxjava 2 is complete. Regarding the UI lag however, you should be able to reduce it by disabling the visual user steps which you do by adding .setReproStepsState(State.DISABLED) to the Instabug builder method.

[2018-05-29 07:03] oleandre commented on #91
Hey @Korazy
I have to wait until next time we decide to release a new beta before creating an example, too much other stuff to do right now. THank you for the heads up and I will contact you, probably closer to end of June.

[2018-05-29 09:59] #86 closed

[2018-06-07 13:14] ArusyakH opened #97 "Crash after sending app to background while taking a screen recording"
Caused by: java.lang.NullPointerException
        at java.io.File.<init>(File.java:262)
        at com.instabug.library.internal.video.c.c(VideoFrameSnapper.java:105)
        at com.instabug.library.internal.video.InternalScreenRecordHelper.cancel(InternalScreenRecordHelper.java:85)
        at com.instabug.library.internal.video.InternalScreenRecordHelper$1.a(InternalScreenRecordHelper.java:119)

[2018-06-08 14:39] Korazy commented on #97
Hey @ArusyakH

Thanks for reporting this. Would you be able to tell me which SDK version you're currently on?

[2018-06-12 01:46] eygraber opened #98 "Crash in onResume"
Just launched our app this week, and I'm proud to announce that Instabug is responsible for 90 out of our 120 crashes 😠

[code]

[2018-06-12 22:43] eygraber commented on #98
4.14.0

[2018-06-13 13:13] suchet-q commented on #98
Same problem on 4.15.0

[2018-06-13 14:05] Korazy commented on #98
Hey @eygraber @suchet-q ,

Can you please use version 4.15.2.1-SNAPSHOT? It has the fix for this crash.

To be able to fetch snapshots, please add the follow:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

Please feel free to reopen this issue if the crash persists.

[2018-06-13 14:05] #98 closed

[2018-06-13 21:12] eygraber commented on #98
@Korazy  When will this be out of snapshot? I'd rather not put more non-production code into my app.

[2018-06-15 09:33] armen301 opened #99 "FileNotFoundException"
`hideClipTrayIfNeeded() TextView is focused!! hideClipTray()`
	`at java.lang.Thread.run(Thread.java:761)`
 	`at com.instabug.bug.d$1.run(LiveBugManager.java:132)`
 	`at com.instabug.bug.d.b(LiveBugManager.java:38)`
 	`at com.instabug.bug.d.d(LiveBugManager.java:192)`
	`at com.instabug.library.util.BitmapUtils.compressBitmapAndSave(BitmapUtils.java:94)`
 	`at java.io.FileInputStream.(FileInputStrea

[2018-06-19 09:56] smedic opened #100 "Attempt to invoke virtual method 'java.util.Set java.util.HashMap.entrySet()' on a null object reference"
Sometimes, I get this crash and stacktrace refers to potential library issue.
This may be related to my usage of the library, but I am not quite sure.

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'java.util.Set java.util.HashMap.entrySet()' on a null object reference

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.S

[2018-06-20 15:56] Korazy commented on #99
Hey @armen301

Thanks for reaching out. Can you please tell me which SDK version you're currently on?

[2018-06-20 16:06] Rajarml opened #101 "InstabugSDKLogger has logged a crash event in Firebase's Crashlytics"
There is a Crashlytics crash event with the `4.15.3` version of the Instabug library but the app hasn't crashed (Oreo device).

Here is the stacktrace:
[code]

[2018-06-25 05:28] chnouman commented on #99
We are getting same issue on tagetSdk 27

[2018-06-25 08:50] Korazy commented on #99
@chnouman can you please try `implementation 'com.instabug.library:instabug:4.15.3'` to be sure it downloads the latest version? As this crash should already be resolved in the latest version.

[2018-06-25 08:58] chnouman commented on #99
@Korazy  ok let me use this.

[2018-06-25 10:30] Korazy commented on #100
@smedic apologies for the delay, would you be able to have it set to 4.15.3 specifically and let me know if it works? :)

[2018-06-25 10:59] Korazy commented on #101
Hey @Rajarml

Thank you for reaching out to us with this, we're currently working on a fix and will let you know as soon as we have it ready :)

[2018-06-26 10:23] Korazy commented on #101
@Rajarml would you be able to use this snapshot? It should fix this crash. `4.15.3.7-SNAPSHOT`

[2018-06-26 11:36] Rajarml commented on #101
@Korazy  I will check it as soon as possible. In the meanwhile why not open-sourced the Android version of the SDK like iOS ?

[2018-06-27 08:08] Korazy commented on #101
@Rajarml the iOS is also not open source, the public repos are for the binaries and sample apps so that users can create issues as well as see a sample of how the SDK works.

[2018-06-28 12:58] armen301 opened #103 "java.lang.ClassNotFoundException: com.instabug.library.network.InstabugNetworkBasedBackgroundService"
**Version is 4.15.3**

Here is log

[code]

[2018-06-28 15:03] Korazy commented on #103
@armen301 can you please let me know if you're enabling multidex?

[2018-06-28 16:30] armen301 commented on #103
@Korazy The result is the same for enabling or not.

[2018-06-29 08:57] smedic commented on #100
@Korazy
I changed version to 4.15.3, as you suggested.
This bug is not easy to reproduce, so I will keep eyes on it and let you know about outcome.
Thanks!

[2018-06-29 17:11] smedic commented on #100
@Korazy If we put 4+, it will use the latest library (4.15.3). I think that won't help in this case.

[2018-07-02 21:45] Korazy commented on #88
Hey @knobtviker @eygraber

I just wanted to let you know that the latest release is currently on RxJava 2. Feel free to reach out if you have any questions :)

[2018-07-02 21:45] #88 closed

[2018-07-03 10:55] smedic commented on #100
@Korazy Any news about this ? We are stuck with this error and getting more and more crash reports.

[2018-07-03 16:28] Korazy commented on #103
@armen301 we're currently investigating fixes for this, apologies for the delay!

[2018-07-03 16:33] Korazy commented on #99
@chnouman please feel free to reopen this issue if you run into it again :)

[2018-07-03 16:33] #99 closed

[2018-07-03 16:36] Korazy commented on #100
@smedic apologies for the delay. Just to confirm, you have multidex enabled correct?

[2018-07-03 21:02] smedic commented on #100
@Korazy Yes, I have multidex enabled in my app.

[2018-07-04 09:21] Korazy commented on #100
@smedic this issue should be fixed as of version 8.0 (which was just released). Please try it out and feel free to reopen the issue in case you still receive the crash :)

[2018-07-04 09:21] #100 closed

[2018-07-04 13:35] Korazy commented on #103
@armen301 can you please try out version 8.0.0?

[2018-07-04 13:37] Korazy commented on #95
RxJava 2 is now released, please feel free to open this issue again if it's not fixed for you :)

[2018-07-04 13:37] #95 closed

[2018-07-04 13:38] Korazy commented on #94
@Viked please feel free to reopen this issue if you run into it again :)

[2018-07-04 13:38] #94 closed

[2018-07-04 13:38] Korazy commented on #92
Hey @armen301

Thanks for reaching out, this should be fixed in the latest release :)

[2018-07-04 13:38] #92 closed

[2018-07-04 13:40] Korazy commented on #91
Hey @oleandre

I hope you're well. I just wanted to check if this issue is still ongoing with the latest release of 8.0.0?

[2018-07-04 13:42] Korazy commented on #78
Hey @SophiaGlazova

Thanks for reaching out, this should be fixed with the latest release. Please feel free to reopen this issue if you run into it again.

[2018-07-04 13:42] #78 closed

[2018-07-04 13:44] Korazy commented on #75
Hey @vasilenastas

You can disable it using the API found [here](https://docs.instabug.com/v1.0/docs/android-attachments#section-instabug-attachments).

[2018-07-04 13:44] #75 closed

[2018-07-04 13:46] Korazy commented on #69
Hey @ZOlbrys

I just wanted to say that this was fixed in later releases so please feel free to reach out in case it wasnt fixed for you yet 😅

[2018-07-04 13:46] #69 closed

[2018-07-04 13:46] #64 closed

[2018-07-04 13:48] Korazy commented on #59
Hey @robholmes

We currently use rxjava 2. I hope that helps :)

[2018-07-04 13:48] #59 closed

[2018-07-04 13:48] #35 closed

[2018-07-04 13:49] oleandre commented on #91
Hi @Korazy!

We're in a major rewrite of our application, and we'll be releasing a beta in a month or two. I haven't looked anymore at it because of other priorities, but I will ping you when I have analyzed the problem again. Thank you so much for the follow-up, and have a great day! :-)

[2018-07-04 13:51] Korazy commented on #91
@oleandre It's no worries at all. I hope everything works out great for you with the rewrite!

Have a lovely day :)

[2018-07-04 14:40] armen301 commented on #103
@Korazy what do you mean by `8.0.0`

[2018-07-04 15:33] Korazy commented on #103
@armen301 by 8.0.0 I mean can you update to SDK version 8.0.0? :)

[2018-07-06 06:06] eygraber opened #104 "Instabug 8.0.0 Prevents Building - unescaped apostrophe in string"
I updated instabug to 8.0.0 and when I try to build my app, AAPT 2 fails with the following error:

  Output:  /home/eli/workspace/myapp/app/build/intermediates/incremental/mergeDevDebugResources/merged.dir/values-fr/values-fr.xml:137: error: unescaped apostrophe in string
  "Impossible de capturer la capture d'écran en raison d'une mémoire insuffisante".

[2018-07-06 10:03] Korazy commented on #104
Hey @eygraber

Thanks for reaching out. This should be resolved in 8.0.1. Please feel free to reopen the issue if you run into it again :)

[2018-07-06 10:03] #104 closed

[2018-07-06 11:48] armen301 commented on #103
@Korazy I updated the SDK to `8.0.0` and received the following error and couldn't build the app:
[code]

[2018-07-07 16:21] Korazy commented on #103
@armen301 unfortunately that was a small bug on our side that was immediately resolved in 8.0.1 a few hours later. Apologies for that!

[2018-07-10 03:14] eygraber opened #105 "Instabug 8.0.1 Screws with Text Alignment"
I'm not sure what styles you guys messed with, but any `TextView` in my app that uses `textAlignment` is screwed up when using Instabug 8.0.1

If I revert to 4.15.3 then it works fine.

[2018-07-11 13:34] armen301 commented on #103
@Korazy
I updated the SDK to `8.0.2` but received `ClassNotFoundException`

[2018-07-12 13:51] rdiaa commented on #105
@eygraber Can you please update the SDK V8.0.2 and tell me if this still exists.

[2018-07-13 00:56] eygraber commented on #105
I updated to 8.0.2 and the issue still exists.

[2018-07-13 22:11] ahndrew commented on #105
I'm seeing the same issue

[2018-07-14 03:28] FerrariBruno opened #107 "Where can I find an updated Changelog?"
I can't seem to find an updated Changelog. Where can I find it?

[2018-07-16 10:03] armen301 opened #108 "For some reason, the Instabug did not catch NullPointException."
SDK version is `4.8.1`

Here is the report from Google Consol
[code]

[2018-07-16 13:16] rdiaa commented on #107
@FerrariBruno, please check the screen below.
![changelog](https://user-images.githubusercontent.com/41108492/42760562-26607512-890b-11e8-942c-93ab440eb635.png)

[2018-07-16 13:16] #107 closed

[2018-07-16 13:18] rdiaa commented on #105
@eygraber

Can you add the below snapshot?

1-Add the following to your  build.gradle file:
allprojects  {
repositories {
maven {url “https://oss.sonatype.org/content/repositories/snapshots”
} }
}

2-Add the dependency to your app module:
dependencies {
compile ‘com.instabug.library:instabug: 8.0.2.5-SNAPSHOT’
}

[2018-07-16 13:30] rdiaa commented on #103
@armen301 can you please send me the stack trace so that our engineering team van investigate in this issue?

[2018-07-16 13:51] FerrariBruno commented on #107
Thanks!!

[2018-07-16 14:40] FerrariBruno opened #109 "Method Instabug.setIntroMessageEnabled deprecated"
Hi!

I'm migrating from v4.15 to v8.0.2 and I noticed the method `Instabug.setIntroMessageEnabled` has been deprecated. I can't find its substitute in the migration guide (or any mention to it being deprecated).

I did notice that this method calls `Instabug.setWelcomeMessageState`. If I call `Instabug.setWelcomeMessageState(WelcomeMessage.State.DISABLED)` do I get the same as when I called `Insta

[2018-07-16 19:35] eygraber commented on #105
This appears to fix the issue.

[2018-07-17 08:04] rdiaa commented on #107
My pleasure to help you :)

[2018-07-17 08:05] rdiaa commented on #105
Glad to hear that 👍

[2018-07-17 08:05] #105 closed

[2018-07-17 22:13] eygraber commented on #105
Any idea when this will be released?

[2018-07-18 00:13] AdamSantosCA opened #110 "Crash: OutOfMemoryError"
We are seeing lots of app crashes in our Android app due to to OutOfMemoryErrors in Instabug. Most of the crashes seem to be in Android SDK 24 & 25. We are using Instabug version 4.15.3.

[code]

[2018-07-18 08:50] Korazy commented on #109
Hey @FerrariBruno

Thanks for reaching out. We deprecated that method because we created a whole new method with a new user experience. You can find details regarding this new API [here](https://docs.instabug.com/docs/android-onboarding-experience).

[2018-07-18 16:55] AdamSantosCA commented on #110
We are currently testing a build with 8.0.2 for release later today. We were hoping it would fix the issue, but I didn't see any reference to this specific bug in your issues or release notes. Thanks for confirming it has been addressed. I'll let you know how it works.

[2018-07-18 19:55] AdamSantosCA commented on #110
@Korazy We did a release earlier today and have seen two crashes due to this issue since then when using 8.0.2.

[2018-07-18 21:44] AdamSantosCA commented on #110
One more bit of information. We are also using Crashlytics 4.9.4. It looks like every time we call Crashlytics.logException(), we get a corresponding OOM exception and crash in Instabug.

The app initially used Crashlytics for crash reporting and analytics, but then we added Instabug for user feedback. The two worked together previously until we recently upgraded both.

[2018-07-19 12:46] pstambrecht opened #111 "Out of memory bug"
Here is a crash log of OOM error.
[code]

[2018-07-20 19:30] Korazy commented on #111
Hey @pstambrecht

Thanks for reaching out! Are you on version 8.0.2 of the SDK? This error should be fixed there :)

[2018-07-20 20:54] Korazy commented on #110
Apologies for the delay in my response on hear. Rami, my colleague you reached out to on the support channel, and I will be following up to make sure this error is resolved.

[2018-07-24 04:47] kmjonmastro opened #112 "Xamarin.Android Launch NoClassDefFoundError Crash"
Hi, we are currently evaluating Instabug. We have followed the instructions for Xamarin.Android and we are getting the below error:

`{Java.Lang.ClassNotFoundException: Didn't find class "com.instabug.chat.R$drawable" on path: DexPathList[[zip file "/data/app/com.app.mobile.instabug-wWUN2X-gzHNcQQzojuJ9xg==/base.apk"],nativeLibraryDirectories=[/data/app/com.app.mobile.instabug-wWUN2X-gzHNcQQzojuJ9

[2018-07-24 20:29] Korazy commented on #112
Hey @kmjonmastro

Thanks for pointing this out, we will look into it and get back to you :)

[2018-07-24 20:41] Korazy commented on #111
Please feel free to reopen the issue if it occurs again with you on the latest version :)

[2018-07-24 20:41] #111 closed

[2018-07-25 03:39] 2x2xplz commented on #59
Had high hopes that you were making progress on reducing the method count. I tried implementing v8.0.1 in my latest build, only to find it was responsible for 23,800 methods!!! Core Instabug was nearly 8000, ReactiveX was over 10,000 and JCodec was about 5,500.

It's nice that you simplified the API by breaking out the features into different classes, but even if you excluded 3 of 4 classes, you'd

[2018-07-25 11:33] Korazy commented on #112
Hey @kmjonmastro

Can you tell me when this error occurs? Would you be able to provide us with your Instabug code as well?

[2018-07-25 13:47] Korazy commented on #110
The fix should be included in the next release. Please feel free to reopen the issue if you still face it then :)

[2018-07-25 13:47] #110 closed

[2018-07-25 14:09] Korazy commented on #108
Hey @armen301

Thanks for reaching out. This issue is fixed in later releases. If you still face the issue after updating, please reopen the issue :)

[2018-07-25 14:09] #108 closed

[2018-07-25 17:48] kmjonmastro commented on #112
@Korazy this happens in MainApplication.OnCreate, after the 	```
var builder = new Instabug.Builder(this, "token_code");
			builder.SetInvocationEvents(InstabugInvocationEvent.Shake)
			  .Build();
[code]

[2018-07-26 12:36] rdiaa commented on #103
Please reopen this issue again if you run into it

[2018-07-26 12:36] #103 closed

[2018-07-26 15:51] dwolvin opened #113 "App crashes on load with java.lang.NoClassDefFoundError : Failed resolution of: Landroid/support/v4/app/JobIntentService"
After upgrading Instabug from 4.7.0 to 8.0.3 the app crashes on load.
Stack trace:

I/art: Rejecting re-init on previously-failed class java.lang.Class<com.instabug.library.network.a>: java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/app/JobIntentService;
I/art:     at void com.instabug.crash.CrashPlugin.startCrashesUploaderService() (CrashPlugin.java:86)
I/art:     at voi

[2018-07-29 16:57] Korazy commented on #112
Thank you, we’re currently still working on finding a fix for the issue. Apologies for the delay.

[2018-07-30 12:16] Korazy commented on #113
Hey @dwolvin

Thanks for reaching out with this. We'll look into it and get back to you :)

[2018-07-30 16:15] Korazy commented on #113
So the issue here is we use `JobIntentService` that is included in the v4 supports library of newer version than version 25. You would need to upgrade your support library to a newer version in order to stop the crashes.

[2018-07-30 19:24] Starwind0 commented on #103
FYI you should update https://instabug.com/developers so that you do not tell developers to point to this version with this bug.

Select Android and you will see     compile 'com.instabug.library:instabug:8.0.0'

[2018-07-31 16:27] Korazy commented on #112
Would you be able to confirm if your integration code is in your App class and that you downloaded the instabug-for-android nuget package?

[2018-08-02 04:37] sillysachin commented on #21
Instabug seems to be slow and adding to apk size. Can there be a smaller light weight version of it ?

[2018-08-03 14:01] sillysachin opened #114 "apk size increases by 1.5 to 2MB on inclusion of instabug dependencies."
Can there be a lighter version of instabug? That can allow us to use the features of instabug incrementatlly.

[2018-08-05 11:48] Korazy commented on #114
Hey @sillysachin

Thanks for reaching out! We currently don’t have plans for doing so at the moment, we will however discuss it and get back to you if there are any updates regarding it.

[2018-08-05 11:48] #114 closed

[2018-08-05 22:48] #113 closed

[2018-08-06 07:45] Christophe668 opened #115 "Crash Samsung S6 Android 6.0.1"
Hi, a user on our app has a crash every time she opens the app.
It seems to happen only on her device and it seems related to Instabug.
I'm using the version 8.0.3 of the library.
You will find enclosed the stacktrace I got from Crashlytics.

[bike.cowboy.app_issue_14_crash_5AE17F39024900013F87F0039383B575_DNE_0_v2.txt](https://github.com/Instabug/Instabug-Android/files/2261586/bike.cowboy.app_iss

[2018-08-06 08:13] rdiaa commented on #115
Hi @Christophe668 ,
Thank you for reaching out, I will be investigating in the issue and get back to you as soon as I can

[2018-08-06 12:37] Christophe668 commented on #115
Since it's very blocking for that user.
Could you help me find a workaround? I'm thinking about disabling temporarily Instabug for that device.  Is there something else I could do?

It's only happening for that specific device and occurred every time (44 times)

[2018-08-06 12:41] rdiaa commented on #115
@Christophe668
 After investigating I found out two things
1.  This crash happens on android version 6.0.x but actually, the stack trace from Crashlytics shows 8.0.x
2. The stack-trace not matching 8.0.3 it matches 4.13.2 & this issue has been resolved in 4.13.3, so it should not happen on 8.0.x you just need to make sure he is on the latest version.

[2018-08-06 12:48] Christophe668 commented on #115
Hi, indeed, my bad. here's the correct stacktrace with version 8.0.3
[bike.cowboy.app_issue_66_crash_5B672D60000200014229C7177F427495_DNE_0_v2.txt](https://github.com/Instabug/Instabug-Android/files/2262564/bike.cowboy.app_issue_66_crash_5B672D60000200014229C7177F427495_DNE_0_v2.txt)

[2018-08-06 12:58] rdiaa commented on #115
@Christophe668
Thank you, I will check it and update you

[2018-08-06 13:03] Christophe668 commented on #115
Thank you very much!

[2018-08-06 14:04] rdiaa commented on #115
@Christophe668

 Please try this snapshot, it should fix your issue:

To use the snapshot:
Add these to your app-level build.gradle file to grab snapshots:

dependencies {
  Implementation 'com.instabug.library:instabug:`8.0.3.1-SNAPSHOT`'
}

repositories {

maven {

url "https://oss.sonatype.org/content/repositories/snapshots"

}
}

[2018-08-06 14:14] Christophe668 commented on #115
Hi, thank you for this quick fix. Will it fix the issue for that device you think?
Unfortunately, in this case, I had to disable Instabug for now as it might be critical for the user if she has no access to the app.
Because of that, I can't give you feedback on that fix right now at least. I'll keep you informed in the future when I can integrate this fix in the app.
Thank you for your reactivity!

[2018-08-06 15:48] rdiaa commented on #115
@Christophe668
No, This fix will be applied on all devices not only  the device of this specific user

[2018-08-07 20:39] #115 closed

[2018-08-07 21:52] bentemple opened #116 "When upgrading from Instabug 4.15.3 -> 8.0.3, proguard breaks"
When I updated proguard from 4.15.3 -> 8.0.3, my project can no longer properly build with proguard and I get the following errors:

[code]

Adding `-dontwarn rx.**` to my proguard.pro file resolves this issue but I want to be sure that is the correct resolution to this.

Is this the correct resolution for this issue? It seems like a pretty broad rule, which I'd prefer to not have unless it's abso

[2018-08-07 22:11] rdiaa commented on #116
@bentemple
Thanks for reaching out to me, I will check this and get back to you

[2018-08-07 22:18] bentemple commented on #116
@rdiaa thanks for the response.

Update: I've used our proguard file for this sample repo and I was able to run `./gradlew assmbleRelease` so it looks like it may be a conflict between instabug's library and another library we've included. So I think there's more to this than just an issue with the instabug library but instead how it's interacting with another library.

[2018-08-07 22:35] bentemple commented on #116
Further update, it's actually a conflict between instabug and the snapkit sdk:

[code]

[2018-08-08 09:42] oleandre commented on #91
@Korazy Hi. I tried to use Instabug again today and incremented the version code to 8.0.3(that's the last version right?). I added screenshot as invocation gesture, and was able to trigger Instabug the first time I took a screenshot, but not again. This is really weird. I added more invocation events too but I can't get it to work. Any more tips and do I have the correct version code?

[2018-08-08 11:18] rdiaa commented on #116
@bentemple
 Glad to hear that things are solved now :)

If you face any problem, I will be happy to help you

[2018-08-08 11:18] #116 closed

[2018-08-08 13:02] jobernolte opened #117 "Surveys.showSurvey("TOKEN") not showing anything"
I've debugged the whole thing and found out that in SurveyActivity.onCreate
[code]
**Instabug.getStartedActivitiesCount()** always returns 1 and thus finishing the survey activity immediately.
Any clues what goes wrong?

[2018-08-08 13:05] jobernolte commented on #117
SDK version is 8.0.3

[2018-08-09 10:05] oleandre commented on #91
@Korazy I added the 'com.instabug.library:instabug:8+' in addition to 'com.instabug.library:instabug-with-okhttp-interceptor:8+' which I had before, and now it's working! You can close the issue :-)

[2018-08-10 13:49] ihassantariq commented on #112
@Korazy  I am facing the same issue. And I can confirm that I have tried it on Application class OnCreate() Method. But I am getting the same issue.

[2018-08-10 13:52] ihassantariq commented on #112
Also, how could it be in the App class? This is android specific implementation. I have tried your implementation within the MainActivity OnCreate() method and in the Android Application OnCreate() method. Still seeing the same issue.

[2018-08-15 02:23] dung90it opened #118 "java.lang.NullPointerException: Attempt to read from field 'float android.graphics.PointF.x' on a null object reference ControlButton.java:47"
java.lang.NullPointerException: Attempt to read from field 'float android.graphics.PointF.x' on a null object reference
	 at com.instabug.library.annotation.a.a(ControlButton.java:47)
	 at com.instabug.library.annotation.b.h.a(ZoomedShape.java:94)
	 at com.instabug.library.annotation.c.a(MarkUpDrawable.java:109)
	 at com.instabug.library.annotation.AnnotationView.onDraw(AnnotationView.java:322)

[2018-08-15 02:28] dung90it opened #119 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.io.File android.content.Context.getExternalFilesDir(java.lang.String)' on a null object reference AttachmentManager.java:35"
io.reactivex.c.d: Attempt to invoke virtual method 'java.io.File android.content.Context.getExternalFilesDir(java.lang.String)' on a null object reference
	 at io.reactivex.internal.b.a$ag.a(Functions.java:704)
	 at io.reactivex.internal.b.a$ag.a(Functions.java:701)
	 at io.reactivex.internal.d.t.onError(LambdaObserver.java:77)
	 at io.reactivex.internal.operators.observable.di$a.onError(Observabl

[2018-08-15 08:44] Korazy commented on #118
Hey @dung90it

Thanks for reaching out. Can you please let me know which SDK version this is on?

[2018-08-15 10:40] dung90it commented on #118
This crash happens on instabug:8.0.3 with samsung SM-G900T

[2018-08-15 12:58] #112 closed

[2018-08-15 13:07] ihassantariq commented on #112
I will update and let you know. Thanks for fixing it.

[2018-08-15 13:55] rdiaa commented on #112
It's our pleasure to help you

[2018-08-15 13:55] rdiaa commented on #112
@ihassantariq

It's our pleasure to help you

[2018-08-15 16:07] ihassantariq commented on #112
@rdiaa by the way you have done the same thing which I have proposed to your support team. Added a new nuget package? have you changed anything else?

[2018-08-16 14:29] Korazy commented on #118
@dung90it we're currently working on a fix for this. Will keep you updated regarding the progress of it.

[2018-08-17 23:33] Korazy commented on #118
@dung90it would you be able to tell us the steps that led to this crash?

[2018-08-22 20:55] gozozo opened #120 "Fatal Exception: java.lang.IllegalStateException: Instabug API called before Instabug.Builder().build() was called"
### Steps to Reproduce the Problem
Remove app and install again, the error doesn't permit open the app

### Instabug integration code
 `Instabug.setLocale(new Locale("es"));`

 `new Instabug.Builder(this.getApplication(), "token")
     .setInvocationEvents(InstabugInvocationEvent.SHAKE,InstabugInvocationEvent.SCREENSHOT)
     .build();`

### SDK: 8.+

### Android: 6.0

### Models: LENOVO,LG Electr

[2018-08-23 07:24] kpalczewski opened #121 "UI issues on Android 6.0.1 Tablet - landscape orientation"
### Steps to Reproduce the Problem
After Instabug integration I open the app on Nexus 7 tablet in landscape orientation.

### Expected Behavior
Popup should utilize whole width. background around it should be transparent with some % opacity

### Actual Behavior
Popup is squashed, background is black without opacity

### Instabug integration code
Instabug.Builder(this, "")
                    .setI

[2018-08-24 18:38] eygraber commented on #120
I've had the same issue since updating to Instabug 8.0.5.

This is what my instabug code looks like. It is called when the app starts.

[code]

Crash is:

[code]

I've seen the crash occur on Android 6 and Android 7 devices, on Motorola, LG, and Samsung.

[2018-08-26 15:32] jatney commented on #71
@ZiadAyman hello, so im also facing same problem but mine is in fb before im not seeing this thing pops up but when i update facebook then i started seeing it
![20180826_181719 1](https://user-images.githubusercontent.com/42717840/44629884-4685e480-a95e-11e8-8d04-1151d8fb6184.jpg) this is the screenshot poof and i still recieve notification but limited and its annoying for me pls help me about thi

[2018-08-27 08:35] rdiaa commented on #120
@gozozo @eygraber

The issue is fixed and we released a new Snapshot with the fix. please install 8.0.5.1-SNAPSHOT , the crash is fixed here.

[2018-08-27 10:09] Korazy commented on #118
This should now be fixed in the latest release.

[2018-08-27 10:09] #118 closed

[2018-08-27 10:34] Korazy commented on #121
Hey @kpalczewski

Thanks for reaching out. We're currently investigating this issue, thank you for pointing it out.

[2018-08-28 11:55] Kevinrob commented on #120
@rdiaa Does 8.0.6 contains this fix?

[2018-08-28 12:18] rdiaa commented on #120
@Kevinrob

Yes,  the fix is included in the new version "8.0.6"

[2018-08-28 12:18] #120 closed

[2018-08-28 22:16] Korazy commented on #121
@kpalczewski would you be able to try this snapshot and let me know if the issue is fixed for you?
com.instabug.library:instabug:8.0.6.1-SNAPSHOT

To grab a snapshot, please add the following to your code:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

[2018-09-03 08:40] kpalczewski commented on #121
the issue is fixed for me. thank you very much.

[2018-09-03 08:40] #121 closed

[2018-09-04 04:36] chandank109 commented on #68
Hello, My app is using
minSdkVersion 16
targetSdkVersion 27

I have used Transparent activity registering it in Manifest with orientation.
When Opening that activity , App crashed saying

**java.lang.IllegalStateException: Only fullscreen activities can request orientation**

It only happens on Android 8.0.

[2018-09-07 06:26] AlpeshSorathiya commented on #68
Set Orientation of activity in Manifiest.xml
android:screenOrientation="unspecified"

[2018-09-12 06:51] raymondctc opened #122 "Which API should I call to disable initial screenshot?"
`Instabug.setAttachmentTypesEnabled(..);` is marked as deprecated in latest version

[2018-09-12 10:39] ramiimagdi commented on #122
Hey @raymondctc

Actually the API you shared with me earlier is the correct API and it's not repricated:

// Arguments:initialScreenshot, extraScreenshot, galleryImage & ScreenRecording
`Instabug.setAttachmentTypesEnabled(true, true, false, false);`

However, if it doesn't work with you, we'll need to troubleshoot the issue here. Can you please confirm that it isn't working?

[2018-09-12 11:45] raymondctc commented on #122
Yes, that’s actually working. But it’s marked with the deprecated annotation, I was wondering.

[2018-09-12 11:56] ramiimagdi commented on #122
Oh, I get what you mean now, many apologies for the confusion here, the un-deprecated API is as follows:
`BugReporting.setAttachmentTypesEnabled(false, true, true, true);`

[2018-09-13 18:12] ramiimagdi commented on #122
@raymondctc Please feel free to reach out to us again if you need any help at all. Have a great day 🙏🏻

[2018-09-13 18:12] #122 closed

[2018-09-19 15:50] fleficher opened #123 "AndroidX and proguard: fail to build"
Hi,

Application fail to build when using proguard & androidx when using instabug.
[code]

### SDK Version
8.0.8.2

### Steps to Reproduce the Problem
Create a project targeting & compiling for api 28 & use androidx

In `gradle.properties` add:
[code]

The build will fail

[2018-09-19 18:13] ramiimagdi commented on #123
Hey @fleficher
Thank you for reaching out, we'll be investigating the issue, and get back to you as fast as we can 😊

[2018-09-20 09:09] ramiimagdi commented on #123
Hey @fleficher, have you tried enabling MultiDex?

[2018-09-20 13:19] fleficher commented on #123
Hi @ramiimagdi yes i've tried this but nothing changed.

The sample app has the same problem if you migrate to androidx

[2018-09-20 20:44] ramiimagdi commented on #123
Hey @fleficher,  thank you for your reply, will get back to you as fast as possible on this.

[2018-09-24 09:14] ramiimagdi commented on #123
Hello again @fleficher, can you please `8.0.8.7-SNAPSHOT`?

[2018-09-25 08:58] fleficher commented on #123
Hi @ramiimagdi same problem with this snapshot version.
i'm using android studio 3.2.0 with latest plugin & build tools.

Here's the full stacktrace when building the sample project:
[code]

I guess that the error is
`Warning: com.instabug.featuresrequest.ui.d.b: can't find referenced method 'void addOnTabSelectedListener(com.google.android.material.tabs.TabLayout$OnTabSelectedListener)' in progra

[2018-09-25 09:16] ghataa commented on #89
Ok, solved! I used wrong (legacy) Firebase API key. Details:
![not_this](https://user-images.githubusercontent.com/26881582/46004865-3d4e7b80-c0b4-11e8-9506-2577c4a54694.jpg)
![but_this](https://user-images.githubusercontent.com/26881582/46004870-40e20280-c0b4-11e8-896f-ec5498a96629.jpg)

[2018-09-27 14:30] dharmitaepaisa opened #124 "ava.lang.IllegalStateException: Not allowed to start service Intent"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### Android Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2018-09-27 14:31] dharmitaepaisa opened #125 "CrashPlugin.javajava.lang.IllegalStateException: Not allowed to start service Intent"
java.lang.IllegalStateException: Not allowed to start service Intent { cmp=/com.instabug.crash.network.InstabugCrashesUploaderService }: app is in background uid UidRecord

 SDK Version  : 8.0.6

 Android Version : API level 26

[2018-09-28 07:40] hamzaahmedkhan commented on #68
@Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_splash);

		// fixing portrait mode problem for SDK 26 if using windowIsTranslucent = true
        if (Build.VERSION.SDK_INT == 26) {
            setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_UNSPECIFIED);
        } else {
            set

[2018-09-28 09:24] linean opened #126 "Instabug overrides default RxJava error handler"
Instabug automatically overrides RxJava error handler by calling `RxJavaPlugins.setErrorHandler()` in initialization. Because of that OnErrorNotImplementedException is not throwed anymore and there are no logs in console.

### Steps to Reproduce the Problem
Run this code anywhere in the app:
`        Completable.fromAction(()-> {
            throw new RuntimeException();
        }).subscribe();
`

[2018-09-29 13:21] balrampandey19 opened #127 "InstabugSessionUploaderService Crashing on Android O"
`  Caused by java.lang.IllegalArgumentException: Given work is not active: JobWorkItem{id=1 intent=Intent { /com.instabug.library.network.worker.uploader.InstabugSessionUploaderService } dcount=1}
       at android.app.job.JobParameters.completeWork(JobParameters.java:233)
       at android.support.v4.app.JobIntentService$JobServiceEngineImpl$WrapperWorkItem.complete(JobIntentService.java:267)

[2018-10-01 10:17] Korazy commented on #127
Hey @balrampandey19

Thanks for reaching out! Would you be able to tell the SDK version of Instabug you're using?

[2018-10-01 10:19] Korazy commented on #126
Hey @linean

Thanks for reaching out. We will look into this and get back to you as soon as possible.

[2018-10-01 11:12] balrampandey19 commented on #127
hi @Korazy
I am using the latest version of Instabug SDK "instabug:8.0.3"

[2018-10-01 12:31] dharmitaepaisa commented on #124
@Korazy
Sorry, I had raised the same issue twice (#124 and #125) so had close this one and kept #125 open.

[2018-10-01 12:46] ghataa opened #128 "java.lang.NullPointerException on BugReportingFragment.java:258"
Hi guys!

We just detected this crash in our live product:

`Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'com.instabug.library.model.State com.instabug.library.model.BaseReport.getState()' on a null object reference
       at com.instabug.bug.view.c.initViews(BugReportingFragment.java:258)
       at com.instabug.library.core.ui.BaseFragment.onCreateView(BaseFragment.

[2018-10-01 12:54] Korazy commented on #128
Hey @ghataa

Thanks for reaching out, we will look into a fix for this and keep you updated.

[2018-10-02 09:21] ramiimagdi commented on #123
Hey @fleficher, after digging deeper, we have found that this should not happen as Google is supporting backward compatibility with Android X, however, we are still investigating why this is happening and will update you soon.

[2018-10-02 16:29] Korazy commented on #124
Its no worries at all :)

[2018-10-02 22:04] Korazy commented on #128
Hey @ghataa

We just had a few questions as we are unable to reproduce this issue.
1 - Is this issue consistent?
2 - Are there any particular steps you are aware of that leads to this crash occurring?
3 - Has this crash occurred several times?

[2018-10-03 06:27] balrampandey19 commented on #127
Hi @Korazy
Any update on this issue? , app crashing on Prod.

[2018-10-03 10:00] ghataa commented on #128
Hi @Korazy

1) Yes, but only on Xiaomi Redmi 5A so far

3) Yes

2) Nothing special I guess. It happens right after opening the app. Here is how I configured Instabug on Android:
`    private void initInstabug() {
        new Instabug.Builder(this, BuildConfig.INSTABUG_APP_ID)
                .setInvocationEvents(InstabugInvocationEvent.SHAKE, InstabugInvocationEvent.SCREENSHOT)
                .bu

[2018-10-03 10:48] sandys commented on #127
hi guys
any update on this issue ?

[2018-10-03 11:45] Korazy commented on #127
Hey all,

Apologies for the delay, we’re still trying to reproduce the issue and find a fix

[2018-10-04 12:48] Umair026 commented on #42
-ignorewarnings

I just used this and this is running good for me

[2018-10-04 13:47] ablenesi commented on #123
I'm experiencing the same issue, and our project is not updated to use Android X. (I'm using v 8.0.8)

[2018-10-04 14:32] bushmen commented on #128
Hi @Korazy

I have been experiencing the same issue in my Xamarin.Android application. The application crashes after clicking "Report a problem" on "How can we help you?" dialog. However I have noticed that exception is being thrown only from application deployed through Rider and it's working fine when download via hockeyApp (the hockey app build is build by TeamCity). I can provide more info if

[2018-10-04 17:29] ramiimagdi commented on #125
Hey @dharmitaepaisa,
Thank you for reaching out to us, we'll be investigating the issue you have reported and get back to you as fast as possible.
Thank you

[2018-10-05 19:27] thuutin commented on #123
Warning: com.instabug.chat.network.a.a: can't find referenced class com.instabug.library.network.NetworkManager$OnDoRequestListener
Warning: com.instabug.crash.a.a: can't find referenced class com.instabug.library.internal.storage.cache.db.InstabugDbContract
Warning: com.instabug.crash.a.a: can't find referenced class com.instabug.library.internal.storage.cache.db.InstabugDbContract$CrashEntry
War

[2018-10-07 10:04] kamelnabil commented on #125
@dharmitaepaisa Our apologies for the delay here!
Could you please share with us the full stack trace to dive in and debug?

[2018-10-07 10:51] Korazy commented on #128
Hey All,

Apologies for the delay on this. Would you be able to give this snapshot a go? It should have a fix for this: 8.0.10.3-SNAPSHOT

To be able to grab a snapshot, please add the following to your code as well:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

[2018-10-07 11:04] kamelnabil commented on #123
@fleficher @ablenesi @micHar @thuutin Thanks all for sharing your feedback here!

That was an issue with proguard, and it seems that there is an internal issue in proguard which was showing wrong class paths while using AndroidX. Added to that, there was a new issue introduced by us in the latest release (that was done 3 days ago) which changed the proguard wrong msgs with the right one, and we we

[2018-10-08 10:09] ddinchev commented on #123
I'm having the same issue but `8.0.10.2-SNAPSHOT` does not resolve for me. Can you also give a proguard rules recommendation meanwhile?

[2018-10-08 10:45] Korazy commented on #127
Hi again,

Can you please tell me if you are using JobIntentService in their apps or not. If YES, are you using any service with one of the following JOB_IDs?
0xa11 (2577)
0xa13 (2579)
0xa14 (2580)
0xa15 (2581)
0xa16 (2582)
0xa18 (2584)
0xa19 (2585)
0xa20 (2592)
0xa33 (2611)

[2018-10-08 10:49] ddinchev commented on #123
I saw that `8.0.11` was just released, and it drags support library `28.0.0` with itself (which is still in alpha), is the bleeding edge of google libs really a requirement for a feedback tool to work?

[2018-10-08 10:52] ramiimagdi commented on #123
@fleficher Thank you for getting back to us.

You actually won't need to add any rules to Proguard. However, can you please update us with the following:

- CompileSDK version
- BuildTools
- Android Studio version
- Are you using Android X or not
- Can you please send us the full error message?

[2018-10-08 11:38] balrampandey19 commented on #127
Hi @Korazy

we are not using JobIntentService.

[2018-10-08 12:30] jdamcd commented on #126
I'm also seeing this in 8.0.9. The Instabug error handler set on `RxJavaPlugins` is not forwarding exceptions to the thread's uncaught exception handler, so exceptions thrown in e.g. `onSuccess()` callbacks are swallowed silently when they should terminate the app.

[2018-10-08 14:28] Korazy commented on #127
Would you be able to use this snapshot? It should have the fix: **8.0.11.1-SNAPSHOT**

To be able to grab the snapshots, add the following to your code:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

[2018-10-10 06:58] ramiimagdi commented on #123
Hey @fleficher @ablenesi @micHar @thuutin @ddinchev, I hope you all are doing great!

I was wondering if you had the chance to try our `8.0.10.2-SNAPSHOT`. Please let us know if you are still facing any further issues.

Thank you.

[2018-10-10 10:37] Korazy commented on #126
Hey all,

Can you try to add a `CompletableObserver()` for the subscription you made and you should be getting the error in `onError` callback, like this:

[code]

[2018-10-10 12:15] linean commented on #126
@Korazy it works like this. But this is expected, because observer handles error by itself, and `RxJavaPlugins.onError` is not called.

[2018-10-10 12:52] jdamcd commented on #126
As a workaround, it's possible to clear the error handler after initialising Instabug: `  RxJavaPlugins.setErrorHandler(null)`. Surprised to see this being set, especially since we're not using the crash reporting feature.

[2018-10-10 13:12] linean commented on #126
And even better is to first get current handler :)

[2018-10-11 05:13] thuutin commented on #123
@ramiimagdi Just tested `8.0.10.2-SNAPSHOT` and it is working great. Also migrating to support lib 28.0.0 is nice :)

[2018-10-11 09:59] Korazy commented on #126
We currently have a fix that's pending review and testing at the moment. I will make sure to update you soon :)

[2018-10-11 18:04] ramiimagdi commented on #125
Hello again @dharmitaepaisa, we are just wondering if you were able to share the full stack trace with us so that we can investigate the issue further. Please let us know if you need any help here.

[2018-10-13 10:29] fleficher commented on #123
Hi @ramiimagdi, `8.0.10.2-SNAPSHOT` seems to fix the issue for me too.

[2018-10-14 08:31] ramiimagdi commented on #125
Hello @dharmitaepaisa, we hope you are doing great!
Please don't hesitate to reach out to us again whenever you have any questions at all. Have a great day!

[2018-10-14 08:31] #125 closed

[2018-10-14 13:42] MinaWadee opened #130 "An error occurred while doing InstabugSessionUploaderService's required task DatabaseManager"
Unable to init Instabug

### Instabug integration code

[code]

### SDK Version
8.0.9
### Android Version
8.1.0
### Device Model
Huawei Nova 3i

### Error from Log
10-14 15:28:46.735 8172-8240/com.projs.app.proj E/INSTABUG - InstabugSessionUploaderService: An error occurred while doing InstabugSessionUploaderService's required task DatabaseManager is not initialized, call init(..) method first.

[2018-10-14 14:16] fleficher opened #131 "Lint error due to jacoco dependency"
Hi,

Since `8.0.10` the `org.jacoco.agent` dependency is producing errors when executing a lint check :

[code]

[2018-10-14 19:33] ramiimagdi commented on #131
Hey @fleficher, thank you for reaching out to us.

Please allow me some time to investigate this with the team and get back to you as fast as possible.

[2018-10-14 19:36] ramiimagdi commented on #130
Hey @MinaWadee, thank you for reaching out to us!

Please allow me some time to investigate this further with the team and get back to you as fast as possible.

[2018-10-15 11:12] ramiimagdi commented on #130
Hello again @MinaWadee,

After investigating the issue, it seems like the application gets terminated before Instabug even gets initialized, and that's a very weird behavior.

However, we have made this snapshot: `8.0.10.4-SNAPSHOT` that might be helpful in solving this problem. Also, please make sure your application is initialized in the application class.

[2018-10-15 12:14] Korazy commented on #127
@balrampandey19 did it fix the issue for you?

[2018-10-15 12:15] Korazy commented on #128
Hey all,

Did this snapshot fix the issue for you?

[2018-10-15 15:31] MinaWadee commented on #130
we have tried this 8.0.10.4-SNAPSHOT and still not working

[2018-10-15 17:53] balrampandey19 commented on #127
hi @Korazy  yes, it seems like issue fixed. thanks for support.

[2018-10-16 09:04] oleandre opened #132 "Can take screen recording even when declining permission"
### Steps to Reproduce the Problem
Press Floating button to activate Instabug -> Report a problem -> Take a screen recording -> Deny
### Expected Behavior
"Record"-icon should not become visible, and shouldn't be able to take screen recording
### Actual Behavior
"Press record when ready"-icon appears and able to record
### Instabug integration code
new Instabug.Builder(application, "")

[2018-10-16 11:15] rdiaa commented on #132
Hello @oleandre I will check it now and get back to you shortly

[2018-10-16 12:28] ramiimagdi commented on #130
Hey @mohkin and @MinaWadee,
My apologies for any inconvenience, I totally understand the urgency here.

I was wondering if you could share with us a sample application with the same scenario so that we can investigate it further, that would be really helpful.

[2018-10-16 12:28] rdiaa commented on #132
Hello again @oleandre
I checked it from my side and found that it's not a bug. the permission is asking for audio permission to record audio while recording the screen, but when you declined the permission we scan to record the screen without audio. Please tell me if anything is unclear

[2018-10-16 13:18] mohkin commented on #130
Hi @ramiimagdi,
Would an APK help you diagnose the issue?

[2018-10-16 13:57] ramiimagdi commented on #130
Hi @mohkin,
An APK will be fine to check whether the behavior is reproducible on all devices or not. However, we require a written code so that we can be able to troubleshoot the issue and get to know the root cause of it.

[2018-10-16 22:51] Korazy commented on #127
Happy to help :)

Feel free to reach out if you have any other questions!

[2018-10-16 22:51] #127 closed

[2018-10-17 08:05] ymabdallah opened #133 "Test Github issues Integration"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### Android Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2018-10-17 08:14] #133 closed

[2018-10-17 22:54] saramotiv opened #134 "Not a valid string in the French translation"
Hello, I just updated my gradle files to use
[code]
and I receiving an error while building the app:

[code]

### SDK Version
   ` implementation 'com.instabug.library:instabug:8.0.0'`

[2018-10-17 22:57] ramiimagdi commented on #134
Hey @saramotiv, thank you for reaching out to us!
Can you please try:
`implementation 'com.instabug.library:instabug:8.0.11'`

[2018-10-17 23:28] saramotiv commented on #134
Better, cannot reproduce the error.

Thank you

[2018-10-17 23:48] ramiimagdi commented on #134
It's definitely a pleasure @saramotiv. Have a great day 😊

[2018-10-17 23:48] #134 closed

[2018-10-18 09:03] sfseyhan opened #135 "NullPointerException in SynchronizationManager at issue reporting"
Instabug is crashing after issue is reported if it was disabled and enabled before. Crash doesn't happen if we never disable Instabug.

### Stacktrace
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.os.Handler.post(java.lang.Runnable)' on a null object reference
       at com.instabug.chat.synchronization.SynchronizationManager.sync(Synchronizatio

[2018-10-18 09:49] Korazy commented on #135
Hey @sfseyhan

Thank you for reaching out and for providing all these details! We're looking into this now and will get you a fix as soon as possible.

[2018-10-18 13:17] rdiaa commented on #132
@oleandre did you have the chance to catch my previous me. I just want to make that everything is clear to you

[2018-10-18 13:28] Korazy commented on #135
Hey @sfseyhan

Would you be able to try this custom build and let me know if everything works out? **8.0.11.7-SNAPSHOT**

To grab a snapshot, please add the following as well:
[code]

[2018-10-18 14:42] fleficher commented on #131
Hi @ramiimagdi, thank you it's now working with `8.0.11.5-SNAPSHOT` version.

Are you planning to merge this fix soon ?

[2018-10-18 18:21] ramiimagdi commented on #131
Hi @fleficher, I'm glad to hear that everything is sorted out for you now 🎉
I'll make sure I get an ETA on the release where this fix is merged and get back to you.

[2018-10-18 18:47] ramiimagdi commented on #130
Hello again @mohkin,
Have you had the chance to create a sample application? So that we can start troubleshooting the issue as fast as possible 😊

[2018-10-18 18:59] bdentino opened #136 "BugReporting onSdkDismissCallback is not called when prompt options dialog is dismissed"
### Steps to Reproduce the Problem
1. Add a callback to listen for sdk dismissal via `BugReporting.setOnDismissCallback`.
2. Invoke the SDK prompt options dialog.
3. Dismiss the prompt options dialog by pressing outside of the form.

### Expected Behavior
The callback should be executed.

### Actual Behavior
The callback is not executed. Interestingly, the deprecated callback handler is actually e

[2018-10-18 19:05] ramiimagdi commented on #136
Hey @bdentino, thank you for reaching out to us!
Please allow me some time to investigate this further and get back to you.

[2018-10-20 09:15] ramiimagdi commented on #123
Hey all, please feel free to reopen this thread again if you need further assistance on this issue, we'd love to help you out!

Thank you 😊

[2018-10-20 09:15] #123 closed

[2018-10-21 09:12] kamelnabil commented on #136
Hey, Brian (@bdentino),
I'm jumping in here for Rami.
As for the deprecated API, it works fine for what you want to accomplish. The other API only works with the bug reporting. It doesn't work with the prompt options dialog and this is not a bug. We are tailoring that by design. If you still want to know if the user dismisses the Prompt options dialog, you can use the deprecated API.
We don't have

[2018-10-21 09:48] mohkin commented on #130
Hi @ramiimagdi ,
We are working on a sample, we will try to get it ready by tomorrow morning

[2018-10-21 11:00] rdiaa commented on #132
Hello, @oleandre I hope you are fine. If what I mentioned is not clear to you or you want to discuss it more, I will always be here to help!

[2018-10-21 11:00] #132 closed

[2018-10-22 09:21] #128 closed

[2018-10-22 09:22] Korazy commented on #128
Please feel free to reopen the issue should it occur again :)

[2018-10-23 11:45] sfseyhan opened #137 "FileNotFoundException logged and reports are not sent"
We get following warning in the logs when we try to build Instabug. Later on, when we try to send an email report, we get another warning in the logs even tho we get the success popup. No email is sent either.

### Stacktrace at building instabug
java.io.FileNotFoundException: /jacoco.exec (Read-only file system)
     at java.io.FileOutputStream.open0(Native Method)
     at java.io.FileOutputStrea

[2018-10-23 11:58] sfseyhan commented on #137
The reason why we are building instabug from activity is because we use a feature toggle to enable it at runtime.

If we build it at application onCreate with "InstabugInvocationEvent.NONE" and set another invocation mode later on, while building Instabug it doesn't throw the first warning in the logs but while sending reports the second FileNotFoundException is logged and reports are still not go

[2018-10-23 12:04] sfseyhan commented on #137
Correction: the first FileNotFoundException is logged as well at Instabug.Builder.build even if it's at Application.onCreate

W/System.err: java.io.FileNotFoundException: /jacoco.exec (Read-only file system)
2018-10-23 14:02:55.541 27588-27588/com.takeaway.driver W/System.err:     at java.io.FileOutputStream.open0(Native Method)
2018-10-23 14:02:55.542 27588-27588/com.takeaway.driver W/System.err:

[2018-10-23 12:20] sfseyhan commented on #135
@Korazy app doesn't crash with the snapshot version, but even if we get a success message, the reports are not going through. Reported the issue here: https://github.com/Instabug/Instabug-Android/issues/137

[2018-10-23 13:28] sfseyhan commented on #137
We have noticed our trial period has ended and wondering if this can be the reason why report emails are no longer going through. If that's the case, there should be proper error handling, or give the app responsibility to handle such error, instead of success message, giving the impression to user that he has sent the report.

[2018-10-23 13:45] jdamcd commented on #126
Hi @Korazy. We've noticed a related issue. The Instabug SDK (8.0.9) is setting a default exception handler, even though we're configuring the SDK with `setCrashReportingState(Feature.State.DISABLED)`. This was overriding our expected error handling and masking further crashes. Is this issue also resolved in the snapshot?

[2018-10-23 14:04] sfseyhan commented on #137
After our trial period got extended, report emails started to be delivered. The warnings are still logged so I guess they were irrelevant. We would still appreciate an error handling in that situation.

[2018-10-23 14:07] sfseyhan commented on #135
The other issue I linked seems to be irrelevant to this one and it was just lacking error handling in case the trial account has expired.

[2018-10-23 14:22] rdiaa commented on #137
Hello, @sfseyhan I'm so so sorry that you are facing this but I appreciate if you can tell me know what is the problem you are facing right now?

[2018-10-23 14:44] sfseyhan commented on #137
Right now I am not facing a problem. I didn't like trying to figure out why report sending is not working because there was no indication in the logs about expiration of our trial period.

What I am complaining about is we were getting success message and no hint of what is actually wrong with reporting issues, causing us hours of tinkering with how we use the sdk and trying different versions.

#

[2018-10-23 16:31] ramiimagdi commented on #136
Hello again @bdentino, please feel free to reopen this thread again if you have any further concerns. We'd more than happy to help you out 😊

[2018-10-23 16:31] #136 closed

[2018-10-23 16:33] ramiimagdi commented on #130
Hi @mohkin, have you had the chance to create the sample application?
Thank you!

[2018-10-23 18:55] araujotadeu commented on #83
@ZiadAyman I am using the version 8.0.9 and having the same problem.

Samsung and Huawei devices, Android 7 and 8

[2018-10-24 08:45] rdiaa commented on #137
Hello, @sfseyhan, first of all, thank you so much for the detailed information provided. I will check with the Products team and get back to you. Thank you again for spotting this.

[2018-10-24 09:04] Korazy commented on #135
I'm happy to hear that the crash for this issue is resolved now. I'll close this issue now so that we don't confuse the two tickets. I'll also be following up with @rdiaa regarding the other issue for you.

[2018-10-24 09:04] #135 closed

[2018-10-24 11:53] rdiaa commented on #137
Hello again,

I just want to inform you that when your trial ends you are automatically directed to free plan and by all means, you should receive your bugs If you are not receiving them, then we should check the problem. Also, I want to tell you that when you are in the free plan you are eligible for one-month data retention. So after this, you will find that some bugs are missing and that's beca

[2018-10-24 14:14] sfseyhan commented on #137
@rdiaa We were not receiving the issues reported from android while our trial period was expired, but ios was still able to send them. Once I requested the trial to be extended a week, reports started to go through from android as well. We don't have an issue at the moment but if the trial ends it might occur again.

Not sure if it's related but when trial period ended, dashboard wasn't accessible

[2018-10-24 14:19] Korazy commented on #126
Hey @jdamcd

Would you be able to explain the issue further?

[2018-10-24 14:28] linean commented on #126
@jdamcd this is exact same thing that I've described :)

[2018-10-24 14:43] jdamcd commented on #126
Sure. We've observed an issue with `Thread.setDefaultUncaughtExceptionHandler()` being set in addition to `RxJavaPlugins.setErrorHandler()` which @linean described. It's unexpected because we're not using Instabug for crash reporting.

[2018-10-25 13:04] ramiimagdi commented on #131
Hello again @fleficher, apologies for taking some time to get back to you here!

I just wanted to let you know that the next release will be right after our team gets back from this year's retreat, which will be in the first week of November.

Please feel free to reopen this thread again if you need further questions. Thank you 😊

[2018-10-27 08:58] pouriabagheri opened #138 "Build Failure"
### Steps to Reproduce the Problem
Upgrade to '**com.instabug.library:instabug:8.0.11**'
from '**com.instabug.library:instabug:8.0.6**'

### Expected Behavior
to build project
### Actual Behavior
failed to build project
### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
implementation 'com.instabug.library:instabug:8.0.11'
### Android Version
    compileSdkVersion

[2018-10-29 10:33] sfseyhan commented on #50
Is there any plan to support SurfaceView? We are using a 3rd party library that has a SurfaceView and the SurfaceView is black in all recordings.

[2018-10-29 13:16] ramiimagdi commented on #138
Hey @pouriabagheri,
Thank you for reaching out to us. Please allow me some time to check this further and get back to you as fast as possible.

[2018-10-29 20:14] araujotadeu opened #139 "MotionEventRecognizer NullPointerException"
I am getting the error message described below on Fabric.

### My code:
`
    @Override
    public boolean dispatchTouchEvent(MotionEvent ev) {
        InstabugTrackingDelegate.notifyActivityGotTouchEvent(ev, this);
        return super.dispatchTouchEvent(ev);
    }
`
### Error message from Fabric
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'float android.view.

[2018-10-30 22:07] ramiimagdi commented on #126
Hey all,

Apologies for taking some time on this, I just want to let you know that the issue is still being investigated, and we'll be reaching out to you as soon as we get a hand on it.

Thank you for your patience.

[2018-10-31 11:34] ramiimagdi commented on #138
Hello again @pouriabagheri,
I was wondering if you could give it a shot an try upgrading your compileSDK to version v28. Please let me know if you need help here.

[2018-10-31 17:34] hussammustafa commented on #138
i am also getting this error please help to solve this issue

[2018-11-02 05:50] Korazy commented on #138
Hey @hussammustafa

Did you try setting your compileSDK to version v28?

[2018-11-02 06:53] pouriabagheri commented on #138
@ramiimagdi & @Korazy yes I have tried with compileSDK to version v28 and it complies with no issues. unfortunately wont be able to use the latest SDK as we have other dependencies which won't allows us to upgrade to  v28 at this very moment

[2018-11-02 13:30] Korazy commented on #139
Would you be able to try out this snapshot? 8.0.11.9-SNAPSHOT

To grab a snapshot, add the following as well to your code:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

[2018-11-02 15:12] araujotadeu commented on #139
Hi @Korazy thanks for the fast answer. I can't reproduce the problem by myself ( only on production unfortunately ) I will try to reach out the specific users that had this problem and send a version of the app with the SNAPSHOT )

[2018-11-02 17:14] highthem opened #140 "Problem with permission dialog"
Hello,
At the initialisation of the instabug sdk, it ask for the write_external_storage permission.
I need this permission in my app but I don't want the dialog to be prompt automatically when it initialize.

I've tried to set my manifest like this

```<permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" tools:selector="com.instabug.library"/>```

but it doesn't

[2018-11-02 20:50] NourAbdelAal commented on #140
Hello there 👋

Nour from Instabug happiness team is here to help.

Could you please send the email you are using for Instabug through the support channel(contact us) so we can check this issue.

Thank you in advance 🙏

[2018-11-05 07:17] Korazy commented on #139
Awesome, please let me know how it goes :)

[2018-11-05 10:28] sfseyhan opened #141 "ConcurrentModificationException in Instabug.Builder"
We got the following crash report in production, so far only 1 occurrence. No reproduction steps.

### Stacktrace:
Caused by java.util.ConcurrentModificationException
       at java.util.Hashtable$Enumerator.next(Hashtable.java:1187)
       at org.jacoco.agent.rt.internal_8ff85ea.ConfigLoader.loadSystemProperties(ConfigLoader.java:56)
       at org.jacoco.agent.rt.internal_8ff85ea.ConfigLoader.loa

[2018-11-05 12:10] Korazy commented on #141
Hey @sfseyhan

Thanks for reaching out. We created a quick fix for you in this snapshot, can you give it a go? 8.0.11.5-SNAPSHOT

To grab the snapshot add the following to your code:
repositories {
    maven {
        // TODO add this only if interested in getting SNAPSHOT releases
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}

[2018-11-05 13:07] sfseyhan commented on #141
@Korazy thanks for the quick fix but I can't reproduce it myself, it's a crash report we got from a user. So I cannot confirm if this new build fixes the issue or not.

[2018-11-06 06:28] NeverMorer commented on #137
same issue on 8.0.11

[2018-11-06 06:41] NeverMorer commented on #137
@sfseyhan i got the error cause i  build twice carelessly

[2018-11-06 07:55] eygraber commented on #131
This is blocking us from upgrading to fix bugs in previous versions. When will this release be made?

[2018-11-06 12:35] rdiaa commented on #137
@NeverMorer @dirkam @sfseyhan  What error are you facing?

[2018-11-06 14:38] dirkam commented on #137
@rdiaa
[code]

[2018-11-06 14:47] dirkam commented on #137
I also see the other stracktrace before bug reports are sent. Though the bug reports show up in the dashboard.

[code]

[2018-11-07 10:14] paradizIscool commented on #127
@Korazy Hi, What did you change in the snapshot to fix this issue?

[2018-11-08 06:09] julo15 commented on #130
@ramiimagdi I'm seeing this as well. In my case, my app code is definitely failing somewhere early in our initialization code in javascript (which we will need to fix). However, if an app's code fails early on, how can we avoid Instabug crashing like this? Is there a promise or something we can wait on to know 'okay, Instabug is fully initialized and ready now'?

[2018-11-10 13:48] rdiaa commented on #137
@dirkam we are working on the fix and will update you once its released

[2018-11-10 15:10] dirkam opened #142 "Optimizing PNG assets"
Please try to optimize the PNG images used by the SDK. Currently, these are not optimized and take up a lot of space. A simple image optimization tool could make the SDK more lightweight in a matter of minutes.

[2018-11-10 15:18] rdiaa commented on #142
@dirkam  Thank you for your feedback, we will try to do so and I will update you

[2018-11-12 07:24] #141 closed, assigned to Korazy

[2018-11-12 08:32] Korazy commented on #142
@dirkam Can you please confirm the SDK version?

[2018-11-12 09:14] dirkam commented on #142
8.0.11

[2018-11-13 02:46] adapptor-kurt opened #148 "Screenshot deleted from Android device when bug report cancelled"
### Steps to Reproduce the Problem
1. Configure Instabug with Instabug.invocationEvent.screenshot
2. Take a screenshot.
3. Select "Report a problem"
4. Discard the report
5. Open Photos, and see that the latest screenshot is grey.  Photos will not be able to view the screenshot because it is corrupted/deleted by Instabug.

### Expected Behavior
Screenshots that were manually taken by a user, not t

[2018-11-14 08:46] Korazy commented on #138
Hey @pouriabagheri

After checking, we will be unable to lower the compileSDK version, but if you would still prefer v27 or before, you can use Instabug v8.0.9 normally with those versions.

[2018-11-14 08:46] #138 closed

[2018-11-14 09:20] Korazy commented on #139
Feel free to reopen the issue should it occur again :)

[2018-11-14 09:20] #139 closed

[2018-11-14 15:13] rdiaa commented on #137
@dirkam I just want to inform you that the fix should be released within two weeks with the new version. I will update you once it's released

[2018-11-14 18:06] matir91 commented on #137
@rdiaa Do you know which is the latest working version of the sdk? Because right now it's not working and I cannot wait 2 weeks.

[2018-11-15 15:08] rdiaa commented on #142
@dirkam the latest version is already optimized, if you please know which PNGs that are not optimized, can you please send me the names?

[2018-11-17 07:50] Yahyaali1 commented on #140
I am facing a similar issue.
Use Case:
As the splash screen appears in my app, I need to show user relevant permissions. However since insta bug is been initialized in the app component, as soon my dialog for seeking permission appear, they forcefully disappear followed by permission  required by insta bug.
Is there a work around to this ?

[2018-11-18 13:38] rdiaa commented on #137
@matir91  you mean related to the same issue? The latest version is 8.0.11 and we  will release the fix of this issue next week

[2018-11-18 14:13] rdiaa commented on #142
@dirkam  Thank you so much for helping us with the information you provided, we used `ImageOptim` in a recent build and we will give `ImageAlpha` a try in future builds.

[2018-11-18 14:13] #142 closed

[2018-11-20 08:57] linean commented on #126
What about if someone is using custom exceptions handler, will Instabug overrides it silently? And sorry for asking, but I'm lost, what is the status of this issue?

[2018-11-20 14:22] jdamcd commented on #126
@Korazy Here's a sample project to demonstrate that initialising the Instabug SDK alters RxJava behaviour: https://github.com/jdamcd/instabug-rx-issue

[2018-11-21 07:43] Korazy commented on #126
Out of curiousity, did the snapshot I sent before not fix the issue for you?

[2018-11-21 08:50] jdamcd commented on #126
It fixes the core issue since no `RxJavaPlugins` error handler is set. However, the SDK then crashes internally from system `onLowMemory()` callbacks. Reproduction steps in the sample project: https://github.com/jdamcd/instabug-rx-issue/pull/1

[2018-11-21 09:04] linean commented on #126
@Korazy 8.0.11.4-SNAPSHOT works for me :)

[2018-11-21 09:54] Korazy commented on #126
@linean awesome!

@jdamcd we’ll look into that right away.

[2018-11-21 21:38] SimonPSH opened #143 "Nullpointer exception initializing BugReportFragment"
We have noticed a new crash related to the initialization of the BugReportFragment.  This strictly from crash reporting and we do not have reproduction steps.

### Stack trace

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{bike.smarthalo.app/com.instabug.bug.view.BugReportingActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'com.insta

[2018-11-22 08:34] Korazy commented on #126
@jdamcd would you be able to try this snapshot? `8.0.11.19-SNAPSHOT`

[2018-11-22 10:49] jdamcd commented on #126
@Korazy `8.0.11.19-SNAPSHOT` resolves both issues. Thanks for your help! 🎉

[2018-11-25 12:02] Korazy commented on #126
Awesome! Glad everything is working out now 😄

[2018-11-25 12:02] #126 closed

[2018-11-25 22:46] donovancarthew commented on #130
We are experiencing the same issue. At some point is seems that the instabug internal storage becomes currupt, and from that point on the user cannot even open the app, it just keeps crashing with the following exception (captured from bugsnag)
DatabaseManager is not initialized, call init(..) method first.
DatabaseManager.java:24com.instabug.library.internal.storage.cache.db.DatabaseManager.getIn

[2018-11-26 18:52] rdiaa commented on #137
@matir91 @dirkam  I want to inform you that the latest version now is released. It's version 8.12. Please update the SDK, Everything should be working fine. Please feel free to re-open the thread if anything is not in place.

[2018-11-26 18:52] #137 closed

[2018-11-28 18:25] MahmoudB opened #144 "ConfigLoader Crash"
### Steps to Reproduce the Problem

The issue happens while the device state is in Background.

### Instabug integration code

[code]
### SDK Version
8.0.11
### Android Version
This bug happens mainly on **Android 6** `93%` but can happen also on **Android 5** and **Android 8**.

### Full Stack Trace

[code]

[2018-12-04 09:01] sfseyhan opened #145 "InstabugTrackingDelegate is removed in 8.0.12"
Documentation and example code use InstabugTrackingDelegate to track touch events in activity, but it was removed in last patch version.
Example code:
https://github.com/Instabug/Instabug-Android/blob/master/app/src/main/java/com/example/instabug/BaseActivity.java

patch and minor version updates should be backwards compatible, especially if the suggested way of adding dependency is as follows:
im

[2018-12-04 09:16] vezikon commented on #145
It wasn't intentional it was a bug. It's fixed in 8.0.13.

[2018-12-04 10:16] sfseyhan commented on #145
Ok thanks, closing the issue.

[2018-12-04 10:16] #145 closed

[2018-12-06 17:05] anilCFLAG opened #146 "Instabug screenshot popup is annoyingly re-shown after dismiss"
Steps to Reproduce the Problem
- instabug 8.0.13. take a screenshot and try tap outside the popup when shown. it goes for a second and reappears.

Expected Behavior
- it should not reappear after dismiss

Actual Behavior
- it is shown again and again

SDK Version
8.0.13

Android Version
7.1.2

Device Model
Samsung Galaxy S4

[2018-12-07 00:01] SudoPlz opened #147 "java.lang.OutOfMemoryError Failed to allocate a 75497480 byte allocation with 19637536 free bytes and 18MB until OOM"
[code]

Re-opening this, as we're still seeing it in production (last one was here https://github.com/Instabug/Instabug-React-Native/issues/112)

### Steps to Reproduce the Problem
Remove the camera permission from the device, and try to take a screenshot from within the app.

### Expected Behavior
Should be able to send a ticket like normal

### Actual Behavior
App crash

### SDK Version
"instabu

[2018-12-11 22:01] svalsan-lyft opened #149 "java.lang.NullPointerException · uri"
### Steps to Reproduce the Problem
NA
### Expected Behavior
Should not crash
### Actual Behavior
NA
### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
instabug version 8.0.2
### Android Version
6.0.1, level 23
### Device Model
WindsongAOB
### [Optional] Project That Reproduces the Issue

java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, re

[2018-12-12 14:00] Karambar commented on #126
Hi @Korazy ,

I encounter the same issue, could we have an update ?
Will it be available soon on the stable build ?
I added a fix on my side but I should not have to do this hack.

Thanks for your help !

[2018-12-14 16:02] eygraber opened #150 "Crash on 8.0.14"
Getting crash reports from clients:

[code]

[2018-12-14 19:16] eygraber commented on #150
Just had this happen on 8.0.14 while recording screen:

[code]

[2018-12-14 19:32] eygraber opened #151 "Screen recording resets if the app requests permission or goes into the background"
As the title says, users and QA are upset when the recording stops in middle of what they want to show us.

[2018-12-17 18:30] alexsullivan114 opened #152 "Noticing a lot of crashes"
### Steps to Reproduce the Problem

Nothing specific, since the crashes happen randomly

### Expected Behavior

No crashes

### Actual Behavior

A non trivial number of crashes

### Instabug integration code
[code]
...

`myOkHttpClient.addInterceptor(InstabugOkhttpInterceptor())`

...

[code]

^ In my `BaseActivity`

### SDK Version

Multiple versions, currently seeing a crash on `8.0.13`

### And

[2018-12-17 18:45] SudoPlz opened #153 "Attempt to invoke virtual method 'java.util.List com.instabug.library.annotation.d.a()' on a null object reference"
Hi, this happened on one of our production customer devices.

[code]

### Steps to Reproduce the Problem

![image](https://user-images.githubusercontent.com/3070948/50107829-58a4cf00-023c-11e9-9490-137db0515d6d.png)

### Actual Behavior
App crash

### SDK Version
"instabug-reactnative": "8.0.18",

### React Native, iOS and Android Versions
"react": "16.4.1",
"react-native": "0.56.0",
**Android API

[2018-12-18 07:35] HeshamMegid commented on #153
@SudoPlz we're looking into this crash.

I've moved the issue to our Android SDK repo since it's causing the crash.

[2018-12-18 10:57] joost-klitsie commented on #69
@ZOlbrys I see leaks from Leak Canary again:
It could be the OS as it is flagged as EXCLUDED LEAK, but here it is anyway

[code]

[2018-12-19 15:47] mateusgrb opened #154 "Release notes?"
Hello everyone,

I thought I'd find here releases and release notes of each sdk version, like I can see on Instabug-React-Native, Instabug-iOS and other libraries. However there's just a single release from 2015 and `CHANGELOG.md` hasn't been updated since February. Where can we find such information? It's a bit hard to keep track of what's going on.

[2018-12-19 16:43] vezikon commented on #154
Hi @mateusgrb, we're working on automating updating the change log on the Repo at the moment so we don't miss updating it with every release. However, you find our updated change log on our dashboard.

[2018-12-19 16:47] vezikon commented on #152
Hi @alexsullivan114,

Does your app have multiple processes or a foreground service?

[2018-12-19 16:48] alexsullivan114 commented on #152
Nope.

[2018-12-19 17:02] vezikon commented on #150
Hi @eygraber, Thank you for reporting this. We will look into it and provide you with a solution really soon.

[2018-12-19 17:17] vezikon commented on #151
@eygraber The screen recording designed to only record inside the app, whenever the app goes to the background it stops and it attaches it to the bug report.

As for the issue with permission requests, I couldn't reproduce this on my own. Does happen with a certain type of permission? I'm assuming that we are talking about version 8.0.14

[2018-12-19 19:28] mateusgrb opened #155 "Memory leak in InstabugInternalTrackingDelegate"
The field `activityInstance` from `InstabugInternalTrackingDelegate` is leaking the instance of the last activity to be finished in my app.

### Steps to Reproduce the Problem
Run app that has instabug library added. Press back on home activity(last in the backstack).

### Expected Behavior
App closes without memory leaks.

### Actual Behavior
App closes with a memory leak:
![device-2018-12-19-160

[2018-12-20 12:49] vezikon commented on #152
Can you share with me the crashes coming from `BugReportingFragment` and `AnnotationView`?

[2018-12-20 13:35] vezikon commented on #143
Hi @SimonPSH, `8.0.14.11-SNAPSHOT` should solve your issue.

Please, don't forget to add this to your app-level build.gradle file in order to grab the snapshot.

[code]

[2018-12-20 13:36] vezikon commented on #150
Hi @eygraber, `8.0.14.11-SNAPSHOT` should solve your issue.

Please, don't forget to add this to your app-level build.gradle file in order to grab the snapshot.

[code]

[2018-12-20 14:55] vezikon commented on #155
Hi @mateusgrb, `8.0.14.12-SNAPSHOT` has the fix for this.

Please, don't forget to add this to your app-level build.gradle file in order to grab the snapshot.

[code]

[2018-12-20 15:31] mateusgrb commented on #155
@vezikon thanks. Is that a stable version or should I wait for `8.0.15`?

[2018-12-26 10:04] you96m commented on #123
@ramiimagdi any fix for that?

[2018-12-26 10:31] vezikon commented on #155
@mateusgrb it is stable.

[2018-12-27 08:55] AbdulrahmanGamal opened #156 "Instabug shaking is not working in samsung note8"
### Steps to Reproduce the Problem

### Expected Behavior
Instabug feedback dialoge  shown when shaking
### Actual Behavior
Instabug feedback dialoge not shown when shaking

### SDK Version
SdkVersion 28
### Android Version
Android 8.0.0 API 26
### Device Model
SM-N950F

[2019-01-03 14:42] mussa-ibragimov opened #157 "OutOfMemoryError"
I'm having these crash reports in my google play console.

### Instabug 8.0.9

### Android 8.1

### Samsung Galaxy Note9 (crownlte)

[code]

[2019-01-03 15:15] pjastrz opened #158 "instabug leaking HandlerThreads"
### Steps to Reproduce the Problem
- go to some other application/open list of open applications
- go back to instabug enabled application
### Expected Behavior
no new HandlerThreads are created, or old ones are stopped and cleaned up
### Actual Behavior
A bunch of new HandlerThread are created, even though same already exist. For example:
`AnalyticsObserver, submit-surveys-handler, SessionProfile

[2019-01-04 15:18] nishtahir opened #159 "Crash caused by SQLite DB"
The app seems to crash as a result of SQLite failing to open the db file - it seems that this has happened before https://github.com/Instabug/Instabug-Android/issues/56

### Stacktrace
[code]
### Instabug integration code
[code]

### SDK Version
8.0.9

### Android Version
8.1.0

### Device Model
Samsung SM-N960U

[2019-01-06 14:51] salmamali commented on #153
@SudoPlz
This custom build fixes the issue. To install:
[code]
And add the following to your project level `build.gradle`

[code]

[2019-01-06 14:51] #153 closed

[2019-01-07 15:34] pjastrz opened #160 "Instabug throws NullPointerException"
### Steps to Reproduce the Problem
- go to some other application/open list of open applications
- go back to instabug enabled application
### Expected Behavior
No NullPointerException
### Actual Behavior
Occasionally NullPointerException is thrown, when `Application.onTrimMemory` is invoked by system, before `Activity.onResume` executes, so `Disposable` that Instabug tries to dispose is not yet i

[2019-01-07 15:41] SudoPlz commented on #153
Hey @salmamali thanks for the update.
What is the **public release version** for that?
It takes a lot of time to use custom versions so I only care about the public release one to update your sdk to that.

Thank you!

[2019-01-08 01:53] saadq opened #162 "Instabug shake only works on Android when phone has been locked + unlocked while app is running"
For whatever reason, shaking my device to open the Instabug dialog seems to only work on Android when I lock + unlock my device while the app is running. If I close the app and reopen it, I would need to lock + unlock my device again while the app is running in order to get it to work. Otherwise, nothing happens.

### Steps to Reproduce the Problem

First, I ran the following:

[code]

Then, I sim

[2019-01-08 09:35] hanaamohamed commented on #149
Hello Svalsan,
You can use this snapshot `    implementation 'com.instabug.library:instabug:8.0.14.28-SNAPSHOT'
`
this would fix your issue, and let me know if there's anything else

[2019-01-08 14:00] amitav13 commented on #137
I'm still seeing this with 8.0.14.

[2019-01-08 14:41] sembozdemir opened #161 "Crash: SecurityException in Android O"
We see a crash in Android O devices in our Crashlytics reports. Please see the stacktrace.
[code]

When I investigate this issue, I found [this one](https://issuetracker.google.com/issues/63622293) in Google Issue Tracker. There is something wrong with `JobIntentService` in Android O. I tried to find a workaround this. There is a workaround in OneSignal SDK. They have own `JobIntentService` implem

[2019-01-08 15:24] mzelzoghbi commented on #161
Hey @sembozdemir

Thanks for reporting this, you can use this snapshot
[code]

And don't forget to add this to your app `build.gradle` before your dependencies
[code]
Please let me know if everything works out.

[2019-01-08 16:46] alexsullivan114 commented on #152
@vezikon I'm sorry I don't know how I missed this. This is the latest crash I'm seeing in production in`BugReportingFragment`:

[code]
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.instabug.library.annotation.d.a()' on a null object reference
       at com.instabug.library.annotation.AnnotationView.getScaledDrawables(AnnotationView.java:150)

[2019-01-08 16:48] vezikon commented on #152
@alexsullivan114 does your app use an alarm manager or push notifications?

[2019-01-08 16:51] alexsullivan114 commented on #152
@vezikon No neither.

[2019-01-08 17:19] vezikon commented on #152
@alexsullivan114 Thank you, the annotation view crash was fixed in recent versions. The other crash we are on them. I'll provide you a fix for you really soon.

[2019-01-08 18:21] rdiaa commented on #160
Please check created a snapshot that should fix the issue.

To use the snapshot:
Add these to your app-level build.gradle file to grab snapshots:

dependencies {
 compile 'com.instabug.library:instabug:8.0.14.26-SNAPSHOT '
}

repositories {

maven {

url "https://oss.sonatype.org/content/repositories/snapshots"

}
}

[2019-01-08 18:21] #160 closed

[2019-01-09 08:51] rdiaa commented on #137
@amitav13  can you please check this snap-shot till this fix is released.

[2019-01-09 09:22] Darioszka commented on #68
Where I must use this override?

[2019-01-09 09:44] mzelzoghbi commented on #68
Hey @Darioszka,
Can I know which Instabug SDK version is causing the issue?

[2019-01-09 09:49] amitav13 commented on #137
@rdiaa what's the repo URL for accessing the snapshot? Studio couldn't resolve it from:
[code]

[2019-01-09 09:49] Darioszka commented on #68
Crashes on Oreo: Only fullscreen activities can request orientation

My Manifest is very simple:
<?xml version="1.0" encoding="UTF-8"?>

-<manifest android:versionCode="17" android:versionName="1.1.9" package="packageName" xmlns:android="http://schemas.android.com/apk/res/android">

<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="14"/>

<application> </application>

</manifest>

[2019-01-09 09:51] mzelzoghbi commented on #68
@Darioszka
Ok, but I mean **Instabug SDK Version** that you are using in your application

[2019-01-09 09:56] Darioszka commented on #68
Im using Unity and I have installed API 28 on Android Studio

[2019-01-09 10:17] mzelzoghbi commented on #68
@Darioszka This doesn’t seem related to the Instabug SDK. If it is, please open a new issue on our Unity SDK repo at https://github.com/Instabug/unity

[2019-01-10 06:55] rdiaa commented on #137
@amitav13
To use the snapshot:
Add these to your app-level build.gradle file to grab snapshots:

dependencies {
 compile 'com.instabug.library:instabug:`8.0.11.13-SNAPSHOT`'
}

repositories {

maven {

url "https://oss.sonatype.org/content/repositories/snapshots"

}
}

[2019-01-10 08:53] amitav13 commented on #137
@rdiaa the snapshot version seems to fix it!

[2019-01-10 19:21] rdiaa commented on #137
Glad to hear that

[2019-01-13 13:50] HeshamMegid commented on #153
@SudoPlz this is planned to be included in the next release, scheduled for the second week of Feb.

[2019-01-14 09:51] jdamcd commented on #126
Any news on when this fix will be included in a stable release @Korazy?

[2019-01-14 09:56] Muhammadyoussef commented on #158
Hey @pjastrz ,

We don’t have a specific date set yet but it should be released soon. We will keep you updated once it gets released, Thanks.

[2019-01-14 09:59] #158 closed

[2019-01-16 04:37] ZOlbrys commented on #123
Hi all, I am seeing a similar issue with Instabug 8.0.14 using Android Studio 3.3 in a project with Androidx dependencies setup.  See my test project here: https://github.com/ZOlbrys/InstabugProguardExample

Before adding Instabug dependency the release build worked fine.

Here's my output when I try to run `assembleRelease`

[code]

[2019-01-16 10:52] jdamcd opened #163 "Overriding RxJavaPlugins error handler"
Initialising the Instabug SDK overrides the `RxJavaPlugins` error handler, which changes the behaviour of RxJava usage in the host application. This was previously raised in https://github.com/Instabug/Instabug-Android/issues/126 and a fix was verified in `8.0.11.19-SNAPSHOT`. The issue persists in stable releases as of `8.0.15`.

### Steps to Reproduce the Problem

Initialise Instabug SDK via the

[2019-01-16 11:48] mzelzoghbi commented on #163
Unfortunately, we were unable to include the fix in the latest release, however, we will make sure to release it soon. I’ll update you once it is released. For now, we created a new snapshot **`8.0.15.1-SNAPSHOT`** that includes this RX fix plus the latest release fixes. It's completely safe to use and has no debug code at all.

[2019-01-17 06:15] mzelzoghbi commented on #123
Hey @ZOlbrys,

Thanks for Reporting this, we will release a hot-fix soon, I'll update you once it is released. For now you can use this snapshot.
[code]
And don't forget to add this to your app `build.gradle` before your dependencies
[code]
This snapshot is completely safe to use and has no debug code at all.

[2019-01-18 15:52] ZOlbrys commented on #123
Hi @mzelzoghbi - thanks for the quick response!

Using `8.0.15.6-SNAPSHOT` I am able to run the `assembleRelease` task successfully.

However, I still see a lot of the notes about `the configuration keeps the entry point...` etc. Do you know if these notes are something that needs to be corrected on the Instabug side? Or is there something I can do to avoid these? Sorry if it's a dumb question, I'

[2019-01-19 01:50] ZOlbrys commented on #123
@mzelzoghbi Awesome, thanks for the support!

[2019-01-21 10:09] vicobz commented on #128
Hey ! Just got this crash on Samsung S8 with Instabug 8.0.11

[2019-01-21 10:12] mzelzoghbi commented on #128
Hey @vicobz
Can you share with us the crash stacktrace?

[2019-01-21 10:46] vicobz commented on #128
Hey @mzelzoghbi,

Here is the stacktrace:

[code]

[2019-01-24 12:57] ArneKoeckeritz opened #164 "Screenshot feature not working with Android work profiles"
Hey devs,

the screenshot invocation bug report feature is broken on some Huawei devices.
It works on my Pixel2 XL but not ony my Huawei Mate 9.

Please tell me if you need more information, help or coordinated work to find and fix the bug.

### Steps to Reproduce the Problem
Install your app with integrated instabug (configured for screenshot invocation) on a Huawei device Honor9 or a Huawei Mate

[2019-01-27 10:52] mzelzoghbi commented on #144
Hey @MahmoudB, please feel free to reopen this thread again if you need further assistance on this issue, we'd love to help you out!

Thank you 😊

[2019-01-27 10:52] #144 closed

[2019-01-27 13:37] #91 closed

[2019-01-27 13:39] mzelzoghbi commented on #146
Hi @anilCFLAG, Thanks for reporting this. Can you please send the code you use to integrate instabug? Also, does this issue consistently occur across multiple devices or only this one?

[2019-01-27 14:57] mzelzoghbi commented on #157
Hi @mussa-ibragimov, Thanks for reporting this. Can you please upgrade to **8.0.16** ? it should fix this issue.

[2019-01-27 15:04] mzelzoghbi commented on #156
Hi @AbdulrahmanGamal, I’m closing this issue because it has been inactive for a month.

Please reopen if you still encounter this issue with the latest version **8.0.16**

Thank you! 😊

[2019-01-27 15:04] #156 closed

[2019-01-27 15:07] mzelzoghbi commented on #159
Hi @nishtahir, Thanks for reporting this. Can you please upgrade to *8.0.16* ? it should fix this issue.

[2019-01-28 09:13] mzelzoghbi commented on #140
@highthem @Yahyaali1 Thanks for reporting this.

We request the **WRITE_EXTERNAL_STORAGE**  when using Screenshot Invocation `InstabugInvocationEvent.SCREENSHOT`, so to workaround this, you can set invocation to `InstabugInvocationEvent.NONE` in the app class then you could change this in the runtime after your permission dialog using this API
[code]

And for disabling **intro**/**welcome** messag

[2019-01-28 09:13] #140 closed

[2019-01-28 09:15] mzelzoghbi commented on #143
Hi @SimonPSH, I’m closing this issue because it has been inactive for a month.

Please reopen if you still encounter this issue with the latest version *8.0.16*

Thank you! :blush:

[2019-01-28 09:15] #143 closed

[2019-01-29 09:07] tinquoine commented on #164
I have a same issue.

[2019-01-30 19:21] hanaamohamed commented on #164
Hello @ArneKoeckeritz, you can use this snapshot
`implementation 'com.instabug.library:instabug:8.0.19.2-SNAPSHOT'`
Also don't forget to include the below code:
`repositories {
    maven {
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}`

[2019-02-04 11:55] ArneKoeckeritz commented on #164
I will check today.

[2019-02-04 12:18] ArneKoeckeritz commented on #164
It's still not working with 8.0.19.2-SNAPSHOT

What is understand from the problem is that the screenshots are saved to the 'screenshot' directory of the **personal** profile even i use a app from the **work** profile. Looks like instabug cant access the personal directories, because of profile isolation.

[2019-02-05 21:56] Korazy commented on #127
@paradizIscool apologies for the late reply here 😅

 You can find the details of what we did to solve this issue in particular in this blog post [here](https://medium.com/@mohamed.zak/workaround-to-solve-securityexception-caused-by-jobintentservice-1f4b0e688a26).

Please feel free to reach out to us on our support channels or here on Github if you have any questions or issues.